body {
    background-image: url('/img/hout.jpg');
}

h1 {
    color: #000000;
}

h2,
h3 {
    color: #000000;
}

h4 {
    color: #CF7B9C;
    font-size: 18px;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #CF7B9C;
}

#container_socialmedia {
    position: absolute;
    margin-top: 5px;
    margin-left: 915px;
}

#header {
    background: url('/img/achtergrond_top.png');
    height: 150px;
    width: 960px;
    padding-left: 20px;
    padding-right: 20px;
}

#grotelogo {
    position: absolute;
    margin-top: 64px;
    margin-left: -62px;
    background-image: url(/img/Logo_hippe_geboortekaartjes.png);
    background-repeat: no-repeat;
    width: 263px;
    height: 182px;
    z-index: 1;
}

#grotelogo a {
    display: block;
    height: 175px;
    width: 199px;
    margin-top: -11px;
    margin-left: 22px;
}

#menu {
    display: none;
}

#custom_menu {
    margin-top: 33px;
}

#custom_menu a {
    padding: 0 56px;
    background: none;
    border: none;
    font-weight: normal;
}

#headermenu {
    padding: 50px 5px 10px 0px;
    width: 400px;
}

#headermenu a {
    color: #000000;
    font-weight: normal;
}

#headermenu a#headerbasket {
    width: 158px;
    height: 44px;
    background: url('/img/basket.png') 110px 0 no-repeat;
}

#basket_count {
    color: #cc6699;
}

#crumbs {
    margin-left: 35px;
    margin-top: -20px;
    font-weight: normal;
}

#crumbs a {
    font-weight: normal;
}

#submenu a {
    color: #000000;
}

ul.maincategory li a:hover,
a:active {
    font-weight: bold;
}

#categories {
    width: 138px;
    margin-top: 60px;
    margin-left: 25px;
}

ul.category li a {
    color: #000000;
}

ul.category li:hover a,
ul.category li.active a {
    color: #000000;
    font-weight: bold;
}

ul.category {
    list-style: none;
}

#pagecontent {
    width: 760px;
    margin-left: 10px;
    margin-top: -8px;
}

#mid {
    padding-top: 20px;
    background: url('/img/achtergrond_balkje.png');
    width: 960px;
    padding-left: 20px;
    padding-right: 20px;
}

#login {
    border: 1px solid #000000;
    width: 320px;
    margin-top: 20px;
}

#login input[type="text"],
#login input[type="password"] {
    width: 230px;
}

#registreer {
    border: 1px solid #000000;
    width: 320px;
    margin-top: 20px;
}

#registreer input[type="text"],
#registreer input[type="password"] {
    width: 180px;
}

#pw_recovery {
    border: 1px solid #000000;
    width: 320px;
}

#pw_recovery input[type="text"],
#pw_recovery input[type="password"] {
    width: 233px;
}

#introtekst {
    margin-left: 198px;
    margin-top: -40px;
    margin-bottom: -10px;
}

#polaroids-top,
.polaroids-top,
.polaroids-bottom {
    margin-left: 20px;
    margin-right: 22px;
    margin-top: 25px;
}

#footer {
    padding-top: 20px;
    background: url('/img/achtergrond_bottom.png');
    background-repeat: no-repeat;
    height: 420px;
    width: 960px;
    padding-left: 20px;
    padding-right: 20px;
}

#footer_table a {
    color: white;
    font-weight: normal;
}

#footer_table {
    margin: 0;
    padding-top: 50px;
    width: 900px;
    height: 100px;
    text-align: left;
    color: white;
}

#blokken_onderin {
    margin-left: 170px;
    margin-right: 20px;
    padding-bottom: 179px;
}

.blokken {
    height: 175px;
    width: 175px;
    margin-right: 20px;
    float: left;
    border: 1px solid #cf7b9c;
    border-radius: 5px;
}

#blokken1 {
    background-image: url('/img/blokken/papiersoorten.png');
}

#blokken2 {
    background-image: url('/img/blokken/enveloppen.png');
}

#blokken3 {
    background-image: url('/img/blokken/proefdruk.png');
}

#blokken4 {
    background-image: url('/img/blokken/contact.png');
    margin-right: 0;
}

.tekst_blokken {
    text-align: center;
    color: #cf7b9c;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px;
    font-size: 14px;
    border-radius: 5px;
}

.tekst_blokken a {
    color: #cf7b9c;
    text-decoration: none;
}

.tekst_blokken a:hover {
    text-decoration: underline;
}

#custom_balk_onder {
    clear: left;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    padding-left: 10px;
    background-image: url(/img/Menu_stippen.jpg);
    background-repeat: repeat;
    line-height: 30px;
    color: #FFF;
}

#hippetrouwkaarten {
    position: absolute;
    margin-top: -50px;
    margin-left: 470px;
}

#hippeverhuiskaarten {
    position: absolute;
    margin-top: -50px;
    margin-left: 635px;
}

#hippekerstkaarten {
    position: absolute;
    margin-top: -50px;
    margin-left: 800px;
}

#choiseblock a:link,
#choiseblock a:visited,
#choiseblock a:hover,
#choiseblock a:active {
    color: #FFFFFF;
    font-weight: normal;
}

.choice_div a {
    color: black;
    font-weight: normal;
}

a.button {
    color: #FFFFFF;
    font-weight: normal;
}

.button,
#categories .button {
    font-size: 12px;
    font-weight: normal;
}

#custom_balk_onder a {
    color: #fff;
}

#custom_balk_onder img {
    vertical-align: top;
    padding: 0 45px;
}
