body.geboortekaartjes h3,
body.trouwkaarten h3,
body.category h3,
body.jubileumkaarten h3 {
    color: #6aa9c9;
}

.widget_content ul li a {
    color: #919191;
}

.accordion {
    border-color: #efefef;
}

#filter_cards .accordion-button span {
    color: #6aa9c9;
}

#filter_menu li.tag-li label:hover span {
    background-color: #a2c2d0;
}

#filter_menu li input[type=checkbox]:checked+label span.custom_checkbox {
    background: #e4e4e4;
    background-image: none !important;
}

#filter_menu li input[type=checkbox]:checked+label span.custom_checkbox:after {
    font-family: kcicons;
    color: #6aa9c9;
    content: "\e010";
    font-size: 10px;
    line-height: 0.4em;
    vertical-align: text-top;
    padding-left: 1px;
}

#filter_menu label {
    font-weight: 400;
}
