/* Hide - in Template Style wel aanwezig ---------------------------------------------------------------------------- */

@media screen and (max-width: 479px) {
    .xs-0 {
        display: none !important;
    }

    .xsm-0,
    .sm-0,
    .md-0,
    .lg-0 {
        display: block !important;
    }
}

@media screen and (max-width: 767px) {
    .xs-0,
    .sm-0,
    .md-0,
    .lg-0 {
        display: block;
    }
    .xsm-0 {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .xs-0,
    .xsm-0,
    .md-0,
    .lg-0 {
        display: block;
    }

    .sm-0 {
        display: none;
    }
}

@media screen and (max-width: 1199px) {
    .xs-0,
    .xsm-0,
    .sm-0,
    .lg-0 {
        display: block !important;
    }

    .md-0 {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .xs-0,
    .xsm-0,
    .sm-0,
    .md-0 {
        display: block;
    }

    .lg-0 {
        display: none;
    }
}

/* Reset - Weglaten bij Template Style ------------------------------------------------------------------------------ */

#body_home #mid {
    margin-top: 5px;
}


@media screen and (min-width: 480px) {
    #body_home #mid {
        margin-top: 25px;
    }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {

    #body_home #mid {
        margin-top: 120px;
    }

}


@media screen and (min-width: 1200px) {
}


@media screen and (max-width: 991px) {
    #sidebar {
        display: none;
    }

}

/* Colors ----------------------------------------------------------------------------------------------------------- */

.birth-bg-bright {
    background-color: #7dcfc6 !important;
}

.marriage-bg-bright {
    background-color: #ffc5ba !important;
}

.jubilee-bg-bright {
    background-color: #ff6c6c !important;
}

.mourning-bg-bright {
    background-color: #c8c6b8 !important;
}

.invitation-bg-bright {
    background-color: #6aa9c9 !important;
}

.wish-bg-bright {
    background-color: #ffe092 !important;
}

/* Buttons ---------------------------------------------------------------------------------------------------------- */

.button {
    /*background-color: #a2c2d0;*/
    background-color: #75ceb5;
    color: #fff !important;
    border-radius: 4px;
    padding: 15px 20px;
    font-size: 17px;
    margin: 10px 0;
    border-bottom: none;
}

.button-small {
    font-size: 15px;
    padding: 10px 15px;
}

.button-large {
    font-size: 19px;
    padding: 20px 30px;
}

.button-arrow-right:after {
    font-family: kcicons;
    content: '\e008';
    margin-left: 5px;
    float: right;
}

/*.button-inline {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.button-inline:first-of-type {
    margin-left: 0;
}*/

/*.button-inline:last-of-type {
    margin-right: 0;
}
*/

.banner-create-together .button-inline {

    margin: 0 0px; 
}

@media screen and (min-width: 480px) {
    .button,
    .button-inline {
        display: inline-block;
    }
}


@media screen and (max-width: 767px) {
    .button,
    .button-inline {
        display: inline-block;
    }
}

/* Text-items ------------------------------------------------------------------------------------------------------- */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #575757;
}

h1 {
    line-height: 1.1em;
}

.streamer {
    width: 100%;
    text-align: center;
    color: #a2c2d0 !important;
    font-size: 20px;
    font-weight: 300;
    border-top: 1px solid #a2c2d0;
    border-bottom: 1px solid #a2c2d0;
    padding: 20px 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}


/* Page width reset homepage ---------------------------------------------------------------------------------------- */

#body_home #mid {
    width: 100%;
}

#body_home #pagecontent .container,
#body_home #pagecontent .container-fluid {
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

#body_home #pagecontent .container-fixed {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1199px) {
    .container {
        width: 100%;
    }

    #body_home #pagecontent .container-fixed {
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 767px) {
    #body_home #pagecontent .container-fixed {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

/* Banner ----------------------------------------------------------------------------------------------------------- */

.banner-large {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    Width: 100%;
    height: 180px;
    margin-top: 0;
}

.banner-large h2 {
    color: #6aa9c9 !important;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    /*Template Style = padding-top: 50px; */
}

body.category .banner-large h1 {
    color: #575757 !important;
    font-family: "Freeland" !important;
    font-size: 64px !important;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
}

@media screen and (max-width: 1199px) {
    .banner-large {
        min-height: 180px;
        height: auto;
    }

    .banner-large h1 {
        font-size: 72px;
        padding: 0 50px;
    }
}

@media screen and (max-width: 991px) {
    .banner-large h2 {
        font-size: 24px;
        padding-top: 20px;
    }

    .banner-large h1 {
        font-size: 60px !important;
        line-height: 0.8em;
        padding: 0 50px;
    }
}

@media screen and (max-width: 767px) {
    .banner-large {
        background-image: none !important;
        min-height: 50px;
        height: auto;
        margin-bottom: 20px;
    }

    .banner-large h2 {
        font-size: 20px;
        padding-top: 10px
    }

    .banner-large h1 {
        font-size: 36px !important;
        padding: 0;

    }

    body#body_home.category .banner-large h1 {
        display: none;
    }
}

/* Thumbnail buttons ------------------------------------------------------------------------------------------------ */

#thumbnails {
    margin-left: -12px;
    margin-right: -12px;
}

.thumbnail {
    margin-bottom: 24px;
    padding-left: 6px !important;
    padding-right: 6px !important;
}

.thumbnail-imgbutton {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.thumbnail-imgbutton:hover {
    opacity: 0.5;
    transition: opacity 0.5s;
}

.thumbnail-textbutton {
    width: 100%;
    height: 50px;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

@media screen and (max-width: 991px) {
   .thumbnail-button {
       height: auto;
   }

   .thumbnail-imgbutton {
       height: 180px;
   }
}

@media screen and (max-width: 767px) {
    .thumbnail-button {
        margin-bottom: 10px;
    }

    .xsm-6 .thumbnail-imgbutton {
        height: 200px;
    }

    .thumbnail-button-left {
        padding-right: 5px;
    }

    .thumbnail-button-right {
        padding-left: 5px;
    }

    .thumbnail-textbutton {
        font-size: 14px;
        height: 45px;
    }
}

@media screen and (max-width: 479px) {
    .thumbnail-button {
        margin-bottom: 20px;
    }

    .xs-12 .thumbnail-imgbutton {
        height: 160px;
    }

    .xs-6 .thumbnail-imgbutton {
        height: 100px;
    }
}

/* USP's ------------------------------------------------------------------------------------------------------------ */

.home-usps {
    background-color: #f2f8fa;
    border: 1px solid #a2c2d0;
    padding: 8px;
    margin: 10px 0;
}

.home-usps img {
    height: 40px;
    width: auto;
}

.home-usps img,
.home-usps ul {
    display: inline;
}

.home-usps ul li {
    display: inline;
    height: 40px;
    padding-top: 10px;
    padding-left: 30px;
    font-size: 16px;
}

@media screen and (max-width: 1199px) {
    .home-usps {
        padding: 15px;
        margin: 10px 6px;
    }

    .home-usps img {
        display: inline-block;
        width: 120px;

    }
    .home-usps ul {
        display: inline-block;
        width: calc(100% - 160px);
        float: right;
    }

    .home-usps ul li {
        white-space: nowrap;
        padding-right: 30px;
        padding-left: 0;
    }

    .home-usps ul li:first-of-type {
        padding-left: 0;
    }
}
@media screen and (max-width: 991px) {
    .home-usps {
        margin: 10px 0;
    }
}

@media screen and (max-width: 767px) {
    .home-usps {
        display: none;
    }
}

/* Welkom ----------------------------------------------------------------------------------------------------------- */

.welkom {
    padding: 20px 0;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
}

.welkom-image img {
    width: 100%;
    border: 6px solid #fff;
    box-shadow: 2px 4px 6px #eee;
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

.welcome-streamer-tablet {
    display: none;
}

@media screen and (max-width: 1199px) {
    .welcome-text h1 {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .welcome-text h1 {
        display: none;
    }

    .welcome-text .streamer {
        display: none;
    }

    .welcome-streamer-tablet {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .welkom {
        flex-direction: column;
        -webkit-flex-direction: column;
        padding: 0;
    }

    .welkom-image {
        padding: 0;
    }

    .welkom-image img {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .welcome-text h1 {
        display: none;
    }

    .welcome-text {
        order: 2;
        -webkit-order: 2;
    }

    .welcome-image {
        order: 1;
        -webkit-order: 1;
    }
}

/* Banner Create together ------------------------------------------------------------------------------------------- */

.banner-create-together {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    background-color: #FCFCFC;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
}

.banner-create-together img {
    display: none;
}


@media screen and (max-width: 991px) {
    .banner-create-together {
        background-image: none !important;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 10px;
    }

    .banner-create-together h2 br {
        display: none;
    }

    .banner-create-together img {
        margin-bottom: 20px;
        display: block;
    }
}

/* Inspiration - Footer homepage ------------------------------------------------------------------------------------ */

#home_items {
    margin-left: -12px;
    margin-right: -12px;
}

.home_item {
    padding: 0 6px;
}

.home_item h3 {
    height: 50px;
    font-size: 20px;
    line-height: 1.9em;
    margin-bottom: 0 !important;
    padding-top: 10px !important;
}

h1.inspiration {
    padding: 40px 0 20px 0;
}

.home_item p {
    margin-top: 15px;
}

.home_item {
    border-bottom: none !important;
}

.blog-list-new h3 {
    color: #fff !important;
}

@media screen and (max-width: 1199px) {
    #footer {
        position: relative;
        display: block;
    }
}

@media screen and (max-width: 991px) {
    h1.inspiration {
        padding: 30px 0 15px 0;
    }
}

.floatAdmin {
    top: 100px !important;
}
