@font-face {
    font-family: 'Freeland';
    src: url('/css/fonts/Trial by Cupcakes - Freeland.otf');
}

body.jubileumkaarten h1 {
    font-size: 22px;
}

body.uitnodiging-maken h1 {
    font-family: 'Raleway', cursive;
    font-size: 22px;
}

body.uitnodiging-maken h2 {
    font-size: 28px;
}

.zelf .card-block {
    background-color: #f8f9f9;
    border-color: #f8f9f9;
}

.icon-favorite-heart,
.icon-favorite-heart:after,
.icon-unfavorite-heart:after {
    display: inline-block;
}

.zelf .card-block .card-block-title {
    font-size: 22px;
}

.trouwkaarten.zelf .card-block .card-block-title {
    font-size: 30px;
}

.zelf-page.color-heading h3 {
    color: #df8070;
}

.thumbnail-banner > img {
    width: 100%;
}

.home_item img {
    width: 100%;
}

.home_item.last {
    padding-bottom: 12px;
    border-bottom: 5px solid #e8f2f5;
}

.banner-large {
    margin-bottom: 10px;
}

.welkom-image {
    padding: 26px 12px 0;
}

.welkom-image img {
    width: 100%;
}

.welkom-new h3 {
    margin: -5px 0 15px;
    padding: 0;
}

.blog-list-new .home_item {
    border-bottom: 5px solid #e8f2f5;
    border-top: none;
}

.blog-list-new .welkom-image {
    padding-top: 20px;
}

.blog-list-new .home_item h3 {
    margin-bottom: 0;
}

.blog-list-new .home_item.no-line {
    border: none;
}

.blog-list-new .home_item p.content-text {
    margin-top: -7px;
}

.blog-list-new .geboor-block h3 {
    background-color: #90cdc6;
    color: #fff;
}

.blog-list-new .trouw-block h3 {
    background-color: #f9c7bc;
}

.blog-list-new .uitno-block h3 {
    background-color: #89aec8;
    color: #fff;
}

.blog-list-new .rouw-block h3 {
    background-color: #c8c6b9;
    color: #fff;
}

.blog-list-new .wens-block h3 {
    background-color: #fee09b;
}

.blog-list-new .wens-block h3,
.blog-list-new .geboor-block h3,
.blog-list-new .trouw-block h3,
.blog-list-new .uitno-block h3,
.blog-list-new .rouw-block h3 {
    padding: 5px 10px 7px !important;
    margin: 20px 0 15px;
}

.geboortekaartjes .thumbnail + .caption h3 {
    color: #909090;
    font-size: 20px;
    margin: 0 0 3px;
}

.samen-section {
    background: #fefdfb;
    border: 1px solid #e3ebe7;
    padding: 14px 20px 20px;
    margin-bottom: 10px;
}

.samen-section,
.samen-section p {
    font-size: 12px;
}

.samen-section .heading {
    color: #8ac0cf;
    font-size: 24px;
    margin-bottom: 7px;
}

body.trouwkaarten #samen-form h3,
body.trouwkaarten .samen-section .heading {
    font-size: 30px;
}

#body_design a.save_user_design:before,
#body_design a.save_user_design.save_user_design_added:before {
    font-size: 20px;
    padding-right: 7px;
    vertical-align: middle;
    font-family: 'kcicons';
    color: #8ac0cf;
    display: inline-block;
}

#body_design a.save_user_design.save_user_design_added:before {
    content: 't';
}

#body_design a.save_user_design:before {
    content: 'u';
}

#body_design .box-primary .icon-favorite-heart {
    display: none;
}

.btn-default {
    display: inline-block;
    vertical-align: middle;
    color: #fff !important;
    background: #8ac0cf;
    padding: 10px 15px;
    border-bottom: 2px solid #759ba6;
    font-size: 14px;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
    -webkit-backface-visibility: hidden;
    -ms-transform: rotate(-1.5deg);
    -webkit-transform: rotate(-1.5deg);
    transform: rotate(-1.5deg);
}

.btn-default:hover {
    background: #8ac0cf;
}

.btn-default span {
    display: block;
    -ms-transform: rotate(1.5deg);
    -webkit-transform: rotate(1.5deg);
    transform: rotate(1.5deg);
}

.img-responsive {
    max-width: 100%;
    height: auto;
}


/* calculator*/

#calculator {
    max-width: 480px;
}

#calculator .cols {
    margin: 0 -10px;
}

#calculator .cols > div {
    padding: 0 10px;
}

#calculator .ttl {
    margin: 0;
    padding: 16px 0 4px 0;
}

#calculator .amount .ttl {
    padding: 16px 0 10px 0;
}

#calculator .result-cal input {
    border: none;
    padding: 0;
    background: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#amount-envelop,
#amount-card {
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    width: auto !important;
    padding: 0;
    height: auto;
}

#result-input {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    width: auto;
}

#result {
    color: #000;
}

.inclusief {
    color: #616161;
    font-size: 12px;
    display: block;
    line-height: 1.3;
    margin-top: 0;
}

.result-cal {
    margin-top: 18px;
    margin-bottom: 20px;
    background: #e5eee7;
    width: 100%;
    padding: 12px 20px 10px;
}

.alert {
    margin-bottom: 20px;
    font-size: 11px;
    padding: 0 0 0 10px !important;
    color: #999;
    font-style: italic;
    width: 393px;
}

#calculator #message {
    display: none;
    width: 403px;
    text-align: center;
    color: #F00;
    font-size: 18px;
    font-family: Arial;
}

.page-cal {
    width: 705px !important;
    height: 115px !important;
}

.page-cal a {
    top: 62px !important;
    font-size: 20px !important;
    height: 34px !important;
    line-height: 34px !important;
}

#calculator #sliderb,
#calculator #slider {
    background: #5e989a;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 10px;
    position: relative;
    height: 3px;
}

#calculator .ui-slider-horizontal .ui-slider-handle {
    display: block;
    height: 16px;
    position: absolute;
    z-index: 2;
    width: 16px;
    background: #6ac4c2 !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 1px #737373;
    box-shadow: 0 0 0 1px #737373;
    top: -0.4em;
}

#calculator table {
    width: 422px;
}

.result-cal table {
    width: 379px !important;
}

.wrap-sel {
    height: 31px;
    position: relative;
}

#calculator select {
    height: 31px !important;
    line-height: 31px;
    position: relative;
    width: 100% !important;
    z-index: 10;
    opacity: 1 !important;
    background: #e9ecf3;
    border: none;
    border-bottom: solid 2px #d7dae1;
    color: #000 !important;
    font-size: 14px;
    outline: none;
}

#calculator select:hover {
    border-bottom: solid 2px #5f969d;
    opacity: 1 !important;
}

#calculator select.ui-state-active {
    border-bottom: solid 2px #5f969d;
}

#calculator span.select {
    display: none;
}

#total {
    font-size: 12pt;
}

#total,
#price,
#priceb,
#pricec,
#priced,
#pricee,
#pricef,
#pricez {
    text-align: right;
    width: 60px;
}

#quoteme input {
    background: transparent;
    color: #ddd;
    font-family: Georgia;
    border: 0px solid #fff;
    margin-bottom: 20px;
}

#quoteme label {
    float: left;
    padding-top: 10px;
    display: block;
    color: #fff;
    font-family: Georgia;
    width: 340px;
}

#contenta {
    padding: 1px 0px 20px 0px;
    display: block;
    width: 400px;
    text-align: left;
    font-size: 12pt;
}

.pricepara {
    text-align: right;
    font-size: 14pt;
}

.pricepara #totalprice {
    padding-top: 0px;
    margin-top: 0px;
    border: 0px solid #000;
    font-size: 14pt;
    font-weight: bold;
}

#total {
    font-family: 'Georgia', arial;
    width: 100px;
    border: 0px solid #000;
    background: transparent;
    font-size: 38px;
    color: #fff;
}

#quoteme {
    width: 400px;
    display: block;
    background: #000;
    float: left;
    clear: both;
    padding: 30px 20px 10px 30px;
}

#slider,
#sliderb,
#sliderc,
#sliderd,
#slidere {
    width: 100%;
}

input#submitbtn {
    display: block;
    width: 200px;
    height: 38px;
    margin: 10px 0px 10px 0px;
    background: #ffe906;
    color: #000;
    font-size: 14pt;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
}

#amount-card,
#amount-envelop {
    border: none;
    background: none;
    width: 40px !important;
    text-align: left;
    color: #262626;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: -14px;
    top: -4px !important;
    text-align: right;
}

.ui-slider .ui-slider-range {
    border: none !important;
    background-color: #c17e93 !important;
}

.container {
    height: inherit;
}

body.trouwkaarten .nav-normal span {
    font-family: 'Rouge Script';
    font-size: 36px;
}

body.geboortekaartjes .nav-normal span {
    color: #686973;
    text-transform: uppercase;
    font-family: "Shadows Into Light", cursive;
    font-size: 20px;
}

body.trouwkaarten .nav-normal:hover,
body.geboortekaartjes .nav-normal:hover {
    background: #f8f9f9;
}

body.geboortekaartjes .samen-section h3 {
    color: #919191;
    font-size: 20px !important;
    margin-bottom: 15px;
    font-size: 14px;
}

.samen-section .cols {
    margin-left: -10px;
    margin-right: -10px;
}

.samen-section .cols > div {
    padding-left: 10px;
    padding-right: 10px;
}

.samen-section ol {
    padding: 0 0 0 15px;
}

body.trouwkaarten h3 {
    color: #df8070;
    font-family: 'Rouge Script';
    font-size: 32px;
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 1180px;
    }
}

.top-title-block {
    background-size: cover !important;
    margin-top: 0;
}

#topbanner .img {
    width: 100%;
}

#body_home-copy .top-title-block + .under-title,
#body_home-copy .top-title-block {
    display: none;
}

.thumbnail-button .thumbnail-button-button {
    opacity: .97;
}

@media only screen and (min-width: 480px) {
    .has-line {
        border-bottom: 5px solid #ebf0f6;
        padding-bottom: 24px !important;
        max-height: inherit;
        height: inherit;
    }
    .thumbnail-button.has-line .thumbnail-button-button {
        bottom: 24px;
    }
}

@media only screen and (max-width: 991px) {
    #pagecontent {
        float: none;
        width: 100%;
    }
}

.zelf .main-block {
    min-height: 120px;
}

.team-hipdesign {
    padding-top: 20px;
}

.tm-item {
    overflow: hidden;
    margin-bottom: 15px;
}

.tm-item .thumb {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

.tm-item .thumb img {
    width: 100%;
}

.tm-item .thumb div {
    position: absolute;
    bottom: -4px;
    right: -2px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
}

.tm-item .thumb span {
    display: block;
    position: relative;
    padding: 0 20px;
    height: 40px;
    line-height: 37px;
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    transform: rotate(-4deg);
}

.tm-item .caption p {
    margin: 0;
}

.team-hipdesign .cols > div {
    display: inline-block;
    vertical-align: top;
    float: none;
    margin-right: -4px;
}

#body_contact #pagebody h2,
#body_contact #pagebody h3 {
    font-family: Verdana;
    font-size: 20px;
}

#body_contact iframe {
    width: 100%;
    max-width: 710px;
}

.contactfrm input.error {
    border-color: red !important;
}

.contactfrm label.error {
    color: red;
    margin: 0;
    font-size: 12px;
}

.contactfrm ul li p {
    margin-bottom: 10px;
}

#ifr-calculator {
    width: 100%;
    height: 430px;
}

a.zoek {
    padding: 0 15px 0 10px !important;
    margin-top: -18px;
}

a.zoek.active {
    background-color: #e5e9e9 !important;
}

a.zoek:after {
    content: 's';
    font-family: 'kcicons';
}

.sForm form input {
    position: absolute;
    top: 0px;
    display: none;
    left: -298px;
    border: solid 3px #e5e9e9;
    border-right: none;
    outline: none;
    width: 300px;
    height: 41px;
    box-sizing: border-box;
    padding: 0 10px;
}

#body_zoeken #pagecontent {
    width: 100%;
}

#body_category label[for="save_custom_design_sort_button"] {
    display: none;
}

body[id^="body_over-ons"] #pagebody h2 {
    font-family: 'Dawning of a New Day';
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
    .navbar .middlebar ul.middlebar-menu-right > li:last-child {
        display: none;
    }
}

@media only screen and (max-width: 489px) {
    #ifr-calculator {
        height: 660px;
    }
}

@media only screen and (min-width: 480px) {
    .tm-item .thumb {
        float: left;
        width: 33%;
        margin-bottom: 0;
    }
    .tm-item .caption {
        float: left;
        width: 67%;
        padding: 0 10px;
        margin-top: -5px;
    }
}

#body_bestel_login {
    font-size: 20px;
}


/* Fix basket_n buttons iPhone werken niet */

#body_basket .pagecontentbasket_n {
    height: calc(100% - 500px);
    overflow: auto;
    padding-bottom: 240px;
}

#body_basket .pagecontentbasket_n #nav_buttons {
    left: calc(50% - 480px);
    bottom: 100px;
    width: 960px;
    position: fixed !important;
}

#body_basket .pagecontentbasket_n #nav_buttons #pagecontent-footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

#body_basket .pagecontentbasket_n h1 {
    color: #8ac0cf;
    ;
    margin-top: 30px;
    margin-bottom: 20px;
}

#body_basket .pagecontentbasket_n #basket_n td {
    padding: 5px 0px;
}

#body_basket .pagecontentbasket_n #basket_n a {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
    cursor: pointer;
    border-bottom: 2px solid #759ba6;
    background: #8ac0cf;
    color: #fff;
    text-decoration: none !important;
    margin-bottom: 30px;
    height: auto;
}

#body_basket .pagecontentbasket_n #basket_n a:hover {
    background-color: #74adbd;
}

body.jubileumkaarten #uitnodigingen {
    display: none!important;
}


/* Nieuwe mobiele editor */

@media screen and (max-width: 767px) {
    .ed .ed-header .logo {
        display: block !important;
    }
    .ed .ed-header .logo > img {
        height: 50px;
        width: 66px;
    }
    #ed-side-label {
        margin-top: 5px;
    }
    .ed-button {
        font-family: HelveticaNeue-Light, Arial narrow, sans-serif !important;
        font-size: 100% !important;
    }
    .sp-preview-inner {
        padding-top: 2px;
    }
    .bg_select,
    #clipartselect {
        font-family: HelveticaNeue-Light, Arial narrow, sans-serif !important;
        font-size: 100% !important;
    }
    .choice_center {
        margin-top: 15px;
    }
    .choice_center h1 {
        font-family: HelveticaNeue-Light, Arial narrow, sans-serif;
    }
    #cookie_message {
        position: absolute;
        bottom: 50px;
    }
    #voorbeeld-block {
        min-height: 200px;
    }
}


/* Nieuwe designpage - augustus 2016 */

#body_design #card_order_info .box-body h1 {
    display: none;
}

#body_design #card_order_info .add_to_collection i {
    display: none;
}

#body_design .add_to_collection {
    border: none;
    padding: 0px;
}

#body_design .open_calculator {
    border: none;
    padding: 10px 0px;
}

#body_design .priceHover {
    z-index: 9999999 !important;
    overflow: visible;
}

#body_design .design-content .container {
    overflow: visible;
}

#body_design .cardrail {
    overflow: visible;
}

#body_design .design-content {
    margin-left: 6px;
    margin-right: 6px;
}

.form-required {
    color: #8AC0CF!important;
}

body[id*="uitnodiging-maken"] .main-title,
body[id*="geboortekaartjes"] .main-title {
    color: #000;
    font: 20px AvenirLTStd-Medium;
    margin-top: 20px;
}

body[id*="geboortekaartjes"] .button-std {
    width: 100%;
    font-size: 20px;
    border-bottom-width: 8px;
}

body.subpage .item.jubi h2 {
    background-position: 0 -191px;
}

#tagli-mintgroen label {
    background: #c9e4d6!important;
}

#tagli-peach label {
    background: #f7c3b3!important;
}

#tagli-okergeel label {
    background: #e7b045!important;
}

@media screen and (min-width: 992px) {
    #mid {
        margin-top: -20px;
    }
    body[id*="geboortekaartjes"] .button-std {
        width: 100%;
        margin: 32% auto;
        max-width: 245px;
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .filCTA {
        display: none !important;
    }
    .open_mobile_filter:before {
        color: #fff;
    }
}

#body_design.wenskaarten .prijsOf tbody tr:nth-last-of-type(1) {
    display: none;
}

#body_hipste-babynamen-2016 #categories {
    display: none;
}

#body_eigen_collectie {
    background-color: #fff;
}

/** NEW MOBILE HEADER --------------------------------- **/



