#body_ontwerp-samen h1,
#body_ontwerp-samen2 h1 {
    text-align: center;
}

.three-column-overview {}

.three-column-overview p {
    font-size: 16px;
}

#template-fluid .three-column_introduction {
    text-align: center;
    padding: 0 16%;
}

.three-column-overview .three-column__items {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
}

.three-column-overview .three-column__items {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
}

.three-column-overview .three-column__items .xsm-6 {
    padding-left: 15px;
    padding-right: 15px;
}

.three-column__item {
    margin-bottom: 30px;
    border: 1px solid #dfe5e5;
    height: calc(100% - 30px);
    position: relative;
}

.three-column__item-thumbnail {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

.three-column__item-thumbnail:after {
    padding-top: 65%;
    /* 16:9 ratio */
    display: block;
    content: '';
}

.three-column__item-thumbnail img {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
    left: 0;
}

.three-column__item-content {
    padding: 15px;
}

h3.three-column__item-name {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1em;
}

h5.three-column__item-location {
    color: #A2C2D0 !important;
    font-weight: 500;
    line-height: 1.2em;
}

p.three-column__item-text {
    line-height: 1.1em;
}

.three-column__item-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.three-column__item-price {
    display: inline-block;
    color: #575757 !important;
    font-size: 18px;
    font-weight: 700;
    margin: 9px 0px;
}

.three-column__item-button {
    position: relative;
    display: inline-block;
    padding-right: 30px;
    margin: 0;
    background: #fff;
    color: #A2C2D0 !important;
    border: 1px solid #A2C2D0;
    transition: color 0.3s, background-color 0.3s;
}

.three-column__item-button:hover {
    background: #A2C2D0;
    color: #fff !important;
}

.three-column__item-button .icon {
    position: absolute;
    font-size: 0.9em;
    right: 10px;
    top: 12px;
}
