#body_newborn-fotografen h1,
#body_newborn-fotografen2 h1 {
    text-align: center;
}

.newborn-fotografen-overview {}

.newborn-fotografen_introduction {
    text-align: center;
    padding: 0 16%;
}

.newborn-fotografen-overview .newborn-fotografen__items {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
}

.newborn-fotografen-overview .newborn-fotografen__items {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
}

.newborn-fotografen-overview .newborn-fotografen__items .xsm-6 {
    padding-left: 15px;
    padding-right: 15px;
}

.newborn-fotografen__item {
    margin-bottom: 30px;
    border: 1px solid #dfe5e5;
    height: calc(100% - 30px);
    position: relative;
}

.newborn-fotografen__item-thumbnail {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

.newborn-fotografen__item-thumbnail:after {
    padding-top: 65%;
    /* 16:9 ratio */
    display: block;
    content: '';
}

.newborn-fotografen__item-thumbnail img {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
    left: 0;
}

.newborn-fotografen__item-content {
    padding: 15px 15px 60px 15px;
}

h3.newborn-fotografen__item-name {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1em;
}

h5.newborn-fotografen__item-location {
    color: #A2C2D0 !important;
    font-weight: 500;
    line-height: 1.2em;
}

.newborn-fotografen__item-button {
    margin: 0;
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: calc( 49% - 15px);
    background: #fff;
    color: #A2C2D0 !important;
    border: 1px solid #A2C2D0;
    transition: color 0.3s, background-color 0.3s;
}

.newborn-fotografen__item-button:hover {
    background: #A2C2D0;
    color: #fff !important;
}

.newborn-fotografen__item-button:nth-of-type(1) {}

.newborn-fotografen__item-button:nth-of-type(2) {
    left: calc(50% + 5px);
}

.newborn-fotografen__item-button .icon {
    position: absolute;
    font-size: 0.9em;
    right: 10px;
    top: 12px;
}
