/* Fix basket_n buttons iPhone werken niet */

#body_edit #add_photo {
    font-size: 14px;
    white-space: nowrap;
}

#body_basket .pagecontentbasket_n {
    height: calc(100% - 500px);
    overflow: auto;
    padding-bottom: 240px;
}

#body_basket .pagecontentbasket_n #nav_buttons {
    left: calc(50% - 480px);
    bottom: 100px;
    width: 960px;
    position: fixed !important;
}

#body_basket .pagecontentbasket_n #nav_buttons #pagecontent-footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

#body_basket .pagecontentbasket_n h1 {
    color: #8ac0cf;
    ;
    margin-top: 30px;
    margin-bottom: 20px;
}

#body_basket .pagecontentbasket_n #basket_n td {
    padding: 5px 0px;
}

#body_basket .pagecontentbasket_n #basket_n a {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
    cursor: pointer;
    border-bottom: 2px solid #759ba6;
    background: #8ac0cf;
    color: #fff;
    text-decoration: none !important;
    margin-bottom: 30px;
    height: auto;
}

#body_basket .pagecontentbasket_n #basket_n a:hover {
    background-color: #74adbd;
}


/* Nieuwe mobiele editor */

@media screen and (max-width: 767px) {
    .ed .ed-header .logo {
        display: block !important;
    }
    .ed .ed-header .logo > img {
        height: 50px;
        width: 66px;
    }
    #ed-side-label {
        margin-top: 5px;
    }
    .ed-button {
        font-family: HelveticaNeue-Light, Arial narrow, sans-serif !important;
        font-size: 100% !important;
    }
    .sp-preview-inner {
        padding-top: 2px;
    }
    .bg_select,
    #clipartselect {
        font-family: HelveticaNeue-Light, Arial narrow, sans-serif !important;
        font-size: 100% !important;
    }
    .choice_center {
        margin-top: 15px;
    }
    .choice_center h1 {
        font-family: HelveticaNeue-Light, Arial narrow, sans-serif;
    }
    #cookie_message {
        position: absolute;
        bottom: 50px;
    }
    #voorbeeld-block {
        min-height: 200px;
    }
    #body_eigen_collectie {
        background-color: #fff;
    }
}
