/*#body_design #card_order_info .box-body h1 {
    display: none;
}

#body_design #card_order_info .add_to_collection i {
    display: none;
}

#body_design .add_to_collection {
    border: none;
    padding: 0px;
}

#body_design .open_calculator {
    border: none;
    padding: 10px 0px;
}

#body_design .priceHover {
    z-index: 9999999 !important;
    overflow: visible;
}

#body_design .design-content .container {
    overflow: visible;
}

#body_design .cardrail {
    overflow: visible;
}

#body_design .design-content {
    margin-left: 6px;
    margin-right: 6px;
}*/

/* new ---- enkele weergave ---------------------------------------------- */


@media screen and (min-width: 1200px) {
    #body_design #mid h1,
    #body_design #mid .under-title,
    #body_design #mid .crumb-mobile {
        max-width: 1180px;
        margin-left: auto;
        margin-right: auto;
    }
}

#body_design .top-title-block {
    display: none;
}

#body_design .top-title-block {
    color: #000;
}

@media screen and (max-width: 767px) {
    #body_design .top-title-block {
    display: block;
}

    #body_design .top-title-block {
        line-height: 1.1em;
    }

    #body_design .crumb-mobile {
        top: 0;
    }
}

#body_design #crumbs .crumb-link {
    display: block;
}
@media screen and (max-width: 767px) {
    #body_design .crumb-mobile {
        position: relative;
    }
}

#body_design .crumb-mobile .crumb-link:before {
    font-family: kcicons;
    content: "\e00A";
    font-size: 10px;
    margin-right: 5px;
}

/*#body_design #crumbs {
    padding-left: 10px;
    padding-right: 10px;
}*/

/*#body_design #crumbs a,
#body_design #crumbs {
    color: #a2c2d0;
}


#body_design #crumbs a:first-of-type {
    margin-left: -6px;
}*/

#body_design .usps {
    display: none;
}

#body_design .under-title {
    border-bottom: none;
}

@media screen and (min-width: 1200px) {
    #body_design .lg-7 {
    width: 58.33333333%;
}

    #body_design .lg-5 {
        width: 41.66666667%;
    }
}

@media screen and (max-width: 767px) {
    #body_design .design-content {
        padding-top: 50px;
    }
}

#body_design .box-body {
    background: transparent !important;
    padding: 20px 0 0 0 !important;
}

@media screen and (max-width: 991px){
    #body_design .box-body h1 {
        padding-top: 0;
    }
}

#body_design .swiper-slide .img-responsive {
    max-width: 100%;
}

#body_design #card_order_info .box-body h1 {
    display: block !important;
    color: #000;
}

@media screen and (max-width: 767px) {
    #body_design #card_order_info .box-body h1 {
        display: none !important;
    }
}

#body_design #choose_preview {
    width: 75%;
    border-bottom: none;
    border-radius: 4px;
    padding-top: 6px;
    background-color: #75ceb5 !important;
    line-height: 1.6em;
    text-align: center;
}

#body_design .add_to_collection {
    width: 75%;
    border: 1px solid #6aa9c9;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
}

#body_design .add_to_collection .save_user_design {
    font-size: 15px;
}

#body_design .extra {
    display: none;
}

#body_design .extras h3 {
    font-size: 22px;
    font-weight: 700;
}

#body_design .extras a {
    display: block;
    margin-bottom: 20px;
}

#body_design .extras .ext-text,
#body_design .extras .ext-img {
    display: inline-block;
}

#body_design .extras .ext-img {
    width: 46px;
    height: 46px;
    margin-right: 10px;
    border-radius: 23px;
    border: 1px solid #6aa9c9;
    display: inline-block;
}

#body_design .extras .ext-img img {
    width: 70%;
    margin: auto;
    margin-top: 25%;
    display: block;
}

#body_design .extras .together .ext-img img {
    width: 50%;
    margin-top: 20%;
}

#body_design .extras .ext-text {
    color: #575757;
}

#body_design .extras .ext-text .ext-header {
    font-size: 1.2em;
    color: #6aa9c9;
}

#body_design .extras .ext-text .ext-header:after {
    font-family: kcicons;
    content: "f";
    margin-left: 5px;
    font-size: 10px;
}

@media screen and (max-width: 991px) {
    #body_design .extras {
        display: none;
    }
}

#body_design .open_calculator {
    width: 75%;
    border: 1px solid #6aa9c9 !important;
    border-radius: 4px;
    padding: 5px 8px !important;
}

#body_design .open_calculator i {
    color: #6aa9c9;
}

#body_design .open_calculator .openPrijsCalculator {
    text-transform: none;
    font-size: 15px;
}

@media screen and (max-width: 991px){
    #body_design #choose_preview,
    #body_design .add_to_collection,
    #body_design .open_calculator {
        width: 100%;
    }
}

#body_design .subheader {
    text-transform: none;
    font-size: 16px;
}

#body_design .cardrail {
    background: #fff;
    margin-top: 30px;
    margin-bottom: 100px;
    border-top: 1px solid #cacaca;

}


#body_design #card_previews_horizontal a img {
    max-width: inherit;
}

#body_design #card_previews_horizontal p {
    font-weight: 700;
    display: block!important;
    font-size: 24px;
    margin-bottom: 40px;
}

#body_design .cardrail #prev_page,
#body_design .cardrail #next_page {
    background: none !important;
    height: auto !important;
    margin-top: 170px;
    clear: both;

}

#body_design .cardrail #prev_page:after,
#body_design .cardrail #next_page:after {
    background-color: #a2c2d0;
    border-radius: 4px;
    padding: 10px;
    font-family: kcicons;
    font-size: 16px;
    color: #fff;
}

#body_design .cardrail #prev_page:after {
    content: "\e00A";
}

#body_design .cardrail #next_page:after {
    content: "\e008";
}


