/* Fix bestel-login */
#body_bestel_login .choice_center div.choice_block {
    background: #fff;
    border: 1px solid #dbf0e9;
    padding: 9px 15px;
    width: 178px;
    height: 280px;
    min-height: inherit;
    margin: 0 15px
}

#body_bestel_login .choice_block input[type="text"] {
    width: 147px;
    height: 32px;
    line-height: 32px;
    padding: 0 6px 0 0;
    margin: 2px 0 1px;
    color: #262626;
    font-size: 15px;
    text-indent: 5px;
    font-family: 'Open sans';
    border-width: 1px;
    border-style: solid;
    border-color: #b4b4b4 #b4b4b4 #d3d3d3 #d3d3d3;
    box-shadow: inset -1px 1px 0 #d3d3d3;
    -moz-box-shadow: inset -1px 1px 0 #d3d3d3;
    -webkit-box-shadow: inset -1px 1px 0 #d3d3d3
}

#body_bestel_login .choice_block input[type="password"] {
    width: 147px;
    height: 32px;
    line-height: 32px;
    padding: 0 6px 0 0;
    margin: 2px 0 1px;
    color: #262626;
    font-size: 15px;
    text-indent: 5px;
    font-family: 'Open sans';
    border-width: 1px;
    border-style: solid;
    border-color: #b4b4b4 #b4b4b4 #d3d3d3 #d3d3d3;
    box-shadow: inset -1px 1px 0 #d3d3d3;
    -moz-box-shadow: inset -1px 1px 0 #d3d3d3;
    -webkit-box-shadow: inset -1px 1px 0 #d3d3d3
}

#body_bestel_login div.choice_block input.button {
    width: 146px;
    height: 35px;
    padding: 3px 6px 2px 0;
    margin: 4px 0 5px 0;
    display: block;
    border: 1px solid #8ac0cf;
    color: #fff;
    background-color: #759ba6;
    font-size: 14px;
}

#body_bestel_login div.choice_block span.button {
    width: 146px;
    height: 35px;
    display: block;
    border: 1px solid #8ac0cf;
    color: #fff;
    background-color: #759ba6;
}
