.middlebar-menu-right .zoek {
    margin-top: -33px;
}





/* Font-reset ------------------------------------------------------------------------------------------------------- */

body,
h1,
h2,
h3,
h4,
h5,
.footer1 a,
.thumbnail-button .thumbnail-button-button,
body.category .accordion-button span,
#body_design .extra,
.navbar .middlebar ul.middlebar-menu-right>li>a,
body.geboortekaartjes h1,
body.geboortekaartjes h2,
body.uitnodiging-maken h1,
body.trouwkaarten h1,
body.jubileumkaarten h1,
body.rouwkaarten h1,
body.wenskaarten h1,
body.category h2,
body.subpage #service span,
body.trouwkaarten h3 {
    font-family: "proxima-nova" !important;
}

body.trouwkaarten h3 {
    font-size: 20px;
}

body,
h3,
.footer1 a,
.thumbnail-button .thumbnail-button-button,
body.category .accordion-button span,
#body_design .extra {
    font-size: 15px;
    line-height: 1.6em;
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font-size: 26px;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 1.6em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #575757 !important;
}

.welkom h3 {
    font-family: "proxima-nova"!important;
    font-weight: 700;
    font-size: 26px !important;
    margin-top: 24px;
    padding: 0px 0px 8px 0px;
    line-height: 30px;
}

.cptitle {
    text-align: left;
}

#body_edit #order_card {
    font-size: 16px;
}





/* NEW FOOTER ------------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 992px) {
    #footer .content-wrapper {
        top: 0 !important;
    }
}

#footer {
    padding-top: 0;
    margin-top: 20px;
}

#footer,
#footer .footer2 {
    background-color: #f2f8fa;
}

#footer .footer-header {
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer .footer-header .container {
    padding-left: 10px;
    padding-right: 10px;
}

#footer .footer-header p,
#footer .footer-header a {
    padding-top: 15px;
    color: #575757;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
    #footer .footer-header p {
        text-align: center;
    }
}

#footer .feedback-rating {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: #a2c2d0;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -5px;
    padding-top: 5px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

@media screen and (max-width: 480px) {
    #footer .rating {
        line-height: 30px;
    }
    #footer .feedback-rating {
        margin-left: 0;
        margin-top: -2px;
        padding-top: 2px;
    }
}

@media screen and (min-width: 481px) {
    #footer .rating br {
        display: none;
    }
}

#footer .logo-betalen-bezorgen {
    height: 28px;
    margin: 14px 8px;
}

#footer .logo-betalen-bezorgen.vs {
    padding: 5px 0;
}

@media screen and (max-width: 991px) {
    #footer .logo-betalen-bezorgen {
        height: 25px;
        margin: 14px 6px;
    }
}

@media screen and (max-width: 480px) {
    #footer .logo-betalen-bezorgen {
        margin: 6px 6px;
    }
    #footer .logo-betalen-bezorgen.tw {
        display: none;
    }
    #footer .logoos-betalen-bezorgen {
        display: none;
    }
    #footer .footer-header p {
        padding-top: 0;
    }
}

@media screen and (min-width: 481px) {
    #footer .logo-betalen-bezorgen.tw {
        display: inline-block;
        margin-left: 0;
    }
    #footer .logoos-betalen-bezorgen {
        display: inline-block;
    }
}

#footer .footer1 {
    padding-top: 48px;
    padding-bottom: 40px;
}

#footer .footer1 a,
#footer .footer1 p {
    font-size: 15px;
    line-height: 30px;
    color: #919191;
}

#footer .footer1 a:hover {
    color: #6aa6c9;
    text-decoration: none !important;
}

#footer .footer2 {
    padding-bottom: 20px;
    font-size: 15px;
    line-height: 30px;
    color: #919191;
}

#social-block {
    width: 100%;
}

@media screen and (max-width: 991px) {
    #social-block .social li {
        margin-bottom: 10px;
    }
}

#social-block .social .fb a,
#social-block .social .pt a,
#social-block .social .tt a,
#social-block .social .ig a {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-image: none;
    display: inline-block;
    text-indent: 0;
    margin-right: 15px;
}

@media screen and (max-width: 480px) {
    #social-block .social .fb a,
    #social-block .social .pt a,
    #social-block .social .tt a,
    #social-block .social .ig a {
        width: 36px;
        height: 36px;
        border-radius: 18px;
        margin-right: 8px;
    }
}

#social-block .social .fb a {
    background-color: #3b5998;
}

#social-block .social .pt a {
    background-color: #cb2027;
}

#social-block .social .tt a {
    background-color: #55acee;
}

#social-block .social .ig a {
    background-color: #125688;
}

#social-block .social .fb a:after,
#social-block .social .pt a:after,
#social-block .social .tt a:after,
#social-block .social .ig a:after {
    color: #fff;
    font-family: kcicons;
    font-size: 24px;
    display: inline-block;
    margin-left: 4px;
    margin-top: 8px;
}

#social-block .social .fb a:after,
#social-block .social .pt a:after,
#social-block .social .tt a:after,
#social-block .social .ig a:after {
    margin-left: 4px;
    margin-top: 5px;
}

#social-block .social .fb a:after {
    content: "\e016";
}

#social-block .social .pt a:after {
    content: "\e015";
}

#social-block .social .tt a:after {
    content: "\e017";
}

#social-block .social .ig a:after {
    content: "\e019";
}

.footer-logo {
    width: 70px;
    margin-right: 5px;
}





/** MOBILE FILTER FONT REPAIR --------------------------------------------**/

.mf *,
.mf__main ul.mob-tag-group-ul h3 {
    font-family: "proxima-nova", Verdana !important;
    font-weight: 500;
}





/** BRANDBAR ----------------------------------------------------------**/


/** see footer.html for placement of brandbar html, example footer from hip-design **/


/** THREE COLUMN SPECIFIC PAGES --------------------------------------------**/

a.newborn-fotografen__to-newborn {
    width: 100%;
    margin: 10px 0 0 0;
    float: right;
    text-align: left;
    position: relative;
}

a.newborn-fotografen__to-newborn .icon {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
}

.newborn-fotografen__region-select {
    width: 100%;
    float: left;
    margin-top: 10px;
    position: relative;
}

.newborn-fotografen__region-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    height: 42px;
    border-color: #8ac0cf;
    outline: none;
}

.newborn-fotografen__region-select .icon {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
}

.design-together .three-column__item {
    padding-bottom: 50px;
}

.design-together .three-column__item-footer-spread .three-column__item-button {
    margin-top: 5px;
    font-size: 14px;
}

.design-together .three-column__item-footer-spread>* {
    margin-top: 10px;
    min-width: 105px;
}

.design-together__info>div {
    padding: 15px;
}

@media screen and (min-width: 480px) {
    .newborn-fotografen__region-select,
    a.newborn-fotografen__to-newborn {
        width: auto;
        margin-top: 0px;
    }
    .newborn-fotografen__region-select select {
        padding-right: 30px;
    }
    a.newborn-fotografen__to-newborn {
        text-align: center;
    }
    a.newborn-fotografen__to-newborn .icon {
        position: relative;
        top: initial;
        right: initial;
    }
}

@media screen and (min-width: 768px) {
    .design-together__info .md-4 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (min-width: 992px) {
    .design-together .three-column__item-price {
        font-size: 18px;
    }
    .design-together .three-column__item-button {
        font-size: 15px;
    }
}



/** ADJUST CRUMBS AND TITLE -------------------------------------------**/

@media screen and (min-width: 768px) {
    #header {
        height: 0px;
    }
}

@media screen and (min-width: 992px) {
    #crumbs {
        margin-left: 10px;
    }
    .body-template-fluid #crumbs {
        margin-left: 0;
    }
    #body_design #crumbs {
        margin-left: 0px;
    }
    #categories {
        margin-top: 1px;
    }
}



/** ADJUST USP BULLETS #275 -------------------------------------------**/

#body_design .desUsp,
#body_product .product-usp {
    padding: 10px 15px;
}

#body_design .desUsp a,
#body_product .product-usp a {
    display: block;
}

#body_design .desUsp a:before,
#body_product .product-usp a:before {
    content: "\2714\0020";
    margin-right: 10px;
}





/** TROUWSTIJL HEADER IMAGES ------------------------------------------**/

.trouwstijl {
    position: relative;
}

.trouwstijl .left-header-side,
.trouwstijl .right-header-side {
    position: absolute;
    top: 0%;
    z-index: -1;
    opacity: 0.8;
}

.trouwstijl .left-header-side {
    left: 0%;
    transform: translate(-50%, -50%);
}

.trouwstijl .right-header-side {
    right: 0%;
    transform: translate(50%, -50%);
}



@media only screen and (max-width: 635px) {
    .thumbnail-button .thumbnail-button-button {
        font-size: 14px!important;
        padding: 10px 0 0 0 !important;
    }
}


.button.button-birth {
    display: block;
}





/** GENERAL-USP --------------------------------------------------------**/

.usp-block {
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 20px 0;
    width: 100%;
}

.usp-block a {
    display: block;
    list-style-position: inside;
    color: #444;
    text-decoration: none!important;
    font-size: 90%;
}

.usp-block a:before {
    content: "\2714\0020";
    margin-right: 10px;
}

/** MOBILE MENU -------**/

.navbar .middlebar ul.middlebar-menu-right>li.open>ul {
    display: block;
}

