#sidebar {
    margin-top: 10px;
}

.accordion {
    border: none;
    border-top: 1px solid #e1eef2;
}

@media screen and (max-width: 767px) {
    .accordion {
        border-top: none;
    }
}

.accordion>a:hover {
    background-color: transparent !important;
}

@media screen and (max-width: 767px) {
    .accordion a span {
        display: none;
    }
}

body.geboortekaartjes .accordion-button span,
body.trouwkaarten .accordion-button span,
body.uitnodiging-maken .accordion-button span,
body.jubileumkaarten .accordion-button span,
body.rouwkaarten .accordion-button span,
body.wenskaarten .accordion-button span {
    color: #575757;
}

body.geboortekaartjes .accordion-body a,
body.trouwkaarten .accordion-body a,
body.uitnodiging-maken .accordion-body a,
body.jubileumkaarten .accordion-body a,
body.rouwkaarten .accordion-body a,
body.wenskaarten .accordion-body a {
    color: #6aa9c9;
}

.accordion {
    margin-top: 0;
}

.accordion a i {
    color: #a2c2d0;
}


/* let op pijltje is gereset naar down */

.accordion .icon-chevron-right:after {
    content: "\e007";
    font-size: 10px;
}


/* let op pijlte is gereset naar up */

.accordion .icon-chevron-down:after {
    content: "\e009";
    font-size: 10px;
}
