/* New header ------------------------------------------------------------------------------------------------------- */

html,
body {
    overflow-y: auto;
}

.navbar {
    background-color: transparent;
    height: 125px;
}

#visual-content {
    display: none;
}

.navbar .topbar {
    background-color: #f2f8fa;
    border-bottom: none;
    height: 40px;
    /* Weglaten bij template-style */
}

.navbar .topbar .logosmall {
    max-height: 60px;
}

@media screen and (max-width: 767px) {
    .navbar .topbar .logosmall {
        max-height: 40px;
    }
}

.navbar .topbar .topbar-menu-right ul li a,
body.geboortekaartjes .topbar a,
body.geboortekaartjes .topbar i,
body.geboortekaartjes .topbar span,
body.trouwkaarten .topbar a,
body.trouwkaarten .topbar i,
body.trouwkaarten .topbar span,
body.uitnodiging-maken .topbar a,
body.uitnodiging-maken .topbar i,
body.uitnodiging-maken .topbar span,
body.jubileumkaarten .topbar a,
body.jubileumkaarten .topbar i,
body.jubileumkaarten .topbar span,
body.rouwkaarten .topbar a,
body.rouwkaarten .topbar i,
body.rouwkaarten .topbar span,
body.wenskaarten .topbar a,
body.wenskaarten .topbar i,
body.wenskaarten .topbar span {
    font-size: 15px;
    color: #919191!important;
    line-height: 1em;
}

.navbar .topbar .topbar-menu-right ul li a:hover {
    color: #a2c2d0;
}

.navbar .topbar .topbar-menu-right #headerbasket,
body.geboortekaartjes .topbar #headerbasket,
body.trouwkaarten .topbar #headerbasket,
body.uitnodiging-maken .topbar #headerbasket,
body.jubileumkaarten .topbar #headerbasket,
body.rouwkaarten .topbar #headerbasket,
body.wenskaarten .topbar #headerbasket {
    background-color: #a2c2d0 !important;
    color: #fff!important;
}

.navbar .topbar .topbar-menu-right #headerbasket a,
.navbar .topbar .topbar-menu-right #headerbasket i,
.navbar .topbar .topbar-menu-right #headerbasket span {
    color: #fff;
}

.navbar .topbar .topbar-menu-right ul li a:hover {
    color: #a2c2d0 !important;
    text-decoration: none;
}

.navbar .topbar .dropdown a {
    background-color: transparent;
}

.navbar .topbar .topbar-menu-right ul li {
    padding: 7px 5px;
}

.navbar .middlebar {
    top: 40px;
    height: 90px;
    border-bottom: 1px solid #efefef;
}

.navbar .middlebar ul.middlebar-menu-right li a {
    background: transparent;
    border-bottom-color: transparent;
    /*Template style = line-height: 40px;*/
    line-height: 80px;
    font-size: 16px;
    color: #000;
    padding: 0 11px;
}

@media screen and (max-width: 767px) {
    .navbar .middlebar ul.middlebar-menu-right li a {
        padding: 5px 11px;
    }
}

.navbar .middlebar ul.middlebar-menu-right li #geboortekaartjes.active,
.navbar .middlebar ul.middlebar-menu-right li #trouwkaarten.active,
.navbar .middlebar ul.middlebar-menu-right li #uitnodiging-maken.active,
.navbar .middlebar ul.middlebar-menu-right li #jubileum-kaarten.active,
.navbar .middlebar ul.middlebar-menu-right li #rouwkaarten.active,
.navbar .middlebar ul.middlebar-menu-right li #wenskaarten.active {
    background-color: transparent;
    color: #000;
}

.navbar .middlebar ul.middlebar-menu-right li #geboortekaartjes:hover,
.navbar .middlebar ul.middlebar-menu-right li #geboortekaartjes.active {
    border-bottom-color: #7dcfc6;
}

.navbar .middlebar ul.middlebar-menu-right li a.zoek {
    /*Template style = margin-top: 3px;*/
    margin-top: -25px;
}

@media screen and (min-width: 992px) {
    .navbar .middlebar ul.middlebar-menu-right li a.zoek {
        display: none;
    }
    .sForm form input {
        display: inline-block;
        left: 0;
        position: relative;
        margin: 20px 0;
        border: 1px solid #e5e9e9;
        width: 150px;
        outline: none;
        padding: 0 5px;
        font-family: "proxima-nova";
    }
    .sForm form button {
        display: block;
        position: absolute;
        right: 5px;
        top: 32px;
        background: transparent;
        border: transparent;
    }
    .sForm form button:after {
        font-family: kcicons;
        content: 's';
        display: inline-block;
    }
}

.navbar .middlebar .collapse .logo {
    height: 70px;
    top: 10px;
}

.navbar .middlebar .collapse .logo img {
    height: 70px;
}

#body_home .usps {
    display: none;
}

.icon-blog:after {
    content: "p";
}

@media screen and (max-width: 991px) {
    .navbar {
        height: 55px;
    }
    .navbar .navbar-hamburger {
        display: block;
        background: none;
        border: none;
        outline: none;
        margin: 10px;
    }
    .navbar .topbar .basket-m {
        display: none;
    }
    .navbar .topbar .topbar-menu-right {
        top: 0;
    }
    .navbar .navbar-hamburger .icon-bar {
        border-radius: 5px;
        display: block;
        margin: 4px 0;
        width: 28px;
        height: 3px;
        background-color: #64686D;
    }
    .navbar .topbar .topbar-menu-right {
        display: block;
    }
    .navbar .middlebar ul.middlebar-menu-right {
        left: 0;
    }
    .navbar .middlebar ul.middlebar-menu-right li {
        position: relative;
        display: block;
        vertical-align: middle;
        height: auto;
        width: 100%;
    }
    .navbar .middlebar ul.middlebar-menu-right li a {
        width: 100%;
        line-height: 3;
    }
    .navbar .middlebar ul.middlebar-menu-right>li a:hover,
    .navbar .middlebar ul.middlebar-menu-right>li a:focus,
    .navbar .middlebar ul.middlebar-menu-right>li a:active {
        background: #fff;
        border-radius: 0;
    }
    .navbar .middlebar ul.middlebar-menu-right li #geboortekaartjes.active,
    .navbar .middlebar ul.middlebar-menu-right li #geboortekaartjes:hover,
    .navbar .middlebar ul.middlebar-menu-right li #trouwkaarten.active,
    .navbar .middlebar ul.middlebar-menu-right li #trouwkaarten:hover,
    .navbar .middlebar ul.middlebar-menu-right li #uitnodiging-maken.active,
    .navbar .middlebar ul.middlebar-menu-right li #uitnodiging-maken:hover,
    .navbar .middlebar ul.middlebar-menu-right li #jubileum-kaarten.active,
    .navbar .middlebar ul.middlebar-menu-right li #jubileum-kaarten:hover,
    .navbar .middlebar ul.middlebar-menu-right li #rouwkaarten.active,
    .navbar .middlebar ul.middlebar-menu-right li #rouwkaarten:hover,
    .navbar .middlebar ul.middlebar-menu-right li #wenskaarten.active,
    .navbar .middlebar ul.middlebar-menu-right li #wenskaarten:hover {
        border-bottom: none;
    }
    .navbar .middlebar ul.middlebar-menu-right>li ul li a {
        padding-left: 20px;
    }
    .navbar .middlebar ul.middlebar-menu-right>li a.zoek {
        display: none;
    }
    .navbar .middlebar ul.middlebar-menu-right>li ul li a:hover,
    .navbar .middlebar ul.middlebar-menu-right>li ul li a:focus,
    .navbar .middlebar ul.middlebar-menu-right>li ul li a:active {
        background: transparent;
    }
    .navbar .collapse {
        position: fixed;
        display: none;
        background: #f2f8fa;
        width: 100%;
        overflow-y: scroll;
        top: 55px;
        left: 0;
        bottom: 0;
    }
    .navbar .topbar .logosmall {
        padding-left: 40px;
        margin-top: -22px;
    }
    .basket-m {
        display: block;
    }
    .navbar .topbar {
        height: 55px;
    }
    .navbar .topbar .topbar-menu-right {
        display: block;
    }
    .navbar .topbar .topbar-menu-right ul li a {
        padding-top: 2px;
        font-size: 20px;
    }
    .navbar .topbar .topbar-menu-right ul li a span {
        display: none;
    }
    .navbar .topbar .topbar-menu-right #navbar-basket {
        display: inline-block;
    }
    .navbar .middlebar {
        height: 0;
    }
    /*.navbar .collapse {
        display: none;
    }*/
}

@media screen and (max-width: 767px) {
    .navbar {
        background-color: transparent;
    }
    .navbar .navbar-hamburger {
        margin: 0;
    }
    .navbar .topbar {
        width: 100%;
        padding: 5px 0 !important;
    }
    .navbar .topbar .basket-m {
        display: block;
    }
    .navbar .topbar .topbar-menu-right {
        display: none;
    }
    .navbar .topbar .logosmall {
        padding-left: 0;
        margin-top: 0;
    }
    .navbar .middlebar ul.middlebar-menu-right li a {
        line-height: 1.2;
    }
    .navbar .middlebar ul.middlebar-menu-right .dropdown-content a {
        color: #000;
    }
    #headerbasket {
        margin-top: -6px;
    }
}

#mid {
    margin-top: 0px;
    overflow: visible;
}

@media screen and (min-width: 480px) {
    #mid {
        margin-top: 25px;
    }
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {
    #mid {
        margin-top: 90px;
    }
}



.topbar .navbar-hamburger {
    display: none !important;
}

.navbar .topbar {
    background-color: #fff;
}

.navbar .topbar .logosmall {
    right: initial;
    left: 10px;
    top: 1px;
    width: 107px;
    height: auto;
}

.basket-m {
    top: 12px;
}

.navbar .topbar .login-m {
    display: block;
    position: absolute;
    right: 60px;
    top: 12px;
    font-size: 20px;
    color: #9c9d9d;
    cursor: pointer;
}

.navbar .middlebar {
    height: 37px;
    border-bottom-color: #E0E0E0;
    border-top: 1px solid #E0E0E0;
    background: #fff;
}

.nav-m {
    display: block;
    position: relative;
}

.nav-m .mobile-nav__menu {
    top: 0px;
    height: 35px;
    box-sizing: border-box;
    right: 0px;
    padding: 5px 10px;
    position: absolute;
    background-color: #86B8BE;
    color: #fff;
    transition: color 0.3s, background 0.3s;
    float: initial;
}

.nav-m .mobile-nav__menu:hover {
    background-color: #86B8BE;
}

.nav-m a {
    color: #575757;
}

.nav-m .navbar-hamburger > button {
    margin-top: 1px;
    display: inline-block;
    position: relative;
    float: left;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-color: transparent;
    outline: none;
    width: 29px;
    height: 16px;
    padding-left: 2px;
}

.nav-m .navbar-hamburger .icon-bar {
    width: 15px;
    height: 2px;
    margin: 3px 0;
    background-color: #fff;
    transition: background 0.3s;
    position: absolute;
    opacity: 1;
    transition: opacity 0.3s, top 0.3s, transform 0.2s;
}

.nav-m .navbar-hamburger .icon-bar:nth-child(1) {
    top: calc(50% - 5px);
}

.nav-m .navbar-hamburger .icon-bar:nth-child(2) {
    top: 50%;
}

.nav-m .navbar-hamburger .icon-bar:nth-child(3) {
    top: calc(50% + 5px);
}

.nav-m .navbar-hamburger.open .icon-bar:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
}

.nav-m .navbar-hamburger.open .icon-bar:nth-child(2) {
    opacity: 0;
}

.nav-m .navbar-hamburger.open .icon-bar:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
}

.mobile-nav__highlight-items {
    padding-left: 3px;
    font-size: 14px;
}

.mobile-nav__highlight-item a {
    line-height: 37px;
    padding: 0 3px;
    transition: color;
}

.mobile-nav__highlight-item a:hover {
    color: #8ac0cf;
    text-decoration: none;
}

.header-login-m {
    position: relative;
    background-color: #fff;
    padding: 15px 15px 0;
    margin-top: 50px;
    z-index: 9
}

.header-login-m:before {
    position: absolute;
    content: "";
    right: 58px;
    top: -13px;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #fff
}

.header-login-m .des {
    font-size: 16px;
    color: #4a4a4a;
    text-align: center
}

.header-login-m ul li {
    border-top: 1px solid #efefef
}

.header-login-m ul li a {
    display: block;
    padding: 12px 10px;
    color: #69c
}

.navbar .middlebar ul.middlebar-menu-right > li {
    border-bottom: 1px solid #E0E0E0;
}

.navbar .middlebar ul.middlebar-menu-right > li > a {
    color: #575757;
    line-height: 2.5em;
    padding: 5px 15px;
}

@media screen and (max-width: 991px) {
    .navbar .collapse {
        top: 92px;
        background: #fff;
    }
    .navbar .middlebar ul.middlebar-menu-right {
        padding: 0px;
    }
    .navbar .middlebar ul.middlebar-menu-right > li:after {
        font-family: kcicons;
        content: 'e';
        position: absolute;
        right: 15px;
        top: 14px;
        font-size: 12px;
        transition: transform 0.2s;
    }
    .navbar .middlebar ul.middlebar-menu-right > li.open:after {
        transform: rotate(180deg);
    }
    .navbar .middlebar ul.middlebar-menu-right > li:last-child {
        display: none;
    }
}

#mid {
    top: 50px;
    margin-bottom: 50px;
}

@media screen and (min-width: 480px) {
    #mid {
        margin-top: 0px;
    }
    .mobile-nav__highlight-items {
        padding-left: 5px;
        font-size: 16px;
    }

}

@media screen and (max-width: 767px) {
    .navbar .middlebar ul.middlebar-menu-right > li > ul.dropdown-content {
        display: flex;
        flex-wrap: wrap;
    }
    .navbar .middlebar ul.middlebar-menu-right > li > ul.dropdown-content > li {
        min-width: 50%;
        width: auto;
    }
    .navbar .middlebar ul.middlebar-menu-right > li > ul.dropdown-content > li > a {
        padding: 5px 15px;
        font-size: 14px !important;
        color: #86B8BE;
        font-family: "proxima-nova" !important;
    }
}

@media screen and (max-width: 991px) {
    .navbar .middlebar ul.middlebar-menu-right > li > ul.dropdown-content {
        display: flex;
        flex-wrap: wrap;
    }
    .navbar .middlebar ul.middlebar-menu-right > li > ul.dropdown-content > li {
        min-width: 50%;
        width: auto;
    }
    .navbar .middlebar ul.middlebar-menu-right > li > ul.dropdown-content > li > a {
        padding: 5px 15px;
        font-size: 14px !important;
        font-family: "proxima-nova" !important;
    }
}

@media screen and (min-width: 768px) {
    .navbar .middlebar {
        height: 0px;
        border-top: none;
        border-bottom-color: #efefef;
        background: #fff;
    }
    .navbar .collapse {
        top: 55px;
    }
    .navbar .collapse ul.middlebar-menu-right {
        padding-top: 20px;
    }
    .navbar .topbar {
        background-color: #f6fafb;
    }
    .topbar .navbar-hamburger {
        display: block !important;
    }
    .navbar .topbar .login-m {
        display: none;
    }
    .navbar .topbar .logosmall {
        right: initial;
        left: 10px;
        top: 1px;
        width: initial;
    }
    .nav-m {
        display: none;
    }
    #mid {
        top: 44px;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 992px) {
    .topbar .navbar-hamburger {
        display: none !important;
    }
    #mid {
        top: 120px;
        margin-bottom: 140px;
    }
    #body_home #mid {
        top: 0;
    }
    .navbar .middlebar {
        height: 56px;
        height: 90px;
    }
    .navbar .middlebar ul.middlebar-menu-right {
        padding-top: 5px;
    }
    .navbar .middlebar ul.middlebar-menu-right li a {
        padding: 0 10px;
        line-height: 80px;
    }
}
