.three-column-overview {}

.three-column-overview--medium {
    margin: 0 auto;
}

#template-fluid.three-column-overview--medium .three-column__introduction {
    text-align: left;
    padding: 0 0;
}

.three-column-overview p {
    font-size: 16px;
}

.three-column__introduction-buttons {
    height: 60px;
}

.three-column__links {
    text-align: center;
    margin-bottom: 30px;
}

.three-column-overview .three-column__items {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
}

.three-column__item {
    margin: 0 15px 30px 15px;
    border: 1px solid #A2C2D0;
    position: relative;
    padding: 0 0 25px 0;
    flex-grow: 1;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.three-column__item.xs-12 {
    width: calc(100% - 30px);
}

.three-column__item-thumbnail {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

.three-column__item-thumbnail:after {
    padding-top: 65%;
    /* 16:9 ratio */
    display: block;
    content: '';
}

.three-column__item-thumbnail img {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
    left: 0;
}

.three-column__item-content {
    padding: 15px;
}

h3.three-column__item-name {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.1em;
}

h5.three-column__item-location {
    color: #A2C2D0 !important;
    font-weight: 500;
    line-height: 1.2em;
    font-size: 16px;
}

p.three-column__item-text {
    line-height: 1.4em;
    font-size: 14px;
}

.three-column__item-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px 15px 15px;
}

.three-column__item-footer-spread > * {
    flex-grow: 1;
    flex-basis: 0;
    margin-left: 1%;
    margin-right: 1%;
}

.three-column__item-price {
    display: inline-block;
    color: #575757 !important;
    font-size: 16px;
    font-weight: 700;
    margin: 15px 5px 0 0;
}

.three-column__item-button {
    position: relative;
    display: inline-block;
    padding: 5px 15px 5px 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    background: #fff;
    color: #A2C2D0 !important;
    border: 1px solid #A2C2D0;
    transition: color 0.3s, background-color 0.3s;
}

.three-column__item-footer-spread .three-column__item-button {
    padding-right: 23px;
}

.three-column__item-button:hover {
    background: #A2C2D0;
    color: #fff !important;
}

.three-column__item-button .icon {
    position: absolute;
    font-size: 0.9em;
    right: 10px;
    top: 7px;
}

.three-column__item-link {
    position: absolute;
    display: inline-block;
    padding: 0px;
    left: 15px;
    bottom: 10px;
    color: #A2C2D0 !important;
    transition: color 0.3s;
}

.three-column__item-link:hover {
    color: #575757 !important;
}

.three-column__item-link .icon {
    position: relative;
    font-size: 0.9em;
    right: 0px;
    top: 3px;
}

@media screen and (min-width: 480px) {
    .three-column__item.xsm-6 {
        width: calc(50% - 30px);
    }
}

@media screen and (min-width: 768px) {
    #body_ontwerp-samen h1,
    #body_ontwerp-samen2 h1,
    #body_trouwstijl2 h1 {
        text-align: center;
    }
    #template-fluid .three-column_introduction {
        text-align: center;
        padding: 0 16%;
    }
    .three-column__introduction {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .three-column__item.sm-4 {
        width: calc(33.3% - 30px);
    }
}
