.top-title-block {
    background: none;
    padding: 0;
}

.under-title {
    border-bottom: none;
}

.under-title .usps {
    display: none;
}

#categories {
    padding-right: 20px;
}

#crumbs {
    color: #575757;
    font-size: 12px;
    margin-top: 7px;
    margin-bottom: 0px;
    padding-left: 0;
}

#crumbs a:first-of-type {
    color: #a2c2d0;
}

#pagebody h1 {
    margin: 20px 0;
    font-size: 28px;
}

.custom_content .cols {
/*    margin-left: -12px;
    margin-right: -12px;
*/}

.thumbnail img {
    border: 1px solid #e1eef2;
    ;
}

.thumbnail .thumbnail-button-button {
    width: calc(100% - 12px);
    color: #575757 !important;
    text-align: center;
    border-left: 1px solid #e1eef2;
    border-right: 1px solid #e1eef2;
    border-bottom: 1px solid #e1eef2;
    background-image: none;
    background: #fff;
    padding: 10px 0 0;
    opacity: 1;
    position: relative;
    display: block;
    width: 100%;
}

.page-menu {
    display: none;
}

@media screen and (max-width: 767px) {
    .custom_content .cols {
        margin-left: -6px;
        margin-right: -6px;
    }
    .thumbnail {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .thumbnail .thumbnail-button-button {
        margin: 0;
        width: 100%;
        position: relative;
        display: block;
    }
    body.geboortekaartjes h1.top-title-block {
        font-size: 22px !important;
    }
    .page-menu {
        display: block;
    }
    .page-menu h3 {
        font-size: 18px;
        font-weight: bold;
    }
    .page-menu ul li {
        background-color: #f2f8fa;
        margin: 2px 0;
        display: block;
        padding: 10px;
    }
    .page-menu ul li a {
        color: #575757;
    }
    .page-menu ul li a:after {
        font-family: kcicons;
        content: '\e008';
        color: #a2c2d0;
        float: right;
    }
}
