@charset "utf-8";

/* CSS Document */

@font-face {
    font-family: 'ChopinScriptMedium';
    src: url('/img/custom/fonts/chopinscript-webfont.eot');
    src: url('/img/custom/fonts/chopinscript-webfont.eot?#iefix') format('embedded-opentype'), url('/img/custom/fonts/chopinscript-webfont.woff') format('woff'), url('/img/custom/fonts/chopinscript-webfont.ttf') format('truetype'), url('/img/custom/fonts/chopinscript-webfont.svg#ChopinScriptMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    /*background-image: url('/img/hout.jpg');*/
    color: #403c3d;
}

h1 {
    color: #403c3d;
}

h2 {
    color: #403c3d;
}

h3 {
    color: #403c3d;
}

h4 {
    color: #CF7B9C;
    font-size: 18px;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #CF7B9C;
}

#container_socialmedia {
    position: absolute;
    margin-top: 5px;
    margin-left: 915px;
}

#header {
    background: none;
    /*background: url('/img/achtergrond_top.png');*/
    position: relative;
    z-index: 1;
    height: 150px;
    width: 940px;
    padding-left: 20px;
    padding-right: 20px;
}

#home {
    position: absolute;
    width: 422px;
    height: 80px;
    background: url(/img/custom/banner_text.png) no-repeat;
    left: 261px;
    top: 42px;
    z-index: 2;
}

#grotelogo {
    position: absolute;
    margin-top: 64px;
    margin-left: -62px;
    background-image: url(/img/Logo_hippe_geboortekaartjes.png);
    background-repeat: no-repeat;
    width: 263px;
    height: 182px;
    z-index: 1;
}

#grotelogo a {
    display: block;
    height: 175px;
    width: 199px;
    margin-top: -11px;
    margin-left: 22px;
}

#menu {
    display: none;
}

#custom_menu {
    margin-top: 33px;
}

#custom_menu a {
    background: none;
    border: none;
    font-weight: normal;
}

#custom_menu {
    margin: 0 0 0 0;
    height: 101px;
    width: 940px;
    clear: both;
    background: url(/img/custom/bg_menu.png) no-repeat;
    position: absolute;
    z-index: 1;
    top: 85px;
    padding-top: 20px;
}

#custom_menu a {
    margin: 0;
    font-family: "Century Gothic", Century, Arial;
    display: inline-block;
    line-height: 1.4;
    height: auto;
    color: white;
    font-size: 12px;
    padding: 0 30px 0 20px;
}

#custom_menu .cate {
    margin: 0;
    padding: 0 20px 0 60px;
    display: inline-block;
    margin-left: 180px;
}

#custom_menu .cate a {
    padding: 0 20px;
}

#headermenu {
    padding: 68px 0 10px;
    width: 400px;
}

#headermenu a {
    color: #000000;
    font-weight: normal;
    margin-right: 10px;
}

#headeraccount {
    display: none!important;
}

#headerhelp {
    width: 26px;
    height: 25px;
    background: url('/img/custom/icon_1.png') no-repeat;
}

#headermenu span {
    text-indent: -9999px;
    display: none;
}

#basket_count {
    text-indent: -9999px;
    display: block;
}

#headerlogin {
    width: 26px;
    height: 25px;
    background: url('/img/custom/icon_2.png') no-repeat;
}

#headerlogout {
    margin-top: 0!important;
    position: relative!important;
    margin-left: 0!important;
    width: 26px;
    height: 25px;
    background: url('/img/custom/ico_logout.gif') no-repeat;
}

#headermenu a#headerbasket {
    display: block;
    margin-right: 0;
    width: 26px;
    height: 25px;
    background: url('/img/custom/icon_3.png') no-repeat;
    float: right;
}

#basket_count {
    color: #cc6699;
}

#crumbs {
    display: none;
    margin-left: 35px;
    margin-top: -20px;
    font-weight: normal;
}

#crumbs a {
    font-weight: normal;
}

#submenu a {
    color: #000000;
}

ul.maincategory li a:hover,
a:active {
    font-weight: bold;
}

#categories {
    margin-left: 55px;
    margin-top: 60px;
    width: 150px;
}

#categories h3 {
    background: url("/img/custom/icon_katen.png") no-repeat scroll left 0 transparent;
    line-height: 15px;
    padding-left: 26px;
    margin-bottom: 0;
}

#categories h3 a {
    color: #000;
    margin: 0;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-indent: 15px;
}

#categories ul.category {
    padding: 0 0 0 26px;
    margin: 0 0 -10px;
}

#categories ul.category li {
    list-style: none;
    color: #db7f89;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 3px 0;
    background: none!important;
}

#categories ul.category li a {
    color: #da7d8e;
}

#categories ul.category li:hover a,
#categories ul.category li.active a {
    color: #000000;
    font-weight: bold;
}

#categories ul.category {
    list-style: none;
}

#pagecontent-before {}

#pagecontent {
    width: 713px;
    float: right;
    margin-top: -20px;
    padding-right: 5px;
}

#pagecontent .top-content {
    border: solid 9px #c5b49a;
    height: auto;
    overflow: hidden;
    clear: both;
}

#pagecontent .top-content ul {
    padding: 3px;
    margin: 0;
    float: left;
    height: auto;
    overflow: hidden;
}

#pagecontent .top-content ul li {
    float: left;
    list-style: none outside;
}

#pagecontent .top-content ul li img {
    vertical-align: top;
}

#pagecontent p {
    font: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#mid {
    position: relative;
    z-index: 2;
    padding-top: 20px;
    /*background: url('/img/achtergrond_balkje.png');*/
    width: 940px;
    padding-left: 20px;
    padding-right: 20px;
}

#login {
    border: 1px solid #000000;
    width: 320px;
    margin-left: -20px;
    margin-top: 20px;
}

#login input[type="text"],
#login input[type="password"] {
    width: 230px;
}

#registreer {
    border: 1px solid #000000;
    width: 320px;
    margin-left: 0;
    float: right;
    margin-top: 20px;
}

#registreer input[type="text"],
#registreer input[type="password"] {
    width: 180px;
}

#pw_recovery {
    border: 1px solid #000000;
    width: 320px;
    margin-left: -20px;
}

#pw_recovery input[type="text"],
#pw_recovery input[type="password"] {
    width: 233px;
}

#introtekst {
    margin-left: 198px;
    margin-top: -40px;
    margin-bottom: -10px;
}

#polaroids-top,
.polaroids-top,
.polaroids-bottom {
    margin-left: 20px;
    margin-right: 22px;
    margin-top: 25px;
}

#footer {
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 20px;
    /*background: url('/img/achtergrond_bottom.png');*/
    background-repeat: no-repeat;
    height: auto;
    width: 940px;
    padding-left: 20px;
    padding-right: 20px;
}

#footer_table a {
    color: white;
    font-weight: normal;
}

#footer_table {
    margin: 0;
    padding-top: 50px;
    width: 900px;
    height: 100px;
    text-align: left;
    color: white;
}

#blokken_onderin {
    padding-bottom: 179px;
}

.blokken {
    height: 214px;
    width: 214px;
    margin-right: 25px;
    float: left;
    border: 1px solid #cf7b9c;
    border-radius: 5px;
}

#blokken1 {
    background-image: url('/img/blokken/papiersoorten.png');
    background-repeat: no-repeat;
}

#blokken2 {
    background-image: url('/img/blokken/enveloppen.png');
    background-repeat: no-repeat;
}

#blokken3 {
    background-image: url('/img/blokken/proefdruk.png');
    background-repeat: no-repeat;
}

#blokken4 {
    background-image: url('/img/blokken/contact.png');
    margin-right: 0;
}

.tekst_blokken {
    text-align: center;
    color: #cf7b9c;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 138px;
    font-size: 14px;
    border-radius: 5px;
}

.tekst_blokken a {
    color: #cf7b9c;
    text-decoration: none;
}

.tekst_blokken a:hover {
    text-decoration: underline;
}

#custom_balk_onder {
    clear: left;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    padding-left: 10px;
    background-image: url(/img/Menu_stippen.jpg);
    background-repeat: repeat;
    line-height: 30px;
    color: #FFF;
}

#hippetrouwkaarten {
    position: absolute;
    margin-top: -50px;
    margin-left: 470px;
}

#hippeverhuiskaarten {
    position: absolute;
    margin-top: -50px;
    margin-left: 635px;
}

#hippekerstkaarten {
    position: absolute;
    margin-top: -50px;
    margin-left: 800px;
}

#choiseblock a:link,
#choiseblock a:visited,
#choiseblock a:hover,
#choiseblock a:active {
    color: #FFFFFF;
    font-weight: normal;
}

.choice_div a {
    color: black;
    font-weight: normal;
}

a.button {
    color: #FFFFFF;
    font-weight: normal;
}

.button,
#categories .button {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

#custom_balk_onder a {
    color: #fff;
}

#custom_balk_onder img {
    vertical-align: top;
    padding: 0 45px;
}

.fb_iframe_widget iframe {
    position: absolute;
    z-index: 1;
    right: -10px;
}

.home-content {
    text-align: center;
}

.home-content h2 {
    font-family: 'ChopinScriptMedium';
    font-size: 40px;
    margin-bottom: 0;
}

.home-content p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding-bottom: 20px;
}

#card_previews a img {
    width: 175px;
    height: auto;
}

#order_present_preview {
    background: url(/img/bg_box1.png) no-repeat 0 0!important;
}

#papier_preview,
#enveloppen_preview.top {
    background: url(/img/bg_box1.png) no-repeat 0 0!important;
}

#enveloppen_preview.top .title,
#papier_preview.top .title {
    height: 27px!important;
}

#enveloppen_preview #enveloppen,
#papier_preview #papier_content {
    border: 1px solid #da7d8e!important;
    border-top: none!important;
}

form #main_inner .address {
    background: url("/img/order_addresses_bg.png") no-repeat scroll 0 0!important;
    width: 581px;
    height: 456px;
}
