/*

This is the css file for the premium page. 

You need:
/css/premium_page.css
/css/js/components/premium_page.js

the content from /content/premium-page.html in a new page.

/**********/


/** PAGE **/


/**********/

#premium-page {
    width: 100%;
    color: #575757 !important;
}

#premium-page .cols {
    margin: 0px;
}

#premium-page h1 {
    font-size: 36px;
    margin: 0 0 0 0;
    color: #262626 !important;
    font-family: "proxima-nova" !important;
}

#premium-page h2 {
    font-weight: 500;
    margin: 10px 0;
    font-size: 28px !important;
    line-height: 1.2em;
}

#premium-page h4 {
    font-family: "Freeland" !important;
    font-size: 40px;
    line-height: 44px;
    padding: 0px;
    margin: 0px;
}

#premium-page .icon {
    vertical-align: middle;
    font-size: 12px;
}


/************/


/** HEADER **/


/************/

.premium-page-header {
    position: relative;
    width: 100%;
    background-color: #FFF;
    border: 2px 0 2px 0 grey;
}

.premium-page-header__image {
    background-size: cover;
}

.premium-page-header__image:before {
    content: "";
    float: left;
    /* div will remain 100% as tall as it is wide */
    padding-bottom: 70%;
}

.premium-page-header__image:after {
    content: "";
    display: table;
    clear: both;
}

#premium-page .premium-page-header__content h2 {
    font-size: 20px !important;
}

.premium-page-header__title-mobile {
    padding: 15px 20px;
    display: block;
}

.premium-page-header__title-mobile h4 {
    color: #caaa82 !important;
}

.premium-page-header__title-desktop {
    display: none;
}

.premium-page-header__title-desktop h4 {}

.premium-page-header__content {
    padding: 15px 20px;
}


/**********/


/** MENU **/


/**********/

.premium-page-header__menu {
    margin: 0 -6px;
}

.premium-page-header__menu.cloned {
    top: 40px;
    bottom: initial;
    display: none;
}

.premium-page-header__menu li {
    border-bottom: 1px solid #D9E5EA;
    padding: 8px 20px;
    display: block;
    width: 100%;
}

.premium-page-header__menu li:first-child {
    border-top: 1px solid #D9E5EA;
}

.premium-page-header__menu li:hover {
    color: #6aa6c9;
}

.premium-page-header__menu li .icon {
    float: right;
    padding: 0 10px;
    font-size: 12px;
}

.premium-page__scroll-to {
    cursor: pointer;
    transition: color 0.3s;
}

.premium-page__scroll-to:hover {
    color: #6aa6c9;
}

.premium-page__scroll-to.active {
    color: #6aa6c9;
}


/**************/


/** CATEGORY **/


/**************/

.premium-page__category {}

#premium-page .premium-page__category h2 {
    font-size: 20px !important;
}

#premium-page .premium-page__category h4 {
    margin: 28px 0px;
}


/** CATEGORY__INTRO **/

.premium-page__category .category-intro {
    width: 100%;
    background-color: #FEFDFB;
    overflow: hidden;
}

.premium-page__category .category-intro__content {
    background-color: #FEFDFB;
    padding: 15px 20px;
    position: relative;
    z-index: 2;
    -webkit-box-shadow: 50px 0px 40px 100px #fefdfb;
    /* WebKit */
    -moz-box-shadow: 0px 0px 400px 100px #fefdfb;
    /* Firefox */
    box-shadow: 10px 0px 400px 100px #fefdfb;
    /* Standard */
}

.premium-page__category .category-intro__image {
    display: none;
}


/** CATEGORY__CONTENT **/

#premium-page .premium-page__category .category-content {
    padding: 15px 20px;
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}

#premium-page .premium-page__category .category-content h2 {
    font-weight: 700;
}

.premium-page__category .category-content h3 {
    font-weight: 700;
}

.premium-page__category .category-content p {
    display: none;
}


/** CATEGORY__ITEMS **/

#premium-page .premium-page__category .category-items {
    padding: 15px 20px 40px 20px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.premium-page__category .category-items__item {
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    padding-bottom: 50%;
    /* here the desired aspect ratio */
}

.premium-page__category .category-items__item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
}

.premium-page__category .category-items__item.category-items__item-wide {
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    padding-bottom: 0;
    /* here the desired aspect ratio */
    width: 100%;
}

.premium-page__category .category-items__item.category-items__item-wide img {
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    max-height: 100%;
    width: 100%;
}


/** CATEGORY SPECIFIC **/

#premium-page .premium-page__category-geboorte h4 {}

#premium-page .premium-page__category-trouwen h4 {}

#premium-page .premium-page__category-uitnodigingen h4 {}


/***********/


/** ABOUT **/


/***********/

.premium-page__about {
    max-width: 1076px;
    margin: 0 auto;
}

.premium-page__about-header {
    padding: 28px 20px;
}

.premium-page__about-header h4 {
    text-align: center;
}

#premium-page .premium-page__about-item {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.premium-page__about-item .about-item__content {
    padding: 15px 20px;
    order: 3;
}

#premium-page .premium-page__about-item .about-item__content h2 {
    font-weight: 700;
    margin: 0 0 10px 0;
    font-size: 24px;
}

.premium-page__about-item .about-item__content h3 {
    font-weight: 300;
    font-size: 19px;
    line-height: 1.2em;
    margin: 0 0 20px 0;
}

.premium-page__about-item .about-item__content h4 {
    color: #caaa82 !important;
}

.premium-page__about-item .about-item__content-btn {
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #8ac0cf;
    border-radius: 5px;
    padding: 10px 20px;
    transition: all 0.5s;
}

.premium-page__about-item .about-item__content-btn.about-item__content-btn-filled,
.premium-page__about-item .about-item__content-btn:hover {
    color: #fff;
    background-color: #8ac0cf;
}

.premium-page__about-item .about-item__content-btn.about-item__content-btn-filled:hover {
    color: #8ac0cf;
    background-color: #fff;
}

.premium-page__about-item .about-item__image {
    padding: 0px;
    order: 2;
    overflow: hidden;
}


/************/


/** TO TOP **/


/************/

.premium-page__to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #6aa6c9;
    color: #fff;
    text-align: center;
    padding: 6px 10px;
    line-height: 16px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s;
    opacity: 0.7;
    z-index: 100;
}

.premium-page__to-top:hover {
    opacity: 1;
}

.premium-page__to-top .icon {
    display: block;
}


/************/


/** FOOTER **/


/************/

.premium-page__footer {
    width: 320px;
    margin: 30px auto;
    text-align: center;
}

.premium-page__footer-signature {}

.premium-page__footer-logo {
    width: 100px;
}


/*******************/


/** MEDIA QUERIES **/


/*******************/

@media only screen and (min-width: 480px) {
    .premium-page__category .category-items__item {
        padding-bottom: 33.3%;
        /* here the desired aspect ratio */
    }
    .premium-page__category .category-items__item {
        padding-bottom: 25%;
        /* here the desired aspect ratio */
    }
}

@media only screen and (min-width: 768px) {
    .premium-page-header {
        background-color: #FEFDFB;
        padding-bottom: 66px;
        justify-content: center;
        display: flex;
    }
    .premium-page-header__title-mobile {
        display: none;
    }
    .premium-page-header__title-desktop {
        display: block;
    }
    .premium-page-header__image,
    .premium-page-header__content {
        max-width: 600px;
    }
    .premium-page-header__menu {
        margin: 0;
        background: #FFF;
        border-top: 1px solid #D9E5EA;
        border-bottom: 1px solid #D9E5EA;
        text-align: center;
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }
    .premium-page-header__menu.cloned {
        position: fixed;
        top: 40px;
        bottom: initial;
        z-index: 999;
    }
    .premium-page-header__menu.cloned.show {
        display: block;
    }
    .premium-page-header__menu li {
        border: none;
        width: auto;
        display: inline-block;
        padding: 20px 15px;
    }
    .premium-page-header__menu li:first-child {
        display: none;
    }
    .premium-page__category .category-intro {
        height: 316px;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .premium-page__category .category-intro::after {
        content: "";
        opacity: 0.5;
        top: 0;
        left: 0%;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 1;
        background-repeat: no-repeat;
        background-position: right center;
        background-size: auto 100%;
    }
    .premium-page__category .category-intro .category-intro__content {
        max-width: 550px;
    }
    .premium-page__category .category-intro .category-intro__image {
        display: block;
        max-width: 512px;
        text-align: center;
        height: 100%;
        position: relative;
        z-index: 4;
    }
    .premium-page__category .category-intro .category-intro__image img {
        height: 100%;
    }
    .premium-page__category .category-content p {
        display: block;
    }
    .premium-page__category .category-items__item {
        padding-bottom: 25%;
        /* here the desired aspect ratio */
    }
    #premium-page .premium-page__about-item {
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 40px;
    }
    .premium-page__about-item:nth-child(odd) .about-item__content {
        order: 1;
        margin-right: 50px;
    }
    .premium-page__about-item:nth-child(even) .about-item__image {
        margin-right: 50px;
    }
}
