#pagecontent {
	width: 100% !important;
}

#sidebar,
#breadcrumbs,
#crumbs,
#pagebody > h1 {
    display: none;
}

#mid {
    width: 100%;
	padding: 0;
}

#body_zelf-geboortekaartjes-maken #mid {
	padding-top: 0 !important;
	top: 0;
}

#mid.container.moresp {
    margin-top: 0;
}

@media screen and (max-width: 480px) {
	#mid.container.moresp {
		margin-top: 25px;
	}
}

.cols {
    margin: 0;
}

#pagecontent {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

#customizing h1 {
	font-family: "proxima-nova", sans-serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 40px;
	color: #ff7a85;
	text-align: center;
	padding: 0 10px;
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 480px) {
	#customizing h1 {
		top: 250px;
		margin-bottom: 10px;
	}
}

#customizing h2 {
	font-family: "proxima-nova", sans-serif;
	font-weight: 700;
	font-size: 28px;
	color: #ff7a85;
	text-align: center;
	padding: 0 10px;
    max-width: 1200px;
    margin: 0 auto;
}

#customizing h3 {
	font-family: "proxima-nova", sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: #ff7a85;
	padding: 0 10px;
    max-width: 1200px;
    margin: 0 auto;
}

#customizing h4 {
	font-size: 14px;
	color: #6e7277;
	text-align: center;
	padding: 0 10px;
    max-width: 1200px;
    margin: 0 auto;
}

#customizing p {
	margin-bottom: 0;
	padding: 0 10px;
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 480px) {
	#customizing h1, h2, h3, h4, p {
		text-align: left !important;
		padding: 0 10px;
	}
}

#customizing .items {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
    flex-wrap: wrap;
	width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 991px) {
	#customizing .items {
		-webkit-flex-direction: column;
		flex-direction: column;
	}
}

#customizing .items .border-item {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 15px;
	margin: 0 10px;
}

/* HEADER ---------------------------------------------------------------------------------------------- */

#customizing header {
	width: 100%;
	background: url('/img/zelf-maken/bg_marmer.jpg') no-repeat;
	background-size: cover;
	padding: 50px 0 20px 0;
}

@media screen and (max-width: 767px) {
	#customizing header {
		background-position: center;
	}
}

#customizing header h2 {
	font-size: 20px;
	color: #6e7277;
	padding: 5px 10px 25px 10px;
	line-height: 32px;
}

#customizing header > p {
	text-align: center;
}

#customizing header p small {
	color: #999;
}

@media screen and (max-width: 480px) {
	#customizing header p {
		line-height: 1.2em;
	}

	#customizing header .border-item p {
		line-height: 27px;
	}
}

#customizing header .items .border-item {
	width: calc(33.333% - 60px);
	background-color: #fff;
	padding: 15px 15px 15px 60px;
	margin: 0 10px 0 50px;
	position: relative;
}

@media screen and (max-width: 991px) {
	#customizing header .items .border-item {
		width: calc(100% - 60px);
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 480px) {
	#customizing header .items .border-item {
		width: calc(100% - 20px);
		margin: 70px 10px 20px 10px;
		padding: 60px 15px 15px 15px;
	}
}

#customizing header .items .border-item h3,
#customizing header .items .border-item h3 a{
	font-family: kg_love_somebodyregular;
	font-size: 16px;
	color: #29686F;
	margin-bottom: 10px;
}

#customizing header .items .border-item p {
	margin-bottom: 0;
	text-align: left;
}

#customizing header .items .border-item-img {
	width: 90px;
	height: 90px;
	border-radius: 45px;
	background-color: #00afbd;
	position: absolute;
	left: -45px;
	top: calc(50% - 45px);
}

@media screen and (max-width: 480px) {
	#customizing header .items .border-item-img {
		left: calc(50% - 45px);
		top: -45px;
	}
}

#customizing header .items .border-item-img > img {
	width: 85px;
	height: auto;
	position: absolute;
	bottom: 8px;
}

#customizing header .header-button,
#customizing header .header-button-mobile {
	border-radius: 8px;
	background-color: #ff7a85;
	border: none;
	font-size: 18px;
	font-family: 'Varela Round', sans-serif;
	color: #fff;
	padding: 15px 30px;
	margin: 40px auto;
	display: block;
    cursor: pointer;
}

#customizing header .header-button:hover,
#customizing header .header-button-mobile:hover {
	-webkit-box-shadow: 1px 3px 2px #ddd;
	-moz-box-shadow: 1px 3px 2px #ddd;
	box-shadow: 1px 3px 2px #ddd;
}

@media screen and (max-width: 991px) {
	#customizing header .header-button {
		display: none;
	}

	#customizing header .header-button-mobile {
		margin-top: 0;
	}
}



@media screen and (min-width: 992px) {
	#customizing header .header-button-mobile {
		display: none;
	}
}

/* MENU ------------------------------------------------------------------------------------------------ */

#customizing menu {
	width: 100%;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
    background: #fff;
	padding-top: 20px;
	padding-bottom: 10px;
	z-index: 999;
}

@media screen and (max-width: 480px) {
	#customizing menu {
		display: none;
	}
}

#customizing menu ul {
	display: block;
	text-align: center;
}

@media screen and (max-width: 480px) {
	#customizing menu ul {
		text-align: left;
	}
}

#customizing menu ul li {
	display: inline-block;
	margin: 0px 10px 10px 0;
}

@media screen and (max-width: 480px) {
	#customizing menu ul li {
		display: block;
		margin: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #eee;
	}
}

#customizing menu ul li a {
	color: #6e7277;
	font-weight: 700;
}

#customizing menu ul li a:hover {
	color: #00afbd;
}

@media screen and (min-width: 992px) {
	#customizing menu ul li a {
		padding: 0 8px;
	}
}

#customizing menu ul li a.active {
	color: #00afbd;
}

#customizing menu .menu-button {
	background-color: #00afbd;
	border-radius: 8px;
	border: none;
	color: #fff;
	padding: 10px 15px;
}

#customizing menu a.menu-button:link,
#customizing menu a.menu-button:visited {
	color: #fff;
}

#customizing menu a.menu-button:hover {
	color: #fff;
	-webkit-box-shadow: 1px 3px 2px #ddd;
	-moz-box-shadow: 1px 3px 2px #ddd;
	box-shadow: 1px 3px 2px #ddd;
}

#customizing menu a.menu-button:active {
	color: #fff;
}

@media screen and (max-width: 480px) {
	#customizing menu .menu-button {
		display: block;
		margin-bottom: 20px;
	}
}


/* formats -------------------------------------------------------------------------------------------- */

#customizing #formats {
	padding: 70px 0 50px 0;
}

#customizing #formats .items {
	padding: 30px 0 0 0;
}

@media screen and (max-width: 991px) {
	#customizing #formats .items {
		-webkit-flex-direction: row;
		flex-direction: row;
	}
}

@media screen and (max-width: 767px) {
	#customizing #formats .items {
		-webkit-flex-direction: column;
		flex-direction: column;
	}
}

#customizing #formats .items .border-item {
	width: calc(33.333% - 20px);
	padding: 15px;
	margin-top: 20px;
    cursor: pointer;
}

#customizing #formats .items .border-item:hover {
	border-color: #bbb;
	-webkit-box-shadow: 1px 3px 2px #ddd;
	-moz-box-shadow: 1px 3px 2px #ddd;
	box-shadow: 1px 3px 2px #ddd;
}

@media screen and (max-width: 1024px) {
	#customizing #formats .items .border-item {
		width: calc(50% - 20px);
	}
}

@media screen and (max-width: 767px) {
	#customizing #formats .items .border-item {
		width: calc(100% - 20px);
	}
}

#customizing #formats .items .border-item h3 {
	text-align: center;
	font-size: 18px;
	margin-bottom: 10px;
}

#customizing #formats .items .border-item .image,
#customizing #formats .items .border-item .text {
	width: 50%;
	float: left;
}

@media screen and (max-width: 480px) {
	#customizing #formats .items .border-item .image {
		width: 40%;
	}

	#customizing #formats .items .border-item .text {
		width: 60%;
	}
}

#customizing #formats .items .border-item .image img {
	width: calc(100% - 20px);
	max-width: 120px;
	max-height: 120px;
	float: right;
	margin-right: 20px;
}

#customizing #formats .items .border-item p {
	margin-left: 20px;
	color: #6e7277;
}

#customizing #formats .items .border-item .icon-format {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 10px;
	border-radius: 10px;
	background: #00afbd;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	font-size: 13px;
	line-height: 20px;
}

/* experiences ------------------------------------------------------------------------------------------ */

#customizing #experiences {
	width: 100%;
	background: url('/img/zelf-maken/bg_marmer.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	padding: 50px 0 20px 0;
	border-top: 1px solid #eee;
}

#customizing #experiences .rating {
	margin-left: calc(50% - 200px);
	display: block;
	margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
	#customizing #experiences .rating {
		margin-left: calc(50% - 40px);
	}
}

#customizing #experiences .rating .logo {
	display: inline-block;
	width: 120px;
	padding-top: 60px;
}

#customizing #experiences .rating .logo img {
	width: 100%;
}

#customizing #experiences .rating .grade {
	display: inline-block;
	width: 130px;
	height: 130px;
	background: #00afbd;
	border-radius: 65px;
	font-size: 60px;
	font-family: kg_love_somebodyregular;
	font-weight: 700;
	color: #fff;
	text-align: center;
	padding-top: 52px;
	margin-right: -230px;
}

@media screen and (max-width: 480px) {
	#customizing #experiences .rating .grade {
		margin-right: -230px;
	}
}

#customizing #experiences .rating .rating-stars {
	display: inline-block;
	margin-left: 120px;
}

@media screen and (max-width: 480px) {
	#customizing #experiences .rating .rating-stars {
		display: block;
		margin-left: calc(50% - 210px);
		width: 300px;
	}

	#customizing #experiences .rating .rating-stars img  {
		display: block;
		margin: 20px auto;
	}
}

#customizing #experiences .rating .rating-stars p {
	padding: 5px 0;
}

@media screen and (max-width: 480px) {
	#customizing #experiences .rating .rating-stars p {
		text-align: center !important;
		line-height: 20px;
		margin-bottom: 70px;
	}
}

#customizing #experiences .customer-experiences {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  position: relative;
  overflow: hidden;
}

#customizing #experiences .customer-experiences .buttons .prev,
#customizing #experiences .customer-experiences .buttons .next {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	border: 0;
	background-color: #00afbd;
	color: #fff;
	text-align: center;
	margin: 0 10px;
	font-family: kcicons;
	cursor: pointer;
}

#customizing #experiences .customer-experiences .buttons .prev {
	float: left;
}

#customizing #experiences .customer-experiences .buttons .next {
	float: right;
}

#customizing #experiences .customer-experiences .content li {
  margin: 0 50px 0 50px;
  display: block;
  width: calc(100% - 100px);
  list-style: none;
}

#customizing #experiences .customer-experiences .content li .text {
	width: calc(50% - 5px);
	display: inline-block;
	vertical-align: top;
	padding: 0 15px;
}

@media screen and (max-width: 480px) {
	#customizing #experiences .customer-experiences .content li .text {
		width: 100%;
		margin-bottom: 10px;
	}
}

#customizing #experiences .customer-experiences .content li .text h3 {
	color: #6e7277;
}

#customizing #experiences .customer-experiences .content li .text p .feedback-company {
	color: #00afbd;
}

#customizing #experiences .customer-experiences.active {
	height: 250px;
}

@media screen and (max-width: 480px) {
	#customizing #experiences .customer-experiences.active {
		height: 800px;
	}
}

#customizing #experiences .customer-experiences.active li {
  position: absolute;
  left: -100%;
}

#customizing #experiences .customer-experiences.active li.current {
  left: 0;
}

#customizing #experiences .customer-experiences.active .buttons {
  z-index: 10;
  position: relative;
  top: 70px;
}

#customizing #experiences .customer-experiences.active button {
  display: block;
}

#customizing #experiences .customer-experiences .offscreen {
  position: absolute;
  left: -2000px;
}

#customizing #experiences .customer-experiences .text .hearts:before {
	content: "h";
	font-family: 'kcicons';
	font-size: 20px;
	line-height: 40px;
	color: #ff7a85;
	margin-right: 2px;
}


/* BETALEN --------------------------------------------------------------------------------------------- */

#customizing #payment-shipment {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #eee;
}

#customizing #payment-shipment .items {
	margin-top: 30px;
	margin-bottom: 30px;
}

#customizing #payment-shipment .items .payment-item,
#customizing #payment-shipment .items .shipment-item {
	margin: 0 10px;
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
    align-items: center;
}

@media screen and (max-width: 480px) {
	#customizing #payment-shipment .items .payment-item {
		display: -webkit-flex;
		display: flex;
		 -webkit-flex-direction: column;
		flex-direction: column;
	}
}

#customizing #payment-shipment .items .payment-item {
	width: calc(70% - 20px);
}

#customizing #payment-shipment .items .shipment-item {
	width: calc(30% -20px);
}

@media screen and (max-width: 1024px) {
	#customizing #payment-shipment .items .payment-item,
	#customizing #payment-shipment .items .shipment-item {
		width: calc(100% - 20px);
	}

	#customizing #payment-shipment .items .shipment-item {
		margin-top: 30px;
	}
}

#customizing #payment-shipment .items .payment-item h3 {
	color: #6e7277;
	padding: 0 20px 0 0;
	vertical-align: center;
}

@media screen and (max-width: 480px) {
	#customizing #payment-shipment .items .payment-item h3 {
		padding: 0 !important;
	}
}

#customizing #payment-shipment .payment-item .image img {
	width: 73px;
}

@media screen and (max-width: 480px) {
	#customizing #payment-shipment .payment-item .image img {
		width: 65px;
		margin-top: 5px;
	}
}

#customizing #payment-shipment .shipment-item h4 {
	text-align: left;
	font-size: 16px;
	margin-top: 2px;
}

#customizing #payment-shipment .shipment-item p {
	line-height: 20px;
}

#customizing #payment-shipment .shipment-item .text,
#customizing #payment-shipment .shipment-item .image {
	vertical-align: top;
	display: inline-block;
}

/* TIPS ------------------------------------------------------------------------------------------------ */

#customizing #tips {
	padding: 40px 0 50px 0;
}

#customizing #tips .header h2 {
    padding-top: 50px;
}

#customizing #tips .header h3 {
	color: #6e7277;
	text-align: center;
	font-size: 18px;
}

@media screen and (max-width: 480px) {
	#customizing #tips .header h2 {
		margin-bottom: 15px;
	}
}

#customizing #tips .header p {
	text-align: center;
}

#customizing #tips .items h3 {
	font-family: kg_love_somebodyregular;
	font-size: 18px;
	color: #29686f;
	margin-bottom: 10px;
	display: inline-block;
	width: calc(100% - 50px);
}

#customizing #tips .number {
	width: 28px;
	height: 28px;
	display: inline-block;
	margin-right: 10px;
	border-radius: 14px;
	background: #29686f;
	font-family: 'Varela Round', sans-serif;
	color: #fff;
	text-align: center;
	font-size: 18px;
	line-height: 28px;
	vertical-align: top;
}

/* TIPS - Maken */

#customizing #tips #tips-creating .header h2 {
	padding-bottom: 20px;
}

#customizing #tips #tips-creating .header h3 {
	padding: 30px 0 50px 0;
}

#customizing #tips #tips-creating a {
	padding: 8px 15px;
	border: 1px solid #ff7a85;
	border-radius: 5px;
	color: #ff7a85;
	display: inline-block;
	margin: 20px 10px 0 10px;
}

#customizing #tips #tips-creating a:hover {
	-webkit-box-shadow: 1px 3px 2px #ddd;
	-moz-box-shadow: 1px 3px 2px #ddd;
	box-shadow: 1px 3px 2px #ddd;
}

@media screen and (max-width: 320px){
	#customizing #tips #tips-creating a {
		padding: 5px 10px;
	}
}

#customizing #tips #tips-creating .items .one-tip-in-row,
#customizing #tips #tips-creating .items .three-tips-in-row {
	display: -webkit-flex;
	display: flex;
	margin-bottom: 40px;
	border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 991px) {
	#customizing #tips #tips-creating .items .one-tip-in-row {
		-webkit-flex-direction: column;
		flex-direction: column;
		margin-bottom: 0;
		padding-top: 30px;
	}

	#customizing #tips #tips-creating .items .three-tips-in-row {
		-webkit-flex-direction: column;
		flex-direction: column;
		margin-bottom: 0;
		border-bottom: none;
	}
}

#customizing #tips #tips-creating .items .one-tip-in-row .text {
	width: calc(50% - 20px);
	margin: auto 10px;
	padding-bottom: 40px;
}

@media screen and (min-width: 1200px) {
	#customizing #tips #tips-creating .items .one-tip-in-row .text {
		width: calc(60% - 20px);
	}
}

@media screen and (max-width: 991px) {
	#customizing #tips #tips-creating .items .one-tip-in-row .text {
		width: calc(100% - 20px);
		padding-bottom: 10px;
	}
}

#customizing #tips #tips-creating .items .one-tip-in-row .image {
	width: calc(50% - 20px);
	height: auto;
	margin: 0 10px;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: flex-end;
	align-items: flex-end;
	-webkit-justify-content: center;
    justify-content: center;
}

@media screen and (min-width: 1200px) {
	#customizing #tips #tips-creating .items .one-tip-in-row .image {
		width: calc(40% - 20px);
	}
}

@media screen and (max-width: 991px) {
	#customizing #tips #tips-creating .items .one-tip-in-row .image {
		width: calc(100% - 20px);
	}
}

#customizing #tips #tips-creating .one-tip-in-row .image img {
	width: 100%;
	max-width: 500px;
	height: auto;
}

#customizing #tips #tips-creating .three-tips-in-row .single-tip {
	width: calc(33.333% - 20px);
	margin: 0 10px;
	padding: 30px 0 70px 0;
}

@media screen and (max-width: 991px) {
	#customizing #tips #tips-creating .three-tips-in-row .single-tip {
		width: calc(100% - 20px);
		margin: 0;
		padding: 30px 10px;
		border-bottom: 1px solid #ddd;
	}
}

@media screen and (max-width: 991px) {
	#customizing #tips #tips-creating .three-tips-in-row .single-tip {
		width: 100%;
	}
}

/* TIPS - Verzenden */

#customizing #tips #tips-packaging {
	padding-top: 40px;
}

#customizing #tips #tips-packaging .header img {
	display: block;
	margin: 0 auto;
}

@media screen and (max-width: 480px) {
	#customizing #tips #tips-packaging .header img {
		display: none;
	}
}

#customizing #tips #tips-packaging .header h3 {
	padding: 20px 0 50px 0;
}

@media screen and (max-width: 480px) {
	#customizing #tips #tips-packaging .header h2 {
		margin-top: 40px;
	}
}

#customizing #tips #tips-packaging .items {
	width: 90%;
	margin: 0 auto;
}

@media screen and (max-width: 991px){
	#customizing #tips #tips-packaging .items {
		width: 100%;
		-webkit-flex-direction: row;
		flex-direction: row;
	}
}

@media screen and (max-width: 767px) {
	#customizing #tips #tips-packaging .items {
		width: 100%;
		-webkit-flex-direction: column;
		flex-direction: column;
	}
}

#customizing #tips #tips-packaging .items .border-item {
	width: calc(50% - 20px);
	margin: 10px;
}

@media screen and (max-width: 767px) {
	#customizing #tips #tips-packaging .items .border-item {
		width: calc(100% - 20px);
		margin: 10px;
	}
}

#customizing #tips #tips-packaging .items .border-item .image {
	width: 25%;
	float: left;
}

@media screen and (max-width: 767px) {
	#customizing #tips #tips-packaging .items .border-item .image {
		width: 15%;
	}
}

@media screen and (max-width: 480px) {
	#customizing #tips #tips-packaging .items .border-item .image {
		width: 100%;
	}
}

#customizing #tips #tips-packaging .items .border-item .image img {
	width: calc(100% - 10px);
}

@media screen and (max-width: 480px) {
	#customizing #tips #tips-packaging .items .border-item .image img {
		width: 110px;
		display: block;
		margin: 0 auto 20px auto;
	}
}

#customizing #tips #tips-packaging .items .border-item .text {
	width: 75%;
	float: left;
}

@media screen and (max-width: 767px) {
	#customizing #tips #tips-packaging .items .border-item .text {
		width: 85%;
	}
}

@media screen and (max-width: 480px) {
	#customizing #tips #tips-packaging .items .border-item .text {
		display: inline;
		width: calc(100% + 20px);
		margin: 0 -10px;
	}

	#customizing #tips #tips-packaging .items .border-item .text h3 {
		width: 100%;
	}
}


/* inspiration ------------------------------------------------------------------------------------------ */

#inspiration {
	padding-top: 40px;
}

#inspiration .header h1 {
	color: #29686f;
	font-size: 44px;
}

#inspiration .header h1 .envelope {
	width: 50px;
}

#inspiration .header h1 .arrow {
	width: 100px;
}

@media screen and (max-width: 480px) {
	#inspiration .header h1 .envelope {
		display: none;
	}

	#inspiration .header h1 .arrow {
		display: none;
	}
}

#inspiration .header h2 {
	margin: 10px auto 20px auto;
}

#inspiration .header p {
	text-align: center;
	margin-bottom: 40px;
}

#inspiration .blocks {
	width: 100%;
    max-width: 1200px;
    margin: 0 auto;
	-webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
	-webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
}

#inspiration .instagram-posts {
	width: 100%;
    max-width: 1200px;
    margin: 0 auto;
	-webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
	-webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
	column-fill: auto;
	overflow: auto;
}

@media screen and (max-width: 768px) {
	#inspiration .instagram-posts  {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

@media screen and (max-width: 480px) {
	#inspiration .instagram-posts  {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}

#inspiration .instagram-single-post {
	padding: 12px;
	vertical-align: top;
	display: block;
}

@media screen and (max-width: 991px) {
	#inspiration .blocks  {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

@media screen and (max-width: 767px) {
	#inspiration .blocks  {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}

#inspiration .blocks .photo-block {
	width: calc(100% - 20px);
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #eee;
	margin: 10px;
	display: inline-block;
}

#inspiration .blocks .photo-block img {
	width: 100%;
	height: auto;
}

#inspiration .blocks .photo-block p {
	padding: 15px;
}

#sidebar-footer {
    display: none;
}
