div.detAccord {
    margin:0px 10px 0px 10px;

    .detAccordTitle:after {
        content:'+';
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        font-size:20px;
        color:#403c3d;
        font-weight:normal;
        margin-top:-8px;
        right:5px;
    }

    .detAccordTitle.active:after {
        content:'-';
    }

    .innerHtml {
        span {
            width:100px;
            display:inline-block;
        }
    }

}

div.details {
    a {
        text-decoration:none;
    }
}

div.container {
    a {
        text-decoration:none !important;
    }
}

#body_account_address, #body_account_password, #body_account_nieuwsbrief, #body_contact {
    .contactfrm {
        width:100%;
        max-width:350px;
    }
    table {
        border-collapse: separate;
        border-spacing: 2px;
        td {
            padding: 5px 2px;
        }
    }
    input[type=submit] {
        background: #8ac0cf!important;
        line-height: 30px;
        width: auto;
        padding: 0 15px;
        color: #fff !important;
        font-size: 17px;
        font-family: 'GillSansMT';
        text-decoration: none!important;
        height: 33px !important;
        text-align: center;
        border: 0;
        border-bottom: 2px solid #759ba6;
        cursor: pointer;
    }
    input[type=text], input[type=password], textarea {
        width:100%;
        outline:none;
        border: 1px solid #d3d3d3;
        border-top-color: #b4b4b4;
        border-right-color: #b4b4b4;
        padding: 7px 5px;
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -moz-box-shadow: inset -1px 1px #d9d9d9;
        -webkit-box-shadow: inset -1px 1px #d9d9d9;
        box-shadow: inset -1px 1px #d9d9d9;
        color: #282828;
        font-size: 14px;
    }
    select {
        background: #fff;
        height: 31px;
        padding: 2px 5px;
        width: 100%;
        color: #262626;
        font-size: 13px;
        border: 1px solid #d3d3d3;
        outline:none;
        -moz-box-shadow: inset -1px 1px #d9d9d9;
        -webkit-box-shadow: inset -1px 1px #d9d9d9;
    }


}
    /* ADDED BY WESLEY */
    #card_previews .trash_icon {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: inline-block;
        width: 15px !important;
        height: 15px !important;
        background-size: 15px 15px !important;
        background: url(/common/img/trash.png);
    }

.address-list input[type="text"] {
    border-radius: 0px !important;
}

.address-list > ul {
    max-height: 250px;
    padding: 0;
    margin: 0 0 15px 0;
    overflow-y: auto;
    overflow-x: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.address-list > ul > li {
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.address-list > ul > li a {
    display: block;
    padding: 0;
}

.address-list > ul > li > button {
    margin-bottom: 15px;
}

#body_edit #canvas * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.order-flow {
  border-bottom: solid 1px #ccc;
  padding: 10px 0;
  font-size: 11px;
}
.order-flow a {
  display: block;
}
.order-flow .order-flow-details {
  display: inline-block;
  vertical-align: middle;
}
.order-flow .order-flow-image {
  max-height: 100px;
}
.order-flow .order-flow-details-body {
  padding: 15px;
  background-color: #fcfcfc;
  line-height: 15px;
}
.order-flow .order-flow-details-body .order-flow-details-status {
  border-bottom: 1px dashed #ccc;
  padding: 10px 0;
}
.order-flow .order-flow-details-body strong {
  display: block;
  margin-top: 10px;
}
@media (min-width: 320px) {
  .order-flow .order-flow-info strong {
    float: right;
  }
}
@media (min-width: 992px) {
  .order-flow-info strong {
    float: none !important;
  }
  .order-flow .md-1 {
    width: 14.285714285714285714285714285714%;
  }
}

@media (max-width: 767px) {#card_previews .xsm-12 {width: 50%;}}

#body_account_orders #sidebar, #body_account_address #sidebar {
    display: none;
}

#body_account_address .sm-3 .list.list-vertical > li:last-child,
#body_account_address .sm-3 .list.list-vertical > li:nth-child(4),
#body_account_orders .sm-3 .list.list-vertical > li:last-child,
#body_account_orders .sm-3 .list.list-vertical > li:nth-child(4),
#body_account_settings .sm-3 .list.list-vertical > li:last-child,
#body_account_settings .sm-3 .list.list-vertical > li:nth-child(4),
#body_account_password .sm-3 .list.list-vertical > li:last-child,
#body_account_password .sm-3 .list.list-vertical > li:nth-child(4),
#body_account_nieuwsbrief .sm-3 .list.list-vertical > li:last-child,
#body_account_nieuwsbrief .sm-3 .list.list-vertical > li:nth-child(4),
#body_account_adresboek .sm-3 .list.list-vertical > li:last-child,
#body_account_adresboek .sm-3 .list.list-vertical > li:nth-child(4),
#body_account #template-fluid .cols-multi > div:last-child {
    display: none;
}
