#card_previews_horizontal {
    img {
        width: 180px !important;
    }

}


.crdEdi {
    display:none !important;
}

a.crdDel span {
    width: 15px !important;
    height: 15px !important;
    background-size: 15px 15px !important;
}



#card_previews > div{

	img {
		max-width:170px;
		height:auto;
		width:100%;
	}
}

/* Order history */
div.orderWrap {
    width: 100%;
    border-bottom: solid 1px #ccc;
    box-sizing: border-box;
}
div.orderImg {
    display: inline-block;
    vertical-align: top;
    padding-right: 15px;
}
div.orderDat {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    padding: 30px 28px 0 0;
}
div.orderDat span {
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
}

div.orderDetails {
    background: #fcfcfc;
    box-sizing: border-box;
    padding: 25px;
    font-size: 14px;
    line-height: 20px;
}
div.orderDetails .sTitle {
    font-weight: bold;
    margin-bottom: 10px;
}
div.orderDetails .credSection {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}
div.orderDetails .sendSection {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}
div.orderDetails .sendSection .sDate {
    font-size: 12px;
}
div.orderDetails .sendSection .sStat {
    font-size: 14px;
    margin-top: -5px;
    color: #2cce00;
}

@media (max-width: @sm) {
div.noMob, td.noMob {
    display: none;
}
}


#step_back {
    background: url("/img/bg_bt.png") no-repeat;
    float: left;
    width: auto;
    height: 37px;
    line-height: 32px;
    padding: 0 14px 0 35px;
    margin: 15px 0 0;
    color: #ed1c24;
    text-decoration: none!important;
    border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    -webkit-border-radius: 0 0 5px 0;
}



div.detAccord.first {
    border-top:solid 1px #dcdbd6;
    margin-top:10px;
}

div.detAccord {
    border-bottom:solid 1px #dcdbd6;
    box-sizing:border-box;
}

div.detAccordTitle {
    width:100%;
    text-transform:uppercase;
    position:relative;
    padding:9px 0px 7px 0px;
    cursor:pointer;
    font-size:14px;
}

div.detAccordTitle:after {
    background: url(/img/icons.png) no-repeat -30px -36px;
    position: absolute;
    content: "";
    width: 13px;
    height: 8px;
    right: 0;
    top: 50%;
    margin-top: -4px;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

div.detAccordTitle.active:after {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

div.detAccord .innerHtml {
    padding-bottom:15px;
    font-size:12px;
}