@import url("https://www.jotform.com/oembed/?format=json&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F42521541882352");
@import url("https://www.jotform.com/oembed/?format=xml&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F42521541882352");
@import url("/css/samen/css/styles/form.css?v3.2.3627");
@import url("/css/samen/css/calendarview.css?v3.2.3627");
@import url("http://max.jotfor.ms/css/styles/nova.css?3.2.3627");
@import url("http://max.jotfor.ms/css/printForm.css?3.2.3627");

.form-label-left {
    max-width: 180px !important;
}

.form-label-right {
    max-width: 180px !important;
}

.form-all {
    color: #262626 !important;
    font-family: 'Trebuchet MS';
    font-size: 13px;
}

.form-radio-item label,
.form-checkbox-item label,
.form-grading-label,
.form-header {
    color: #262626;
}

.form-label-top,
.form-label-left,
.form-label-right {
    font-weight: normal;
    color: #262626;
}

.form-section li {
    border-bottom: 0 solid #f0f2f2;
    margin: 0;
    padding-right: 0 !important;
    padding-left: 0 !important;
    background: none !important;
}

#id_2 {
    overflow: hidden;
    border-bottom: none;
    padding-top: 1px!important;
}

.form-line {
    padding-left: 0;
}

input,select,textarea {
    border: 1px solid #dbdbdb !important;
    font-family: 'Trebuchet MS' !important;
    font-size: 13px !important;
}

textarea {
    max-width: 471px;
    height: 110px;
}

select, input {
    padding: 9px 5px !important;
    max-width: 467px !important;
}

select{
    max-width: 480px !important;
}

.form-input {
    max-width: 480px !important;
}

.form-sub-label-container {
    white-space: normal !important;
}

.form-all {
    max-width: 100% !important;
    margin: 0!important;
}

.form-buttons-wrapper {
    margin-left: 0 !important;
    float: right;
    margin-right: 2px;
}

.form-buttons-wrapper button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 131px;
    text-align: center;
    background: url(/img/samen/btn-samen.png) no-repeat 0 0 !important;
    height: 45px !important;
    line-height: 41px;
    color: #fff;
    font-size: 19px;
    border: none;
    font-family: "Trebuchet MS";
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 0;
}

.form-buttons-wrapper button:hover {
    background-position: 0 -45px !important;
}

.form-buttons-wrapper button:active {
    background-position: 0 -45px !important;
    line-height: 45px;
}

#id_11 {
    border-bottom: none;
}

.form-line{
    padding-top:15px !important;
    padding-bottom:15px !important;
}

#samen-form {
    overflow: hidden;
}

@media only screen and (max-width: 480px) {
    .form-section li .form-label {
        float: none;
        width: 100%;
        display: block;
        margin-bottom: 0;
        max-width: inherit !important;
    }

    .form-section li .form-label + div {
        width: 100%;
        float: none;
        padding: 0;
    }

    .form-line {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

    .form-textarea {
        width: 100% !important;
    }
}