<div class="hide" data-sidebar=""></div>
<div class="info">
    <div class="cols cols-equal-height">
        <div class="info__background"></div>
        <div class="sm-6 info__text">
            <div class="info__text-mask"></div>
            <div>
                <h3 class="info__suptitle">klantenservice</h3>
                <h1 class="info__title">hipDesign helpt jouw!</h1>
                <p class="info__description">Onze klantenservice geeft antwoord op jouw vragen. En onze vormgevers geven hulp bij het ontwerpen van je kaart.</p>
            </div>
        </div>
        <div class="sm-6 info__image-wrapper">
            <img class="info__image" src="/media/contactsupport.png" alt="contact support" />
        </div>
    </div>
</div>
<div class="cols">
    <div class="sm-6">
        <div class="form-block ">
            <h2>Mail ons je vraag</h2>
            <p>Op werkdagen binnen 24 uur antwoord.</p>
            <contactform>Fom will be placed here</contactform>
        </div>
    </div>
    <div class="sm-6">
        <div class="form-block ">
            <h2>Onze gegevens</h2>
            <p>
                hipDesign
                <br /> Woudenbergseweg 21
                <br /> 3707 HW&nbsp;Zeist
            </p>
            <p>
                <a href="mailto:info@kaartencarrousel.nl" class="larger">info@hipdesign.nl</a>
            </p>
            <p>
                <span class="larger">085 - 043 80 04</span>
                <br/>(maandag t/m vrijdag van 9.00 - 18.00 uur)
            </p>
            <h4>Rouwdrukwerk</h4>
            <p>
                Voor rouwdrukwerk zijn we ook in de avonduren en in het weekend bereikbaar op: 06 - 5343 5151
            </p>
        </div>
    </div>
</div>
