<link href="css/custom_three_column.css" rel="stylesheet" type="text/css" />
<div class="three-column-overview design-together" id="template-fluid">
<p class="three-column__introduction">Ben jij op zoek naar een uniek en origineel geboortekaartje? Wil je een ontwerp op maat? Een unieke illustratie toevoegen aan een bestaand design geboortekaartje. Wil je de geboortekaartjes met een speciale applicatie zoals velours of 3D, een strikje of je geboortekaart in de vorm van een label? Of kun je niet kiezen? Wij ontwerpen graag samen met jou aan dat ene ontwerp waar jij helemaal blij van wordt.</p>

<div class="three-column__links js-scroll-on-click"><span>Meer: </span><a href="#hoe-werkt-het">Hoe werkt het</a> | <a href="#tips-tricks">Tips &amp; Tricks</a> | <a href="#enveloppen">Enveloppen</a></div>

<div class="cols three-column__items">
<div class="xs-12 xsm-6 sm-4 three-column__item">
<div class="three-column__item-thumbnail"><img alt="Freestylephoto" src="/media/NewbornBrabantRingelberg.jpg" /></div>

<div class="three-column__item-content">
<h3 class="three-column__item-name">Uniek op maat</h3>

<p class="three-column__item-text">Heb jij een idee? En wil je graag een uniek geboortekaartje met ons maken? Daar ligt onze passie en vinden we superleuk!</p>
</div>

<div class="three-column__item-footer three-column__item-footer-spread"><span class="three-column__item-price">Vanaf &euro; 95.00</span> <a class="three-column__item-button button button-small" href="http://freestylephoto.nl/" target="_blank">Kies deze optie<i class="icon icon-chevron-right">&nbsp;</i></a></div>
</div>

<div class="xs-12 xsm-6 sm-4 three-column__item">
<div class="three-column__item-thumbnail"><img alt="Freestylephoto" src="/media/NewbornDrenthefreestyle.jpg" /></div>

<div class="three-column__item-content">
<h3 class="three-column__item-name">Labels</h3>

<p class="three-column__item-text">Met twee enkele geboortekaartjes jongens of meisjes maak je een hip label. Een boorgaatje, een kek touwtje en in een handomdraai heb jij een geboortekaart met label.</p>
</div>

<div class="three-column__item-footer three-column__item-footer-spread"><span class="three-column__item-price">Vanaf &euro; 45.00</span> <a class="three-column__item-button button button-small" href="http://freestylephoto.nl/" target="_blank">Kies deze optie<i class="icon icon-chevron-right">&nbsp;</i></a></div>
</div>

<div class="xs-12 xsm-6 sm-4 three-column__item">
<div class="three-column__item-thumbnail"><img alt="MIR Fotografie" src="/media/NewbornDrenthemirfotografie.jpg" /></div>

<div class="three-column__item-content">
<h3 class="three-column__item-name">Geboorteservice</h3>

<p class="three-column__item-text">Ga je voor &eacute;cht gemak na de bevalling? Wij maken de geboortekaartjes definitief met geboortegegevens &eacute;n regelen de verzending naar de adressen die jij aanlevert.</p>
</div>

<div class="three-column__item-footer three-column__item-footer-spread"><span class="three-column__item-price">Vanaf &euro; 35.00</span> <a class="three-column__item-button button button-small" href="http://freestylephoto.nl/" target="_blank">Kies deze optie<i class="icon icon-chevron-right">&nbsp;</i></a></div>
</div>

<div class="xs-12 xsm-6 sm-4 three-column__item">
<div class="three-column__item-thumbnail"><img alt="Freestylephoto" src="/media/NewbornBrabantRingelberg.jpg" /></div>

<div class="three-column__item-content">
<h3 class="three-column__item-name">Mix &amp; Match</h3>

<p class="three-column__item-text">Een keuze maken uit al onze hippe geboortekaartjes is lastig! Kies 3 kaartjes en wij maken een Mix voor een Match met jou.</p>
</div>

<div class="three-column__item-footer three-column__item-footer-spread"><span class="three-column__item-price">Vanaf &euro; 45.00</span> <a class="three-column__item-button button button-small" href="http://freestylephoto.nl/" target="_blank">Kies deze optie<i class="icon icon-chevron-right">&nbsp;</i></a></div>
</div>

<div class="xs-12 xsm-6 sm-4 three-column__item">
<div class="three-column__item-thumbnail"><img alt="Freestylephoto" src="/media/NewbornDrenthefreestyle.jpg" /></div>

<div class="three-column__item-content">
<h3 class="three-column__item-name">Illustraties op maat</h3>

<p class="three-column__item-text">Een uniek silhouetje, een eigen element, een lijntekening op maat? Wij maken illustraties op maat voor jouw unieke geboortekaartje.</p>
</div>

<div class="three-column__item-footer three-column__item-footer-spread"><span class="three-column__item-price">Vanaf &euro; 95.00</span> <a class="three-column__item-button button button-small" href="http://freestylephoto.nl/" target="_blank">Kies deze optie<i class="icon icon-chevron-right">&nbsp;</i></a></div>
</div>

<div class="xs-12 xsm-6 sm-4 three-column__item">
<div class="three-column__item-thumbnail"><img alt="MIR Fotografie" src="/media/NewbornDrenthemirfotografie.jpg" /></div>

<div class="three-column__item-content">
<h3 class="three-column__item-name">Bekijk onze blog</h3>

<p class="three-column__item-text">Benieuwd geworden naar wat we nog meer voor jou kunnen betekenen? Bekijk onze blog en zie welke mooie kaartjes we nog meer hebben gemaakt!</p>
</div>

<div class="three-column__item-footer three-column__item-footer-spread"><span>&nbsp;</span> <a class="three-column__item-button button button-small" href="http://freestylephoto.nl/" target="_blank">Kies deze optie<i class="icon icon-chevron-right">&nbsp;</i></a></div>
</div>
</div>

<div class="cols design-together__info">
<div class="xs-12 md-4" id="hoe-werkt-het">
<h2>Hoe werkt het?</h2>

<p>Vestibulum ornare, nisi eget sagittis fringilla, est enim pellentesque massa, vel consectetur risus leo in erat. Etiam non eleifend nunc, a accumsan justo. Sed vel ullamcorper nibh, a convallis neque. Vivamus finibus sodales quam vitae posuere. Fusce eu diam ullamcorper, ultricies turpis et, tristique mauris. Sed aliquam neque sit amet mi eleifend tincidunt. Nulla facilisi. Nunc magna enim, convallis nec mauris id, malesuada iaculis turpis. Curabitur ipsum magna, euismod vitae porttitor et, faucibus vel tellus. Vestibulum tincidunt odio a nisl lobortis, at faucibus est pretium. Aenean bibendum ornare pretium. Nam tincidunt volutpat mauris, non ullamcorper metus porttitor vitae. Cras mollis risus porta elit viverra, in dignissim tortor maximus. Etiam risus augue, dictum non vehicula mollis, luctus in dolor. Aenean eu tempor leo. Duis dolor magna, dignissim et cursus vel, sagittis vitae dolor. Donec leo mauris, tincidunt at quam mollis, faucibus dictum erat. Suspendisse eget ligula a nunc pharetra sollicitudin a vitae eros. Vestibulum convallis elit a nisl interdum tristique. In hac habitasse platea dictumst. Cras ultricies ex in dolor facilisis, in rhoncus ex faucibus. Suspendisse potenti. Phasellus aliquam nec dolor sit amet luctus. Quisque bibendum fermentum massa, eget venenatis lacus porta vel.</p>
</div>

<div class="xs-12 xsm-6 md-4" id="tips-tricks">
<h2>Tips &amp; Tricks</h2>

<p>Aenean eu tempor leo. Duis dolor magna, dignissim et cursus vel, sagittis vitae dolor. Donec leo mauris, tincidunt at quam mollis, faucibus dictum erat. Suspendisse eget ligula a nunc pharetra sollicitudin a vitae eros. Vestibulum convallis elit a nisl interdum tristique. In hac habitasse platea dictumst. Cras ultricies ex in dolor facilisis, in rhoncus ex faucibus. Suspendisse potenti. Phasellus aliquam nec dolor sit amet luctus. Quisque bibendum fermentum massa, eget venenatis lacus porta vel.</p>
</div>

<div class="xs-12 xsm-6 md-4" id="enveloppen">
<h2>Enveloppen</h2>

<p>Vestibulum ornare, nisi eget sagittis fringilla, est enim pellentesque massa, vel consectetur risus leo in erat. Etiam non eleifend nunc, a accumsan justo. Sed vel ullamcorper nibh, a convallis neque. Vivamus finibus sodales quam vitae posuere. Fusce eu diam ullamcorper, ultricies turpis et, tristique mauris. Sed aliquam neque sit amet mi eleifend tincidunt. Nulla facilisi. Nunc magna enim, convallis nec mauris id, malesuada iaculis turpis. Curabitur ipsum magna, euismod vitae porttitor et, faucibus vel tellus. Vestibulum tincidunt odio a nisl lobortis, at faucibus est pretium. Aenean bibendum ornare pretium. Nam tincidunt volutpat mauris, non ullamcorper metus porttitor vitae. Cras mollis risus porta elit viverra, in dignissim tortor maximus. Etiam risus augue, dictum non vehicula mollis, luctus in dolor.</p>
</div>
</div>
</div>
