<div class="footer-header">
    <div class="container content-wrapper">
        <div class="cols">
            <div class="xs-12 xsm-12 sm-6 md-6 lg-6">
                <p><strong><span class="rating"><span itemscope="" itemtype="http://schema.org/Webpage"><span class="revTitle" itemprop="name">hipDesign</span> <a href="https://beoordelingen.feedbackcompany.nl/NL-NL/hipDesign.html" style="background: none; padding: 0px;" target="_blank">klantwaardering:</a><br />
<span class="revCon" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating"><meta content="1" itemprop="worstRating" /><span class="feedback-rating" itemprop="ratingValue">9,7</span><meta content="10" itemprop="bestRating" /> van <span itemprop="reviewCount">3850</span> stemmen.</span></span></span></strong></p>
            </div>
            <div class="xs-12 xsm-12 sm-6 md-6 lg-6">
                <!--<img class="logo-betalen-bezorgen tw" src="/media/LogothuiswinkelWaarborg.png" />-->
                <div class="logoos-betalen-bezorgen"><img class="logo-betalen-bezorgen id" src="/img/betalen-bezorgen/ideal-logo.jpg" /> <img class="logo-betalen-bezorgen mc" src="/img/betalen-bezorgen/mastercard-logo.png" /> <img class="logo-betalen-bezorgen vs" src="/img/betalen-bezorgen/visa-logo.png" /> <img class="logo-betalen-bezorgen pn" src="/media/postnllogo.jpg" /></div>
            </div>
        </div>
    </div>
</div>
<div class="footer1 container content-wrapper">
    <div class="cols">
        <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
            <p><strong>Collecties</strong></p>
            <ul>
                <li><a href="/geboortekaartjes">Geboortekaartjes maken</a></li>
                <li><a href="/trouwkaarten">Trouwkaarten maken</a></li>
                <li><a href="/trouwkaarten/save-the-date-kaarten">Save the date kaarten</a></li>
                <li><a href="/uitnodiging-maken/uitnodigingen-verjaardag">Uitnodiging verjaardag</a></li>
                <li><a href="/uitnodiging-maken">Uitnodiging maken</a></li>
                <li><a href="/jubileumkaarten">Jubileumkaarten maken</a></li>
                <li><a href="/wenskaarten">Wenskaarten</a></li>
                <li><a href="/rouwkaarten">Rouwkaarten</a></li>
            </ul>
        </div>
        <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
            <p><strong>Onze service en diensten</strong></p>
            <ul>
                <li><a href="/hoe-werkt-het">Hoe werkt het?</a></li>
                <li><a href="/proefdruk">Proefdruk</a></li>
                <li><a href="/prijzen">Prijzen &amp; Betaling</a></li>
                <li><a href="/bezorging">Verzending &amp; Bezorging</a></li>
                <li><a href="/direct-verzenden">Direct verzenden</a></li>
                <li><a href="/enveloppen-info">Enveloppen bestellen</a></li>
                <li><a href="/papiersoorten">Papiersoorten</a></li>
                <li><a href="/verzendservice">Sluitstickers &amp; Adreslabels</a></li>
            </ul>
        </div>
        <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
            <p><strong>Algemene voorwaarden</strong></p>
            <ul>
                <li><a href="/over-ons">Over ons</a></li>
                <li><a href="/algemene_voorwaarden">Leveringsvoorwaarden</a></li>
                <li><a href="https://hipdesign.nl/blog/handige-links">Handige links</a></li>
                <li><a href="/algemene_voorwaarden">Algemene voorwaarden</a></li>
                <li><a href="/faq">Veelgestelde vragen</a></li>
                <li><a href="/garantie">Garantie</a></li>
                <li><a href="/privacy">Privacy</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
            <p><strong>Vragen? Wij helpen graag!</strong></p>
            <p>Werkdagen van 09:00 tot 21:00 uur:
                <br />
                <a href="tel:0850438004" title="0412-676688">085-043 80 04</a></p>
            <p>Of mail ons:
                <br />
                <a href="mailto:info@hipdesign.nl">info@hipdesign.nl</a></p>
        </div>
        <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
            <div id="social-block">
                <p><strong>Volg ons:</strong></p>
                <ul class="social">
                    <li class="fb"><a href="https://www.facebook.com/HipDesign" target="_blank">&nbsp;</a></li>
                    <li class="pt"><a href="https://nl.pinterest.com/hipdesignkaart" target="_blank">&nbsp;</a></li>
                    <li class="tt"><a href="https://twitter.com/hipdesign" target="_blank">&nbsp;</a></li>
                    <li class="ig"><a href=" https://www.instagram.com/hipdesignkaarten/" target="_blank">&nbsp;</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer2">
    <div><img alt="HipDesign" class="footer-logo" src="/img/logo.png" /> &copy; 2017 hipDesign</div>
</div>
<!-- BRANDBAR, CSS IS PLACED IN CUSTOM_NEW.CSS -->
<link href="/css/brandbar.css" rel="stylesheet" type="text/css" />
<div class="footer-brandbar">
    <ul class="footer-brandbar__items">
        <li class="footer-brandbar__item"><a class="footer-brandbar__item--hg" href="https://hippe-geboortekaartjes.nl" target="_blank" title="hippe geboortekaartjes">&nbsp;</a></li>
        <li class="footer-brandbar__item"><a class="footer-brandbar__item--hd" href="https://hipdesign.nl" target="_blank" title="hipdesign">&nbsp;</a></li>
        <li class="footer-brandbar__item"><a class="footer-brandbar__item--hbi" href="https://hierbenik.nl" target="_blank" title="hierbenik">&nbsp;</a></li>
        <li class="footer-brandbar__item"><a class="footer-brandbar__item--f" href="https://fuif.nl" target="_blank" title="fuif">&nbsp;</a></li>
        <li class="footer-brandbar__item"><a class="footer-brandbar__item--wp" href="https://wensplein.nl" target="_blank" title="wensplein">&nbsp;</a></li>
        <li class="footer-brandbar__item"><a class="footer-brandbar__item--sl" href="https://salut.nl" target="_blank" title="salut">&nbsp;</a></li>
        <li class="footer-brandbar__item"><a class="footer-brandbar__item--ck" href="https://condoleancekaart.nl" target="_blank" title="condoleancekaart">&nbsp;</a></li>
        <li class="footer-brandbar__item"><a class="footer-brandbar__item--mz" href="https://mooze.nl" target="_blank" title="mooze">&nbsp;</a></li>
    </ul>
</div>
<div style="display:none;">
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:none;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1040223995/?value=0&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>
</div>
<script src="/css/js/vendor/jquery.cycle2.min.js"></script>
<script src="/css/js/vendor/jquery.cycle2.carousel.min.js"></script>
<!-- Element components -->
<script src="/css/js/components/jquery.magnific-popup.min.js"></script>
<script src="/css/js/components/masonry.js"></script>
<script src="/css/js/components/imagesloaded.js"></script>
<script src="/css/js/components/navbar.js"></script>
<script src="/css/js/components/carousel.js"></script>
<script src="/css/js/components/accordion.js"></script>
<script src="/css/js/components/thumbnail-slider.js"></script>
<script src="/css/js/components/thumbnail-scroller.js"></script>
<script src="/css/js/components/list.js"></script>
<script src="/css/js/components/premium-page.js"></script>
<script src="/css/js/components/custom.js"></script>
<script src="/css/js/components/mobile-menu.js"></script>
<script src="/css/js/components/scroll-on-select.js"></script>
<script src="/css/js/components/scroll-on-click.js"></script>