<div style="display: none;" data-sidebar="prijzen-geboor|geboort-wat|geboort-stijl">&nbsp;</div>
<div class="cols">
    <div class="xs-6 xsm-4 sm-4 md-4 lg-4">
        <div class="thumbnail thumbnail-button" onclick="location.href = '/geboortekaartjes/geboortekaartjes-jongen';"><img alt="De hipste jongens geboortekaartjes bij hipDesign!" class="img" src="https://hipdesign.nl/media/GeboorteHome01jongenskaarten.jpg" /> <a class="thumbnail-button-button bt06"> Jongenskaartjes</a></div>
    </div>
    <div class="xs-6 xsm-4 sm-4 md-4 lg-4">
        <div class="thumbnail thumbnail-button" onclick="location.href = '/geboortekaartjes/geboortekaartjes-meisje';"><img alt="De hipste meisjes geboortekaartjes bij hipDesign!" class="img" src="https://hipdesign.nl/media/GeboorteHome02meisjeskaarten.jpg" /> <a class="thumbnail-button-button bt06">Meisjeskaartjes</a></div>
    </div>
    <div class="xs-hide xsm-hide xsm-4 sm-4 md-4 lg-4  ">
        <div class="thumbnail thumbnail-button" onclick="location.href = '/geboortekaartjes/alle-geboortekaartjes';"><img alt="Bekijk hier alle hippe geboortekaartjes van hipDesign." class="img" src="https://hipdesign.nl/media/GeboorteHome03allegeboortekaartjes.jpg" /> <a class="thumbnail-button-button bt06">Alle geboortekaartjes</a></div>
    </div>
</div>
<p><a class="button button-birth button-arrow-right sm-hide md-hide lg-hide xl-hide" href="/geboortekaartjes/alle-geboortekaartjes">Bekijk alle geboortekaartjes</a></p>
<div class="page-menu">
    <h3>Of kies voor:</h3>
    <ul>
        <li><a href="/geboortekaartjes/zelf-geboortekaartjes-maken">Zelf maken </a></li>
        <li><a href="/geboortekaartjes/nieuwe-geboortekaartjes">Nieuwste kaartjes</a></li>
        <li><a href="/geboortekaartjes/geboortekaartjes-met-foto">Kaart met foto</a></li>
        <li><a href="/geboortekaartjes/stoere-geboortekaartjes">Stoere kaartjes</a></li>
        <li><a href="/geboortekaartjes/hippe-geboortekaartjes">Hippe kaartjes</a></li>
        <li><a href="/geboortekaartjes/vintage-geboortekaartjes">Vintage kaartjes</a></li>
        <li><a href="/bestel_details?keuze=enveloppen">Enveloppen</a></li>
        <li><a href="/verzendservice">Adreslabels</a></li>
        <li><a href="/verzendservice">Verzendservice</a></li>
    </ul>
</div>
<div class="cols">
    <div class="xs-hide xsm-hide sm-hide xsm-6 sm-3 md-3 lg-3">
        <div class="thumbnail thumbnail-button" onclick="location.href = '/geboortekaartjes/zelf-geboortekaartjes-maken';"><img alt="Zelf geboortekaartjes online maken in de super handige editor bij hipDesign!" class="img" src="https://hipdesign.nl/media/GeboorteHome04Zelfmaken.jpg" /> <a class="thumbnail-button-button bt06"> Zelf maken</a></div>
    </div>
    <div class="xs-hide xsm-hide sm-hide xsm-6 sm-3 md-3 lg-3">
        <div class="thumbnail thumbnail-button" onclick="location.href = '/geboortekaartjes/nieuwe-geboortekaartjes';"><img alt="Bekijk hier de nieuwste kaartjes ontworpen door hipDesign." class="img" src="https://hipdesign.nl/media/GeboorteHome05Nieuwstekaartjes.jpg" /> <a class="thumbnail-button-button bt06">Nieuwste kaartjes</a></div>
    </div>
    <div class="xs-hide xsm-hide sm-hide xsm-6 sm-3 md-3 lg-3">
        <div class="thumbnail thumbnail-button" onclick="location.href = '/exclusief';"><img alt="Exclusieve collecties bij hipDesign." class="img" src="https://hipdesign.nl/media/GeboorteHome06Exclusief.jpg" /> <a class="thumbnail-button-button bt06">Exclusief</a></div>
    </div>
    <div class="xs-hide xsm-hide sm-hide xsm-6 sm-3 md-3 lg-3">
        <div class="thumbnail thumbnail-button" onclick="location.href = '/geboortekaartjes/ontwerp-samen';"><img alt="Maak samen met hipDesign je unieke geboortekaartje!" class="img" src="https://hipdesign.nl/media/GeboorteHome07Ontwerpsamen.jpg" /> <a class="thumbnail-button-button bt06">Ontwerp samen</a></div>
    </div>
</div>
<h2 class="cptitle xs-hide xsm-hide">Geboortekaartjes maken doe je bij hipDesign!</h2>
<p>Van stoere designs tot super gave en hippe geboortekaartjes. Van kleurrijk tot heel strak of klassiek. Bestel voor <strong>&euro;1,00 een proefdruk</strong> en ontvang daarbij een<strong> luxe papiersetje</strong> met de beschikbare papiersoorten en envelopkleuren. Elke week maken we nieuwe designs voor onze collectie jongens- en meisjeskaarten. We volgen de laatste trends maar zijn ook lekker hip met een eigen stijl, een stijl die je alleen bij hipDesign terug vindt.</p>
<h2 class="cptitle">Nieuwste geboortekaartjes</h2>