<p class="main-title">&nbsp;</p>

<p class="main-title"><a id="geboortekaartjeshanneke">Geboortekaartjes ontwerpen</a></p>

<p><strong>Oprecht de mooiste dag in mijn leven, de dag dat onze dochter Chlo&eacute; werd geboren.</strong> Trots, blijdschap, onvoorwaardelijke liefde. Zoveel emoties die je probeert in &eacute;&eacute;n kaart te vangen. Dat is voor mij een geboortekaart in het kort. Een<strong> tijdloos ontwerp</strong> staat dan bij mij ook altijd voorop. Het moet over 10 of 20 jaar nog steeds mooi zijn, pas dan is het in mijn ogen <strong>een geslaagd ontwerp</strong>. <em>Vandaar dat ik altijd vertrouw op klassiek en eenvoudig, maar dan in een modern en persoonlijk jasje.</em> Op deze manier sla je nooit de plank mis en kijk je jaren later nog tevreden terug naar een mooi geboortekaartje.</p>

<div class="cols">
	<div class="xs-6 sm-3"><a href="/choose_card/meisje-babykaartje-cirkel-stippen-cirkels-enkel-kaartje" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_39.png" /></a></div>

	<div class="xs-6 sm-3"><a href="/choose_card/geboorte-kaartje-maken-meisje-hartjes-simpel-leuk" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_40.png" /></a></div>

	<div class="xs-6 sm-3"><a href="/choose_card/geboortekaart-basis-meisje-chevron-strepen-design-hip" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_41.png" /></a></div>

	<div class="xs-6 sm-3"><a href="/choose_card/meisje-geboortekaart-sterren-design-simpel-strak" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_42.png" /></a></div>
</div>

<div class="cols">
	<div class="xs-6 sm-3"><a href="/choose_card/geboortekaartjes-jongen-streep-hartjes-clean-wit" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_43.png" /></a></div>

	<div class="xs-6 sm-3"><a href="/choose_card/geboortekaartjes-jongens-sterren-hartjes" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_44.png" /></a></div>

	<div class="xs-6 sm-3"><a href="/choose_card/geboortekaartjes-jongen-sterren-clean-wit" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_45.png" /></a></div>

	<div class="xs-6 sm-3"><a href="/choose_card/babykaartje-jongen-stippen-wit-mintgroen" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_46.png" /></a></div>
</div>

<p><a href="http://www.hannekeverstegen.com" target="_blank"><img alt="" class="w-100" src="/img/exclusief/Exclusief_HannekeVerstegen_47.png" /></a></p>

<p class="text-right"><strong>Bron: <a href="https://nl.pinterest.com/hipdesignkaart/hipdesign-babykamers-inspiratie/" target="_blank">Pinterest</a></strong></p>

<div class="cols">
	<div class="xs-6 sm-3"><a href="/choose_card/geboortekaartje-maken-lief-strikje-foto-hanneke-verstegen-labeltje" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_29.png" /></a></div>

	<div class="xs-6 sm-3"><a href="/choose_card/geboortekaart-ontwerpen-hanneke-verstegen-stijlvol-hartjes-strik" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_30.png" /></a></div>

	<div class="xs-6 sm-3"><a href="/choose_card/stijlvolle-geboortekaartjes-maken-hart-bloem-foto-icoontjes-hanneke-ve" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_31.png" /></a></div>

	<div class="xs-6 sm-3"><a href="/choose_card/lief-geboortekaartje-icoontjes-harten-strik-goud" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_32.png" /></a></div>
</div>

<div class="cols">
	<div class="xs-6 sm-3"><a href="/choose_card/geboortekaartje-stijlvol-ontwerp-hanneke-verstegen-ster-lint-foto" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_33.png" /></a></div>

	<div class="xs-6 sm-3"><a href="/choose_card/lief-geboortekaartje-maken-hanneke-verstegen-icoontje-foto-ster-label" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_34.png" /></a></div>

	<div class="xs-6 sm-3"><a href="/choose_card/stijlvolle-geboortekaart-lintje-sterretjes-hart-hanneke-verstegen" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_35.png" /></a></div>

	<div class="xs-6 sm-3"><a href="/choose_card/klassiek-ontwerp-geboortekaartje-hanneke-verstegen-foto-icoontjes-ster" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_36.png" /></a></div>
</div>

<p><a href="http://www.hannekeverstegen.com" target="_blank"><img alt="" class="w-100" src="/img/exclusief/Exclusief_HannekeVerstegen_38.png" /></a></p>

<p class="text-right"><strong>Bron: <a href="http://www.hannekeverstegen.com/" target="_blank">Hanneke Verstegen</a></strong></p>

<div class="cols">
	<div class="xs-6 sm-3"><a href="/choose_card/stijlvol-geboortekaartje-maken-goud-hartjes-foto-hanneke-verstegen" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_12.png" /></a></div>

	<div class="xs-6 sm-3"><a href="/choose_card/minimalistisch-geboortekaartje-goud-harten-hanneke-verstegen" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_13.png" /></a></div>

	<div class="xs-6 sm-3"><a href="/choose_card/modern-geboortekaartje-gouden-hartjes-foto-hanneke-verstegen" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_14.png" /></a></div>

	<div class="xs-6 sm-3"><a href="/choose_card/minimalistisch-ontwerp-geboorte-kaartje-goud-hanneke-verstegen" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_15.png" /></a></div>
</div>

<div class="cols">
	<div class="xs-6 sm-3"><a href="/choose_card/stijlvol-geboortekaartje-modern-goud-hartje-foto-hanneke-verstegen" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_16.png" /></a></div>

	<div class="xs-6 sm-3"><a href="/choose_card/klassiek-geboortekaartje-maken-hanneke-verstegen-goud-icoontje" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_17.png" /></a></div>

	<div class="xs-6 sm-3"><a href="/choose_card/minimalistisch-geboortekaartje-ontwerpen-hanneke-verstegen-goud" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_18.png" /></a></div>

	<div class="xs-6 sm-3"><a href="/choose_card/klassieke-geboortekaartjes-ontwerpen-hanneke-verstegen-gouden-hart" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_19.png" /></a></div>
</div>

<p><a href="http://www.hannekeverstegen.com" target="_blank"><img alt="" class="w-100" src="/img/exclusief/Exclusief_HannekeVerstegen_05.png" /></a></p>

<p class="text-right"><strong>Bron: <a href="http://www.hannekeverstegen.com/" target="_blank">Hanneke Verstegen</a></strong></p>

<div class="has-line">&nbsp;</div>

<p>&nbsp;</p>

<p class="main-title"><a id="trouwkaartenhanneke">Trouwkaarten maken</a></p>

<p><strong>Een huwelijk is in mijn ogen het ultieme moment om helemaal uit te pakken.</strong> Om het tot een echt onvergetelijk familie feest te maken let je op <em>de kleinste details.</em> Het begint dan ook allemaal met het uitzoeken of ontwerpen van de <strong>perfecte kaart en Save the Date</strong>, het eerste tipje van de sluier. Zelf vind ik het heel belangrijk dat een kaart ook echt de persoonlijkheid en smaak van de bruid en bruidegom weergeeft. En als de toon eenmaal gezet is, de stijl, kleuren en sfeer bepaald zijn, kun je dit als leidraad gebruiken voor de vele keuzes die je voor een <strong>huwelijksdag</strong> moet maken. Zo kun je de sfeer en uitstraling helemaal doortrekken in alle <em>feestelijke details</em> die bij een huwelijk komen kijken. Bekijk ook mijn moodboards die ik gebruik als basis voor de designs.</p>

<div class="xs-6 sm-3"><a href="/choose_card/stijlvolle-trouwkaarten-we-say-yes" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_53.png" /></a></div>

<div class="xs-6 sm-3"><a href="/choose_card/uitnodiging-huwelijk-wit-summer-chique" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_54.png" /></a></div>

<div class="xs-6 sm-3"><a href="/choose_card/hanneke-verstegen-eigen-collectie-trouwkaarten-minimialistisch-wit" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_55.png" /></a></div>

<div class="xs-6 sm-3"><a href="/choose_card/huwelijks-uitnodiging-wit-mr-and-mrs" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_56.png" /></a></div>

<p><a href="http://www.hannekeverstegen.com" target="_blank"><img alt="" class="w-100" src="/img/exclusief/Exclusief_HannekeVerstegen_57.png" /></a></p>

<div class="xs-6 sm-3"><a href="/choose_card/trouwkaart-maken-stijlvol-design-hanneke-verstegen-iconen-goud" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_08.png" /></a></div>

<div class="xs-6 sm-3"><a href="/choose_card/klassieke-trouwkaart-maken-goud-icoontjes-hanneke-verstegen" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_09.png" /></a></div>

<div class="xs-6 sm-3"><a href="/choose_card/minimalistisch-trouwkaart-ontwerpen-gouden-icoontjes-hanneke-verstegen" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_10.png" /></a></div>

<div class="xs-6 sm-3"><a href="/choose_card/minimalistische-trouwuitnodiging-foto-icoontjes-hanneke-verstegen" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_11.png" /></a></div>

<p><a href="http://www.hannekeverstegen.com" target="_blank"><img alt="" class="w-100" src="/img/exclusief/Exclusief_HannekeVerstegen_06.png" /></a></p>

<p class="text-right"><strong>Bron: <a href="https://nl.pinterest.com/hannekeverstegn/hipdesign/" target="_blank">Pinterest</a></strong></p>

<div class="has-line">&nbsp;</div>

<p>&nbsp;</p>

<p class="main-title"><a id="uitnodigingskaartenhanneke">Uitnodigingen ontwerpen</a></p>

<p><strong>Het leven is een feestje, je moet alleen zelf de slingers ophangen en de uitnodiging versturen.</strong> Dat is mijn motto als het op een feestje aankomt. Elke belangrijke datum verdient het om gevierd te worden. Zo ook een verjaardag en dan vooral de verjaardag van je eigen kind of kleinkind. Zelf kan ik uren op internet en in tijdschriften zoeken naar inspiratie. Van kleding tot taart, van slinger tot uitnodiging, alles verdient het om met liefde en aandacht gemaakt te worden. Om er voor te zorgen dat alles een mooi geheel wordt kies ik altijd als eerste het thema. Dit kan van alles zijn, zolang het natuurlijk maar in de smaak valt bij de jarige of de gene waar je het feestje voor organiseert. Vervolgens maak ik als eerste de uitnodiging, helemaal in stijl natuurlijk. Daarmee begint al de pret van het voorbereiden.</p>

<div class="cols">
	<div class="xs-6 sm-3"><a href="/choose_card/uitnodigingskaart-maken-40-jaar-vrouw-highwine" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_48.png" /></a></div>

	<div class="xs-6 sm-3"><a href="/choose_card/uitnodiging-vrouw-30-jaar-hip-stippen-champagne-glaasjes" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_49.png" /></a></div>

	<div class="xs-6 sm-3"><a href="/choose_card/uitnodiging-verjaardag-stijlvol-streep-champagne" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_50.png" /></a></div>

	<div class="xs-6 sm-3"><a href="/choose_card/moderne-verjaardags-uitnodiging-maken-stippen" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_51.png" /></a></div>
</div>

<p><a href="http://www.hannekeverstegen.com" target="_blank"><img alt="" class="w-100" src="/img/exclusief/Exclusief_HannekeVerstegen_52.png" /></a></p>

<div class="cols">
	<div class="xs-6 sm-3"><a href="/choose_card/uitnodigingen-maken-kinderfeestje-meisje-hip" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_21.png" /></a></div>

	<div class="xs-6 sm-3"><a href="/choose_card/uitnodiging-maken-kinderfeestje-meisje-met-sterren" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_22.png" /></a></div>

	<div class="xs-6 sm-3"><a href="/choose_card/uitnodiging-maken-meisje-2-jaar-hip-met-sterren" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_23.png" /></a></div>

	<div class="xs-6 sm-3"><a href="/choose_card/hip-kaartje-uitnodiging-kinderfeestje-peuter" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_24.png" /></a></div>
</div>

<div class="cols">
	<div class="xs-6 sm-3"><a href="/choose_card/uitnodiging-kinderfeestje-maken-jongetje-hip-2-jaar" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_25.png" /></a></div>

	<div class="xs-6 sm-3"><a href="/choose_card/jongens-uitnodiging-maken-kinderfeestje-hip" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_26.png" /></a></div>

	<div class="xs-6 sm-3"><a href="/choose_card/hip-kaartje-uitnodiging-verjaardag-jongen" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_27.png" /></a></div>

	<div class="xs-6 sm-3"><a href="/choose_card/kaartje-maken-kinderfeestje-jongetje" title=""><img alt="" src="/img/exclusief/Exclusief_HannekeVerstegen_28.png" /></a></div>
</div>

<p><a href="http://www.hannekeverstegen.com" target="_blank"><img alt="" class="w-100" src="/img/exclusief/Exclusief_HannekeVerstegen_37.png" /></a></p>

<p class="text-right"><strong>Bron: <a href="http://www.hannekeverstegen.com/" target="_blank">Hanneke Verstegen</a></strong></p>

<div class="has-line">
	<p>&nbsp;</p>

	<p><a href="http://www.hannekeverstegen.com/" target="_blank" title=""><img alt="" class="w-100" src="/img/exclusief/Exclusief_HannekeVerstegen_07.png" /></a></p>

	<p>&nbsp;</p>

	<div class="cols cols-multi">
		<div class="sm-4">
			<p class="main-title">Hanneke in het kort</p>

			<p>Welkom op mijn pagina. Mijn naam is Hanneke en ik ben de <strong>trotse mama van Chlo&eacute;</strong>.&nbsp; Al sinds ik klein was ben ik gek op mode en alles wat daar bij komt kijken. In mijn vroegste herinneringen ben ik al aan het<em> tekenen, plaatjes verzamelen en plakboeken aan het maken</em>. Ook het <strong>interieur van mijn kinderkamer</strong> moest er regelmatig aan geloven. Dit tot lichte ergernis van mijn ouders. Ik ben geobsedeerd door esthetisch mooie plaatjes, op alle gebied. Altijd op zoek naar het perfecte plaatje.</p>

			<p><a href="http://www.hannekeverstegen.com" target="_blank"><img alt="" class="w-100" src="/img/exclusief/Exclusief_HannekeVerstegen_03.png" /></a></p>

			<p><strong>Bron: <a href="http://www.hannekeverstegen.com/" target="_blank">Hanneke Verstegen</a></strong></p>

			<div class="has-line">&nbsp;</div>

			<p class="main-title">Creatieve duizendpoot</p>

			<p>In 2006 ben ik afgestudeerd aan <em>Artemis modeacademie te Rotterdam</em>. Daarna ben ik als <strong>denim designer</strong> aan de slag gegaan in Duitsland bij een private label. Drie dagen per week ontwerp ik in opdracht van klanten voornamelijk jeans voor dames, heren en kinderen. <strong>Ook de bijbehorende labels, printjes en andere artworks</strong> neem ik voor mijn rekening. Een heel <em>veelzijdige job</em> die ik nog steeds met heel veel plezier doe.</p>
		</div>

		<div class="sm-4">
			<p class="main-title">Inspireren met bloggen</p>

			<p>Naast mijn<strong> </strong>voorliefde voor mode behoren ook <strong>lifestyle, interieur en fotografie</strong> tot mijn interesses. Dit gecombineerd met mijn eeuwige drang naar, in mijn ogen, perfectie zorgt er voor dat ik steeds op zoek ben naar nieuwe inspiratie. <em>Zowel offline als online</em>. Zo&#39;n 6 jaar geleden ben ik daarom ook mijn eigen<strong><u> <a href="http://www.hannekeverstegen.com/" target="_blank">blog</a></u> </strong>gestart. Ik vind het te gek hoe andere bloggers hun inspiratie <em>online delen </em>en haal er zelf ook heel veel <strong>inspiratie</strong> uit. Door zelf mijn eigen inspiratie te delen hoop ik mijn beurt ook weer anderen te inspireren.</p>

			<p><a href="http://nl.pinterest.com/hannekeverstegn/" target="_blank"><img alt="" class="w-100" src="/img/exclusief/Exclusief_HannekeVerstegen_02.png" /></a></p>

			<p><strong>Bron: Hanneke Verstegen on <a href="https://nl.pinterest.com/hannekeverstegn/" target="_blank">Pinterest</a></strong></p>

			<div class="has-line">&nbsp;</div>

			<p class="main-title">Hanneke in de spotlight</p>

			<p>Dankzij mijn <u><strong><a href="http://www.hannekeverstegen.com/" target="_blank">blog</a></strong></u> heb ik een eigen plekje waar ik volledig mijn eigen visie kan uiten zonder dat ik daar aan iemand verantwoording voor af hoef te leggen. Hier kan ik mijn <strong>creativiteit</strong> dan ook helemaal in kwijt en tegelijkertijd is het steeds weer een uitdaging om mezelf te blijven verbeteren. Gelukkig is dit de laatste jaren niet onopgemerkt gebleven. In 2012 won ik tot mijn grote verbazing en vreugde een heuse <strong>Prix de la Mode van Marie Claire</strong>. Daarna volgde nog samenwerkingen met <strong>H&amp;M, Metro Mode, Fabulous Mama</strong> en werd ik een van de gezichten van de <strong>Oilily</strong> zomer 2016 campagne.</p>

			<div class="has-line">&nbsp;</div>

			<p class="main-title">Passie voor haar vak</p>

			<p>Net als iedere moeder moet ik elke dag mijn best doen om alle ballen in de lucht te houden. <em>Een gezin, werk, huishouden en een sociaal leven</em> combineren is natuurlijk al een uitdaging op zich. Tel daar een <a href="http://www.hannekeverstegen.com/" target="_blank">blog</a> en een drang naar perfectie bij op en alle uren van de dag zijn gevuld. Gelukkig heb ik van mijn hobby mijn werk kunnen maken doe ik alles met heel veel plezier. Ik krijg er vooral heel veel energie voor terug.</p>
		</div>

		<div class="sm-4">
			<p>Dankzij mijn<u> <strong><a href="http://www.hannekeverstegen.com/" target="_blank">blog</a></strong> </u>heb ik al vele mooie <strong>samenwerkingen </strong>gehad en hierboven zie je de meest recentelijke. Mijn eigen collectie kaarten. Wat een super mooie mijlpaal. Dit past helemaal in mijn straatje aangezien ik vind dat <em>elk feestje en of belangrijke gebeurtenis in ons leven</em> het verdient om op een passende manier gevierd te worden. En dat begint natuurlijk met de<strong> perfecte uitnodiging</strong>. Samen met designer <a href="hipdesign.nl/over-ons" target="_blank">Ren&eacute;e</a> heb ik dan ook alvast een aantal super mooie <strong>geboortekaarten en trouwkaarten</strong> ontworpen. En hopelijk is dit nog maar het begin want ik heb nog veel meer idee&euml;n die ik zou willen delen. Dus hou deze pagina in de gaten voor meer en alvast heel veel plezier met deze collectie.</p>

			<p>Liefs Hanneke</p>

			<p><a href="http://nl.pinterest.com/hannekeverstegn/" target="_blank"><img alt="" class="w-100" src="/img/exclusief/Exclusief_HannekeVerstegen_01.png" /></a></p>

			<p><strong>Bron: Hanneke Verstegen on <a href="https://nl.pinterest.com/hannekeverstegn/" target="_blank">Pinterest</a></strong></p>

			<div class="has-line">&nbsp;</div>

			<p>&nbsp;</p>

			<p><a href="http://www.hannekeverstegen.com" target="_blank"><img alt="" class="w-100" src="/img/exclusief/Exclusief_HannekeVerstegen_20.png" /></a></p>

			<p><strong>Bron: <a href="http://www.hannekeverstegen.com/" target="_blank">Hanneke Verstegen</a></strong></p>
		</div>
	</div>

	<div class="cols">
		<div class="sm-4">
			<div class="has-line" style="padding-bottom: 0!important; max-height: 0!important">&nbsp;</div>
		</div>

		<div class="sm-4">
			<div class="has-line" style="padding-bottom: 0!important; max-height: 0!important">&nbsp;</div>
		</div>

		<div class="sm-4">
			<div class="has-line" style="padding-bottom: 0!important; max-height: 0!important">&nbsp;</div>
		</div>
	</div>
</div>
