<style type="text/css">// REPLACE temphanneke0123 WITH PAGE SHORT NAME

	#body_hanneke-verstegen #categories {
		display: none;
	}

	#body_hanneke-verstegen #mid {
		width: 100%;
		padding: 0px;
		margin-top: 46px; 
	}

	@media only screen and (min-width: 992px){
		#body_hanneke-verstegen #mid {
			margin-top: 130px; 
		}
	}

	#body_hanneke-verstegen #crumbs {
		display: none;
	}

	#body_hanneke-verstegen #pagecontent {
		width: 100%;

	}

	#body_hanneke-verstegen #header {
		height: 0;
	}

	#body_hanneke-verstegen #pagebody  {
		margin-top: 0px; 
	}

	#body_hanneke-verstegen #pagebody > h1 {
		display: none;
	}


	/* ADJUST IMAGES FOR HEADERS */

	#premium-page  .premium-page__category-geboorte .category-intro::after {
		background-image: url(/img/premium/verstegen_geboorte_2@2x.png);
		z-index: 1;
	}
	#premium-page  .premium-page__category-trouwen .category-intro::after {
		background-image: url(/img/premium/verstegen_trouwen_1@2x.jpg);
	}
	#premium-page  .premium-page__category-uitnodigingen .category-intro::after {
		background-image: url(/img/premium/verstegen_uitnodigingen_1.png);
	}
</style>
<div class="hide" data-sidebar="prijzen-geboor|geboort-wat|geboort-nieuw|geboort-borrel|geboort-pop|geboort-stijl|geboort-vorm|geboort-extra">&nbsp;</div>

<div class="hide" id="t-hide-sidebar">&nbsp;</div>

<div id="premium-page">
	<div class="premium-page-header cols">
		<div class="premium-page-header__image sm-12 md-6" style="background-image: url(/img/premium/m_verstegen_intro@2x.jpg);">&nbsp;</div>

		<div class="premium-page-header__title-mobile">
			<h4>Exclusief</h4>

			<h1>By Hanneke</h1>
		</div>

		<ul class="premium-page-header__menu sm-12">
			<li class="js-scroll-to premium-page__scroll-to" data-scroll-to-link="#premium-exclusief_by_hanneke">Exclusief by Hanneke</li>
			<li class="js-scroll-to premium-page__scroll-to" data-scroll-to-link="#premium-geboortekaartjes">Geboortekaartjes</li>
			<li class="js-scroll-to premium-page__scroll-to" data-scroll-to-link="#premium-trouwkaartjes">Trouwkaarten</li>
			<li class="js-scroll-to premium-page__scroll-to" data-scroll-to-link="#premium-uitnodigingen">Uitnodigingen</li>
			<li class="js-scroll-to premium-page__scroll-to" data-scroll-to-link="#premium-over-hanneke-verstegen">Over Hanneke Verstegen</li>
		</ul>

		<div class="premium-page-header__content sm-12 md-6" id="premium-exclusief_by_hanneke">
			<div class="premium-page-header__title-desktop">
				<h4 style="color: #caaa82 !important;">Exclusief</h4>

				<h1>By Hanneke</h1>
			</div>

			<h2>Tijdloze designs met liefde voor vormgeving</h2>

			<p><strong>Trots presenteren wij de exclusieve collectie van <a href="http://www.hannekeverstegen.com/" target="_blank">Hanneke!</a></strong> Met een eigen visie en stijl heeft zij samen met onze vormgevers prachtige <strong>geboortekaartjes</strong>, <strong>trouwkaarten</strong> en <strong>uitnodigingen</strong> gemaakt. Super gaaf om te zien hoe Hanneke een heel nieuwe stijl laat zien. <strong>Geboortekaartjes klassiek</strong> met hippe verrassende details.<em> Lieve tijdloze designs</em> om de geboorte van je zoon en dochter aan te kondigen waarbij <strong>luxe papiersoorten</strong> zoals parelmoer en yvory gold de kaart helemaal compleet maakt. Met liefde voor vormgeving en een natuurlijk gevoel voor stijl is haar collectie ontstaan. Kleur bekennen zoals bij de huwelijksuitnodigingen past bij Hanneke. Prachtige tinten oranje, roze en lichtblauw in balans met de vormgeving zodat het ontwerp stijlvol en verrassend klassiek blijft. Wil je meer weten over Hanneke, haar liefde voor haar dochter en waar ze over schrijft? <strong>Lees hier alles over haar.</strong> Veel plezier met het bewonderen van haar collectie kaartjes.</p>
		</div>
	</div>

	<div class="premium-page__category premium-page__category-geboorte" id="premium-geboortekaartjes">
		<div class="category-intro">
			<div class="category-intro__content xs-12 sm-8 md-6">
				<h4 style="	color: #caaa82 !important;">Hanneke over geboorte</h4>

				<h2>Trots, blijdschap, onvoorwaardelijke liefde</h2>

				<p><strong>Oprecht de mooiste dag in mijn leven, de dag dat onze dochter Chlo&eacute; werd geboren.</strong> Trots, blijdschap, onvoorwaardelijke liefde. Zoveel emoties die je probeert in &eacute;&eacute;n kaart te vangen. Dat is voor mij een <strong>geboortekaart</strong> in het kort.</p>
			</div>

			<div class="category-intro__image  xs-12 sm-8 md-6"><img src="/img/premium/verstegen_geboorte_1.png" /></div>
		</div>

		<div class="category-content">
			<h2>Geboortekaartjes</h2>

			<h3>Een tijdloos ontwerp: klassiek, eenvoudig maar modern</h3>

			<p><strong>Een tijdloos ontwerp staat dan bij mij ook altijd voorop.</strong> Het moet over 10 of 20 jaar nog steeds mooi zijn, pas dan is het in mijn ogen een geslaagd ontwerp. Vandaar dat ik altijd vertrouw op klassiek en eenvoudig, maar dan in een modern en persoonlijk jasje. Op deze manier sla je nooit de plank mis en kijk je jaren later nog tevreden terug naar een mooi geboortekaartje.</p>
		</div>

		<div class="category-items cols">
			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/meisje-babykaartje-cirkel-stippen-cirkels-enkel-kaartje" title=""><img src="/img/exclusief/Exclusief_HannekeVerstegen_39.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/geboorte-kaartje-maken-meisje-hartjes-simpel-leuk" title=""><img alt="Exclusief Hanneke Verstegen bij hipDesign" src="/img/exclusief/Exclusief_HannekeVerstegen_40.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/geboortekaart-basis-meisje-chevron-strepen-design-hip" title=""><img alt="Exclusief Hanneke Verstegen bij hipDesign" src="/img/exclusief/Exclusief_HannekeVerstegen_41.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/meisje-geboortekaart-sterren-design-simpel-strak" title=""><img alt="Exclusief Hanneke Verstegen bij hipDesign" src="/img/exclusief/Exclusief_HannekeVerstegen_42.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/geboortekaartjes-jongen-streep-hartjes-clean-wit" title=""><img alt="Exclusief Hanneke Verstegen bij hipDesign" src="/img/exclusief/Exclusief_HannekeVerstegen_43.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/geboortekaartjes-jongens-sterren-hartjes" title=""><img alt="Exclusief Hanneke Verstegen bij hipDesign" src="/img/exclusief/Exclusief_HannekeVerstegen_44.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/geboortekaartjes-jongen-sterren-clean-wit" title=""><img alt="Exclusief Hanneke Verstegen bij hipDesign" src="/img/exclusief/Exclusief_HannekeVerstegen_45.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/babykaartje-jongen-stippen-wit-mintgroen" title=""><img alt="Exclusief Hanneke Verstegen bij hipDesign" src="/img/exclusief/Exclusief_HannekeVerstegen_46.png" /></a></div>

			<div class="category-items__item category-items__item-wide xs-12"><img src="/img/premium/verstegen_geboorte_2@2x.jpg" /></div>
		</div>

		<div class="category-items cols">
			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/geboortekaartje-maken-lief-strikje-foto-hanneke-verstegen-labeltje" title=""><img alt="Exclusief Hanneke Verstegen bij hipDesign" src="/img/exclusief/Exclusief_HannekeVerstegen_29.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/geboortekaart-ontwerpen-hanneke-verstegen-stijlvol-hartjes-strik" title=""><img alt="Exclusief Hanneke Verstegen bij hipDesign" src="/img/exclusief/Exclusief_HannekeVerstegen_30.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/stijlvolle-geboortekaartjes-maken-hart-bloem-foto-icoontjes-hanneke-ve" title=""><img alt="Exclusief Hanneke Verstegen bij hipDesign" src="/img/exclusief/Exclusief_HannekeVerstegen_31.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/lief-geboortekaartje-icoontjes-harten-strik-goud" title=""><img alt="Exclusief Hanneke Verstegen bij hipDesign" src="/img/exclusief/Exclusief_HannekeVerstegen_32.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/geboortekaartje-stijlvol-ontwerp-hanneke-verstegen-ster-lint-foto" title=""><img alt="Exclusief Hanneke Verstegen bij hipDesign" src="/img/exclusief/Exclusief_HannekeVerstegen_33.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/lief-geboortekaartje-maken-hanneke-verstegen-icoontje-foto-ster-label" title=""><img alt="Exclusief Hanneke Verstegen bij hipDesign" src="/img/exclusief/Exclusief_HannekeVerstegen_34.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/stijlvolle-geboortekaart-lintje-sterretjes-hart-hanneke-verstegen" title=""><img alt="Exclusief Hanneke Verstegen bij hipDesign" src="/img/exclusief/Exclusief_HannekeVerstegen_35.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/klassiek-ontwerp-geboortekaartje-hanneke-verstegen-foto-icoontjes-ster" title=""><img alt="Exclusief Hanneke Verstegen bij hipDesign" src="/img/exclusief/Exclusief_HannekeVerstegen_36.png" /></a></div>

			<div class="category-items__item category-items__item-wide xs-12"><img src="/img/premium/verstegen_geboorte_2@2ax.jpg" /></div>
		</div>

		<div class="category-items cols">
			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/stijlvol-geboortekaartje-maken-goud-hartjes-foto-hanneke-verstegen" title=""><img alt="Exclusief geboortekaartjes van Hanneke Verstegen" src="/img/exclusief/Exclusief_HannekeVerstegen_12.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/minimalistisch-geboortekaartje-goud-harten-hanneke-verstegen" title=""><img alt="Exclusief geboortekaartjes van Hanneke Verstegen" src="/img/exclusief/Exclusief_HannekeVerstegen_13.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/modern-geboortekaartje-gouden-hartjes-foto-hanneke-verstegen" title=""><img alt="Exclusief geboortekaartjes van Hanneke Verstegen" src="/img/exclusief/Exclusief_HannekeVerstegen_14.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/minimalistisch-ontwerp-geboorte-kaartje-goud-hanneke-verstegen" title=""><img alt="Exclusief geboortekaartjes van Hanneke Verstegen" src="/img/exclusief/Exclusief_HannekeVerstegen_15.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/stijlvol-geboortekaartje-modern-goud-hartje-foto-hanneke-verstegen" title=""><img alt="Exclusief geboortekaartjes van Hanneke Verstegen" src="/img/exclusief/Exclusief_HannekeVerstegen_16.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/klassiek-geboortekaartje-maken-hanneke-verstegen-goud-icoontje" title=""><img alt="Exclusief geboortekaartjes van Hanneke Verstegen" src="/img/exclusief/Exclusief_HannekeVerstegen_17.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/minimalistisch-geboortekaartje-ontwerpen-hanneke-verstegen-goud" title=""><img alt="Exclusief geboortekaartjes van Hanneke Verstegen" src="/img/exclusief/Exclusief_HannekeVerstegen_18.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/klassieke-geboortekaartjes-ontwerpen-hanneke-verstegen-gouden-hart" title=""><img alt="Exclusief geboortekaartjes van Hanneke Verstegen" src="/img/exclusief/Exclusief_HannekeVerstegen_19.png" /></a></div>

			<div class="category-items__item category-items__item-wide xs-12"><img src="/img/premium/verstegen_geboorte_2@2bx.jpg" /></div>
		</div>
	</div>

	<div class="premium-page__category premium-page__category-trouwen" id="premium-trouwkaartjes">
		<div class="category-intro">
			<div class="category-intro__content xs-12 sm-8 md-6">
				<h4 style="color: #caaa82 !important;">Hanneke over trouwen</h4>

				<h2>Het ultieme moment om helemaal uit te pakken</h2>

				<p><strong>Een huwelijk is in mijn ogen het ultieme moment om helemaal uit te pakken.</strong> Om het tot een echt onvergetelijk familie feest te maken let je op de kleinste details. Het begint dan ook allemaal met het uitzoeken of ontwerpen van de perfecte kaart en <strong>Save the Date</strong>, het eerste tipje van de sluier.</p>
			</div>

			<div class="category-intro__image  xs-12 sm-8 md-6">&nbsp;</div>
		</div>

		<div class="category-content">
			<h2>Trouwkaarten</h2>

			<h3>De persoonlijkheid en smaak van bruid en bruidegom</h3>

			<p><strong>Zelf vind ik het heel belangrijk dat een kaart ook echt de persoonlijkheid en smaak van de bruid en bruidegom weergeeft. </strong>En als de toon eenmaal gezet is, de stijl, kleuren en sfeer bepaald zijn, kun je dit als leidraad gebruiken voor de vele keuzes die je voor een huwelijksdag moet maken. Zo kun je de sfeer en uitstraling helemaal doortrekken in alle feestelijke details die bij een huwelijk komen kijken. Bekijk ook mijn moodboards die ik gebruik als basis voor de designs.</p>
		</div>

		<div class="category-items cols">
			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/stijlvolle-trouwkaarten-we-say-yes" title=""><img alt="Trouwkaarten uit de collectie van Hanneke Verstegen" src="/img/exclusief/Exclusief_HannekeVerstegen_53.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/uitnodiging-huwelijk-wit-summer-chique" title=""><img alt="Trouwkaarten uit de collectie van Hanneke Verstegen" src="/img/exclusief/Exclusief_HannekeVerstegen_54.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/hanneke-verstegen-eigen-collectie-trouwkaarten-minimialistisch-wit" title=""><img alt="Trouwkaarten uit de collectie van Hanneke Verstegen" src="/img/exclusief/Exclusief_HannekeVerstegen_55.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/huwelijks-uitnodiging-wit-mr-and-mrs" title=""><img alt="Trouwkaarten uit de collectie van Hanneke Verstegen" src="/img/exclusief/Exclusief_HannekeVerstegen_56.png" /></a></div>

			<div class="category-items__item category-items__item-wide xs-12"><a href="http://www.hannekeverstegen.com" target="_blank"><img src="/img/premium/verstegen_trouwen_2@2ax.jpg" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/trouwkaart-maken-stijlvol-design-hanneke-verstegen-iconen-goud" title=""><img alt="Trouwkaarten uit de collectie van Hanneke Verstegen" src="/img/exclusief/Exclusief_HannekeVerstegen_08.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/klassieke-trouwkaart-maken-goud-icoontjes-hanneke-verstegen" title=""><img alt="Trouwkaarten uit de collectie van Hanneke Verstegen" src="/img/exclusief/Exclusief_HannekeVerstegen_09.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/minimalistisch-trouwkaart-ontwerpen-gouden-icoontjes-hanneke-verstegen" title=""><img alt="Trouwkaarten uit de collectie van Hanneke Verstegen" src="/img/exclusief/Exclusief_HannekeVerstegen_10.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/minimalistische-trouwuitnodiging-foto-icoontjes-hanneke-verstegen" title=""><img alt="Trouwkaarten uit de collectie van Hanneke Verstegen" src="/img/exclusief/Exclusief_HannekeVerstegen_11.png" /></a></div>

			<div class="category-items__item category-items__item-wide xs-12"><a href="http://www.hannekeverstegen.com" target="_blank"><img src="/img/premium/verstegen_trouwen2@2x.jpg" /></a></div>
		</div>
	</div>

	<div class="premium-page__category premium-page__category-uitnodigingen" id="premium-uitnodigingen">
		<div class="category-intro">
			<div class="category-intro__content xs-12 sm-8 md-6">
				<h4 style="color: #caaa82 !important;">Hanneke over feestjes</h4>

				<h2>Het begint al met de pret van het voorbereiden</h2>

				<p><strong>Het leven is een feestje, je moet alleen zelf de slingers ophangen en de uitnodiging versturen.</strong> Dat is mijn motto als het op een feestje aankomt. Elke belangrijke datum verdient het om gevierd te worden. Zo ook een verjaardag en dan vooral de <strong>verjaardag</strong> van je eigen kind of kleinkind.</p>
			</div>

			<div class="category-intro__image  xs-12 sm-8 md-6">&nbsp;</div>
		</div>

		<div class="category-content">
			<h2>Uitnodigingen</h2>

			<h3>Het leven is een feestje, je moet alleen zelf de slingers ophangen</h3>

			<p><strong>Zelf kan ik uren op internet en in tijdschriften zoeken naar inspiratie.</strong> Van kleding tot taart, van slinger tot <strong>uitnodiging</strong>, alles verdient het om met liefde en aandacht gemaakt te worden. Om er voor te zorgen dat alles een mooi geheel wordt kies ik altijd als eerste het thema. Dit kan van alles zijn, zolang het natuurlijk maar in de smaak valt bij de jarige of de gene waar je het feestje voor organiseert. Vervolgens maak ik als eerste de uitnodiging, helemaal in stijl natuurlijk. Daarmee begint al de pret van het voorbereiden.</p>
		</div>

		<div class="category-items cols">
			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/uitnodigingskaart-maken-40-jaar-vrouw-highwine" title=""><img alt="Uitnodigingen uit de collectie van Hanneke Verstegen" src="/img/exclusief/Exclusief_HannekeVerstegen_48.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/uitnodiging-vrouw-30-jaar-hip-stippen-champagne-glaasjes" title=""><img alt="Uitnodigingen uit de collectie van Hanneke Verstegen" src="/img/exclusief/Exclusief_HannekeVerstegen_49.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/uitnodiging-verjaardag-stijlvol-streep-champagne" title=""><img alt="Uitnodigingen uit de collectie van Hanneke Verstegen" src="/img/exclusief/Exclusief_HannekeVerstegen_50.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/moderne-verjaardags-uitnodiging-maken-stippen" title=""><img alt="Uitnodigingen uit de collectie van Hanneke Verstegen" src="/img/exclusief/Exclusief_HannekeVerstegen_51.png" /></a></div>

			<div class="category-items__item category-items__item-wide xs-12"><a href="http://www.hannekeverstegen.com" target="_blank"><img src="/img/premium/verstegen_uitnodiging_2@2ax.jpg" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/uitnodigingen-maken-kinderfeestje-meisje-hip" title=""><img alt="Exclusief kinderuitnodigingen van Hanneke Verstegen" src="/img/exclusief/Exclusief_HannekeVerstegen_21.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/uitnodiging-maken-kinderfeestje-meisje-met-sterren" title=""><img alt="Exclusief kinderuitnodigingen van Hanneke Verstegen" src="/img/exclusief/Exclusief_HannekeVerstegen_22.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/uitnodiging-maken-meisje-2-jaar-hip-met-sterren" title=""><img alt="Exclusief kinderuitnodigingen van Hanneke Verstegen" src="/img/exclusief/Exclusief_HannekeVerstegen_23.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/hip-kaartje-uitnodiging-kinderfeestje-peuter" title=""><img alt="Exclusief kinderuitnodigingen van Hanneke Verstegen" src="/img/exclusief/Exclusief_HannekeVerstegen_24.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/uitnodiging-kinderfeestje-maken-jongetje-hip-2-jaar" title=""><img alt="Exclusief kinderuitnodigingen van Hanneke Verstegen" src="/img/exclusief/Exclusief_HannekeVerstegen_25.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/jongens-uitnodiging-maken-kinderfeestje-hip" title=""><img alt="Exclusief kinderuitnodigingen van Hanneke Verstegen" src="/img/exclusief/Exclusief_HannekeVerstegen_26.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/hip-kaartje-uitnodiging-verjaardag-jongen" title=""><img alt="Exclusief kinderuitnodigingen van Hanneke Verstegen" src="/img/exclusief/Exclusief_HannekeVerstegen_27.png" /></a></div>

			<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/kaartje-maken-kinderfeestje-jongetje" title=""><img alt="Exclusief kinderuitnodigingen van Hanneke Verstegen" src="/img/exclusief/Exclusief_HannekeVerstegen_28.png" /></a></div>

			<div class="category-items__item category-items__item-wide xs-12"><a href="http://www.hannekeverstegen.com" target="_blank"><img src="/img/premium/verstegen_uitnodigingen_2@2x.jpg" /></a></div>
		</div>
	</div>

	<div class="premium-page__about" id="premium-over-hanneke-verstegen">
		<div class="premium-page__about-header">
			<h4>Over Hanneke Verstegen</h4>
		</div>

		<div class="premium-page__about-item cols">
			<div class="about-item__image xs-12 sm-6"><img src="/img/premium/verstegen_over_1@2x.jpg" /></div>

			<div class="about-item__content  xs-12 sm-6">
				<h2>Hanneke in &#39;t kort</h2>

				<h3>Altijd op zoek naar het perfecte plaatje</h3>

				<p>Welkom op mijn pagina. Mijn naam is Hanneke en ik ben de trotse mama van Chlo&eacute;. Al sinds ik klein was ben ik gek op mode en alles wat daar bij komt kijken. In mijn vroegste herinneringen ben ik al aan het tekenen, plaatjes verzamelen en plakboeken aan het maken.</p>

				<p>Ook het interieur van mijn kinderkamer moest er regelmatig aan geloven. Dit tot lichte ergernis van mijn ouders.<em> Ik ben geobsedeerd door esthetisch mooie plaatjes</em>, op alle gebied. Altijd op zoek naar het perfecte plaatje.</p>
			</div>
		</div>

		<div class="premium-page__about-item cols">
			<div class="about-item__image  xs-12 sm-6"><img src="/img/premium/verstegen_over_2@2x.jpg" /></div>

			<div class="about-item__content  xs-12 sm-6">
				<h2>Creatieve duizendpoot</h2>

				<h3>Een veelzijdige job</h3>

				<p>In 2006 ben ik afgestudeerd aan Artemis modeacademie te Rotterdam. Daarna ben ik als denim designer aan de slag gegaan in Duitsland bij een private label. Drie dagen per week ontwerp ik in opdracht van klanten voornamelijk jeans voor dames, heren en kinderen. Ook de bijbehorende labels, printjes en andere artworks neem ik voor mijn rekening. Een heel veelzijdige job die ik nog steeds met heel veel plezier doe.</p>
			</div>
		</div>

		<div class="premium-page__about-item cols">
			<div class="about-item__image  xs-12 sm-6"><img src="/img/premium/verstegen_over_3@2x.jpg" /></div>

			<div class="about-item__content  xs-12 sm-6">
				<h2>Inspireren met bloggen</h2>

				<h3>Mijn eeuwige drang naar perfectie</h3>

				<p>Naast mijn voorliefde voor mode behoren ook lifestyle, interieur en fotografie tot mijn interesses. Dit gecombineerd met mijn eeuwige drang naar, in mijn ogen, perfectie zorgt er voor dat ik steeds op zoek ben naar nieuwe inspiratie. Zowel offline als online.</p>

				<p>Zo&#39;n 6 jaar geleden ben ik daarom ook mijn eigen <strong><a href="http://www.hannekeverstegen.com/">blog</a> </strong>gestart. Ik vind het te gek hoe andere bloggers hun inspiratie online delen en haal er zelf ook heel veel inspiratie uit. Door zelf mijn eigen inspiratie te delen hoop ik mijn beurt ook weer anderen te inspireren.</p>
				<a class="about-item__content-btn btn" href="http://www.hannekeverstegen.com/" target="_blank">Naar de blog van Hanneke</a></div>
			</div>

			<div class="premium-page__about-item cols">
				<div class="about-item__image  xs-12 sm-6"><img src="/img/premium/verstegen_over_4@2x.jpg" /></div>

				<div class="about-item__content  xs-12 sm-6">
					<h2>Hanneke in de spotlight</h2>

					<h3>Een uitdaging om mijzelf te blijven verbeteren</h3>

					<p>Dankzij mijn <strong><a href="http://www.hannekeverstegen.com/" target="_blank">blog</a></strong> heb ik een eigen plekje waar ik volledig mijn eigen visie kan uiten zonder dat ik daar aan iemand verantwoording voor af hoef te leggen. Hier kan ik mijn creativiteit dan ook helemaal in kwijt en tegelijkertijd is het steeds weer een uitdaging om mezelf te blijven verbeteren.</p>

					<p>Gelukkig is dit de laatste jaren niet onopgemerkt gebleven. In 2012 won ik tot mijn grote verbazing en vreugde een heuse Prix de la Mode van Marie Claire. Daarna volgde nog samenwerkingen met H&amp;M, Metro Mode, Fabulous Mama en werd ik een van de gezichten van de Oilily zomer 2016 campagne.</p>
				</div>
			</div>

			<div class="premium-page__about-item cols">
				<div class="about-item__image  xs-12 sm-6"><img src="/img/premium/verstegen_over_5@2x.jpg" /></div>

				<div class="about-item__content  xs-12 sm-6">
					<h4>Exclusief</h4>

					<h2>By Hanneke</h2>

					<h3>Mijn eigen collectie kaarten: Een mooie mijlpaal</h3>

					<p>Dankzij mijn <strong><a href="http://www.hannekeverstegen.com/" target="_blank">blog</a></strong> heb ik al vele mooie samenwerkingen gehad en hierboven zie je de meest recentelijke. Mijn eigen collectie <strong>kaarten</strong>. Wat een super mooie mijlpaal. Dit past helemaal in mijn straatje aangezien ik vind dat elk feestje en of belangrijke gebeurtenis in ons leven het verdient om op een passende manier gevierd te worden. En dat begint natuurlijk met de perfecte uitnodiging. Samen met designer Ren&eacute;e heb ik dan ook alvast een aantal super mooie geboortekaarten en trouwkaarten ontworpen. En hopelijk is dit nog maar het begin want ik heb nog veel meer idee&euml;n die ik zou willen delen.</p>

					<p>Dus hou deze pagina in de gaten voor meer en alvast heel veel plezier met deze collectie.</p>

					<p><br />
						Liefs Hanneke</p>
					</div>
				</div>
			</div>

			<div class="premium-page__footer"><img class="premium-page__footer-logo" src="/img/premium/verstegen_gouden_hartjes@2x.jpg" /></div>

			<div class="premium-page__to-top js-scroll-to" data-scroll-to-link="#wrapper">TOP</div>
		</div>
