<p style="margin:0;padding:0">&nbsp;</p>
<link href="/css/custom.css" rel="stylesheet" type="text/css" />
<link href="/css/custom_new.css" rel="stylesheet" />
<link href="/css/custom_header_new.css" rel="stylesheet" />
<link href="/css/custom_homepage.css" rel="stylesheet" />
<link href="/css/custom_menu_new.css" rel="stylesheet" />
<link href="/css/custom_design_cb.css" rel="stylesheet" />
<link href="/css/custom_page.css" rel="stylesheet" />
<link href="/css/premium_page.css" rel="stylesheet" />
<div class="navbar">
	<div class="topbar">
		<div class="container"><button class="navbar-hamburger" type="button"><span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span></button>
			<div class="topbar-menu-left">&nbsp;</div>
			<a class="logosmall" href="/"><img alt="" class="logosmall" src="/img/logo.png" /></a>

			<div class="topbar-menu-right xs-hide xsm-hide">
				<ul>
					<li><a class="hphone" href="tel:085 - 043 80 04" title="085-0438004"><i class="icon icon-phone">&nbsp;</i> <span>085 - 043 80 04</span></a></li>
					<li><a class="help" href="/prijzen-info" title="Hulp"><i class="icon icon-info">&nbsp;</i> <span>Info, Enveloppen &amp; Prijzen</span></a></li>
					<li><a class="help" href="/blog/" target="_blank" title="Hulp"><i class="icon icon-blog">&nbsp;</i> <span>Blog</span></a></li>
					<li><a class="basket" href="/contact" title="Contact"><i class="icon icon-mail">&nbsp;</i> <span>Contact</span></a></li>
					<li class="dropdown" id="navbar-logout"><a class="account" href="/account" title="Account"><i class="icon icon-user">&nbsp;</i><span>Account</span> <i class="icon icon-chevron-down icon-xs">&nbsp;</i></a>
						<ul>
							<li><a href="/account_address">Persoonsgegevens</a></li>
							<li><a href="/account_password">Wachtwoord wijzigen</a></li>
							<li><a href="/account_nieuwsbrief">Nieuwsbrief instellingen</a></li>
							<li><a href="/account_orders">Bestellingen</a></li>
							<li><a href="/eigen_collectie">Eigen collectie</a></li>
							<li style="border-top: 1px dashed #e0e0e0; margin-top:5px;"><a href="/logout">Uitloggen</a></li>
						</ul>
					</li>
					<li id="navbar-login"><a class="inloggen" href="/login" title="Inloggen"><i class="icon icon-user">&nbsp;</i><span>Inloggen</span> </a></li>
					<li id="headerbasket"><a class="text-white" href="/basket_n" title="Winkelmandje"><span id="navbar-basket">Winkelmandje 0 items</span> <i class="icon icon-basket">&nbsp;</i></a></li>
				</ul>
			</div>

			<div class="basket-m"><i class="icon icon-basket">&nbsp;</i></div>

			<div class="header-m hide">
				<p class="des">&nbsp;</p>

				<ul>
					<li><a href="/basket_n">Winkelmand</a></li>
					<li><a href="/account">Account</a></li>
					<li><a href="/eigen_collectie">Eigen collectie</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/login">Inloggen</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="middlebar">
		<div class="container">
			<div class="collapse"><a class="logo" href="/" title="hipDesign"><img alt="hipDesign" src="/img/logo.png" /></a>

				<ul class="middlebar-menu-right">
					<li><a href="/geboortekaartjes" id="geboortekaartjes">Geboortekaartjes</a>

						<ul class="dropdown-content list-collapse">
							<li><a href="/geboortekaartjes">Alle geboortekaartjes</a></li>
							<li><a href="/geboortekaartjes/geboortekaartjes-meisje">Meisjeskaartjes</a></li>
							<li><a href="/geboortekaartjes/geboortekaartjes-jongen">Jongenskaartjes</a></li>
							<li><a href="/geboortekaartjes/geboortekaartjes-tweeling">Tweeling</a></li>
							<li><a href="/geboortekaartjes/adoptiekaartjes">Adoptie</a></li>
							<li><a href="/geboortekaartjes/nieuwe-geboortekaartjes">Nieuw</a></li>
							<li><a href="/geboortekaartjes/zelf-geboortekaartjes-maken">Zelf maken</a></li>
							<li><a href="/samen">Ontwerp samen</a></li>
							<li><a href="/geboortekaartjes/prijzen-info">Prijzen en info</a></li>
						</ul>
					</li>
					<li><a href="/trouwkaarten" id="trouwkaarten">Trouwkaarten</a>
						<ul class="dropdown-content list-collapse">
							<li><a href="/trouwkaarten">Alle trouwkaarten</a></li>
							<li><a href="/trouwkaarten/stijlvolle-trouwkaarten">Stijlvol Hip</a></li>
							<li><a href="/trouwkaarten/klassieke-trouwkaarten">Klassiek &amp; Hip</a></li>
							<li><a href="/trouwkaarten/romantische-trouwkaarten">Romantisch</a></li>
							<li><a href="/trouwkaarten/vintage-trouwkaarten">Vintage</a></li>
							<li><a href="/trouwkaarten/typografie-trouwkaarten">Typografisch</a></li>
							<li><a href="/trouwkaarten/trouwkaarten-strand">Strand</a></li>
							<li><a href="/trouwkaarten/chique-trouwkaarten">Chique</a></li>
							<li><a href="/trouwkaarten/design-trouwkaarten">Design</a></li>
							<li><a href="/trouwkaarten/trouwstijl-maken">Trouwstijl</a></li>
							<li><a href="/trouwkaarten/zelf-trouwkaarten-maken">Zelf maken</a></li>
							<li><a href="/samen">Ontwerp samen</a></li>
							<li><a href="/trouwkaarten/prijzen-info">Prijzen en info</a></li>
						</ul>
					</li>
					<li class="md-hide lg-hide xl-hide"><a class="md-hide lg-hide xl-hide" href="/trouwkaarten/save-the-date-kaarten" id="save-the-date-kaarten">Save the date trouwkaarten</a>
						<ul class="dropdown-content list-collapse">
							<li><a href="/trouwkaarten/save-the-date-kaarten">Alle save the date kaarten</a></li>
							<li><a href="/trouwkaarten/stijlvolle-save-the-date-kaarten">Stijlvol Hip</a></li>
							<li><a href="/trouwkaarten/klassieke-save-the-date-kaarten">Klassiek &amp; Hip</a></li>
							<li><a href="/trouwkaarten/romantische-save-the-date-kaarten">Romantisch</a></li>
							<li><a href="/trouwkaarten/vintage-save-the-date-kaarten">Vintage</a></li>
							<li><a href="/trouwkaarten/typografie-save-the-date-kaarten">Typografisch</a></li>
							<li><a href="/trouwkaarten/save-the-date-kaarten-strand">Strand</a></li>
							<li><a href="/trouwkaarten/chique-save-the-date-kaarten">Chique</a></li>
							<li><a href="/trouwkaarten/design-save-the-date-kaarten">Design</a></li>
							<li><a href="/trouwkaarten/trouwstijl-maken">Trouwstijl</a></li>
							<li><a href="/trouwkaarten/zelf-trouwkaarten-maken">Zelf maken</a></li>
							<li><a href="/samen">Ontwerp samen</a></li>
							<li><a href="/trouwkaarten/prijzen-info">Prijzen en info</a></li>
						</ul>
					</li>
					<li><a href="/uitnodiging-maken" id="uitnodiging-maken">Uitnodigingskaarten</a>
						<ul class="dropdown-content list-collapse">
							<li><a href="/uitnodiging-maken">Alle uitnodigingen</a></li>
							<li><a href="/uitnodiging-maken/uitnodigingen-verjaardag">Verjaardag</a></li>
							<li><a href="/uitnodiging-maken/uitnodiging-kinderfeestje">Kinderfeestje</a></li>
							<!--<li><a href="/uitnodiging-maken/geslaagd">Geslaagd</a></li>--><!--<li><a href="/uitnodiging-maken/communie-vormsel">Communie/Vormsel</a></li>-->
							<li><a href="/uitnodiging-maken/kraamfeest">Kraamfeest</a></li>
							<li><a href="/uitnodiging-maken/doop">Doop</a></li>
							<li><a href="/uitnodiging-maken/zelf-uitnodigingen-maken">Zelf maken</a></li>
							<li><a href="/samen">Ontwerp samen</a></li>
							<li><a href="/uitnodiging-maken/prijzen-info">Prijzen en info</a></li>
						</ul>
					</li>
					<li><a href="/jubileumkaarten" id="jubileum-kaarten">Jubileumkaarten</a>
						<ul class="dropdown-content list-collapse md-hide lg-hide xl-hide">
							<li><a href="/jubileumkaarten">Alle jubileumkaarten</a></li>
							<li><a href="/jubileumkaarten/12-5-jaar-getrouwd">12,5 jaar getrouwd</a></li>
							<li><a href="/jubileumkaarten/25-jaar-getrouwd">25 jaar getrouwd</a></li>
							<li><a href="/jubileumkaarten/40-jaar-getrouwd">40 jaar getrouwd</a></li>
							<li><a href="/jubileumkaarten/50-jaar-getrouwd">50 jaar getrouwd</a></li>
							<li><a href="/jubileumkaarten/60-jaar-getrouwd">60 jaar getrouwd</a></li>
							<li><a href="/uitnodiging-maken/zelf-uitnodigingen-maken">Zelf maken</a></li>
							<li><a href="/samen">Ontwerp samen</a></li>
							<li><a href="/uitnodiging-maken/prijzen-info">Prijzen en info</a></li>
						</ul>
					</li>
					<li><a href="/rouwkaarten" id="rouwkaarten">Rouwkaarten</a>
						<ul class="dropdown-content list-collapse">
							<li><a href="/rouwkaarten">Alle rouwkaarten</a></li>
							<li><a href="/rouwkaarten/rouwkaarten-met-foto">Rouwkaarten met foto</a></li>
							<li><a href="/rouwkaarten/bijzondere-rouwkaarten">Bijzondere rouwkaarten</a></li>
							<li><a href="/rouwkaarten/kleurrijke-rouwkaarten">Kleurrijke rouwkaarten</a></li>
							<li><a href="/rouwkaarten/stijlvolle-rouwkaarten">Stijlvolle rouwkaarten</a></li>
							<li><a href="/rouwkaarten/rouwkaarten-baby">Rouwkaarten baby</a></li>
							<li><a href="/rouwkaarten/rouwkaarten-kind">Rouwkaarten kind</a></li>
							<li><a href="/samen">Ontwerp samen</a></li>
							<li><a href="/verzendservice">Verzendservice</a></li>
							<li><a href="/rouwkaarten/prijzen-info">Prijzen en info</a></li>
						</ul>
					</li>
					<li><a href="/wenskaarten" id="wenskaarten">Wenskaarten</a>
						<ul class="dropdown-content list-collapse">
							<li><a href="/wenskaarten">Alle wenskaarten</a></li>
							<li><a href="/wenskaarten/felicitatie-geboorte">Geboorte</a></li>
							<li><a href="/wenskaarten/felicitatie-opa-oma">Opa &amp; oma</a></li>
							<li><a href="/wenskaarten/succes-kaart">Succes</a></li>
							<li><a href="/wenskaarten/verjaardagskaart">Verjaardag</a></li>
							<li><a href="/wenskaarten/verjaardagskaart-kinderen">Verjaardag kinderen</a></li>
							<li><a href="/wenskaarten/felicitatie-zwangerschap">Zwangerschap</a></li>
							<li><a href="/wenskaarten/bedankt-kaartje">Bedankt</a></li>
							<li><a href="/wenskaarten/beterschap-kaart">Beterschap</a></li>
							<li><a href="/wenskaarten/bloemenkaarten">Bloemen</a></li>
							<li><a href="/wenskaarten/felicitatie-communie-vormsel">Communie / Vormsel</a></li>
							<li><a href="/wenskaarten/condoleancekaart">Condoleance</a></li>
							<li><a href="/wenskaarten/felicitatie-diploma">Geslaagd</a></li>
							<li><a href="/wenskaarten/goede-doelen-kaartjes">Goed doel</a></li>
							<li><a href="/wenskaarten/felicitatie-huwelijk">Huwelijk</a></li>
							<li><a href="/wenskaarten/felicitatie-jubileum">Jubileum</a></li>
							<li><a href="/wenskaarten/felicitatie-jubileum-huwelijk">Jubileum huwelijk</a></li>
							<li><a href="/wenskaarten/leeftijd-kaarten">Leeftijd</a></li>
							<li><a href="/wenskaarten/kerstkaarten">Kerst</a></li>
							<li><a href="/wenskaarten/liefde-kaart">Liefde</a></li>
							<li><a href="/wenskaarten/felicitatie-nieuwe-baan">Nieuwe baan</a></li>
							<li><a href="/wenskaarten/felicitatie-nieuwe-woning">Nieuwe woning / Verhuisd</a></li>
							<li><a href="/wenskaarten/felicitatie-rijbewijs-gehaald">Rijbewijs</a></li>
							<li><a href="/wenskaarten/sorry-kaart">Sorry</a></li>
							<li><a href="/wenskaarten/sterkte-kaart">Sterkte</a></li>
							<li><a href="/wenskaarten/vaderdagkaart">Vaderdag</a></li>
							<li><a href="/wenskaarten/felicitatie-verloving">Verloving</a></li>
							<li><a href="/wenskaarten/vriendschap-kaart">Vriendschap</a></li>
							<li><a href="/wenskaarten/zomaar-kaartje">Zomaar</a></li>
							<li><a href="/wenskaarten/felicitatie-zwemdiploma">Zwemdiploma</a></li>
						</ul>
					</li>
					<li>
						<div class="sForm" itemscope="" itemtype="http://schema.org/WebSite"><meta itemprop="url" content="https://hippe-geboortekaartjes.nl">
							<form action="/zoeken" itemprop="potentialAction" itemscope="" itemtype="http://schema.org/SearchAction" style="text-align:right;"><meta itemprop="target" content="https://hippe-geboortekaartjes.nl/zoeken?qry={qry}"><input itemprop="query-input" name="qry" placeholder="Je zoekterm + enter" type="text" /><button>&nbsp;</button></form>
						</div>
						<a class="zoek" href="#">&nbsp;</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
