<div id="template-fluid">
    <div class="container-fixed" id="content-wrapper">
        <div class="cols">
            <div class="xs-12 xsm-12 sm-12 md-12 lg-12">
                <div class="banner-large" style="background-image: url(/img/banners/banner-home-blanco.png);">
                    <h2>Maak je kaartje bij hipDesign!</h2>
                    <h1>Voor elk levensmoment een mooie kaart</h1>
                </div>
            </div>
        </div>
        <div class="cols" id="thumbnails">
            <div class="xs-12 xsm-12 sm-4 md-4 lg-4">
                <div class="thumbnail thumbnail-button" onclick="location.href = '/geboortekaartjes';">
                    <div class="thumbnail-imgbutton" style="background-image: url(/media/geboortekaartjes.jpg);">&nbsp;</div>
                    <div class="thumbnail-textbutton birth-bg-bright">Geboortekaartjes</div>
                </div>
            </div>
            <div class="xs-6 xsm-6 sm-4 md-4 lg-4 thumbnail-button-left">
                <div class="thumbnail thumbnail-button" onclick="location.href = '/trouwkaarten';">
                    <div class="thumbnail-imgbutton" style="background-image: url(/media/trouwkaarten.jpg);">&nbsp;</div>
                    <div class="thumbnail-textbutton marriage-bg-bright">Trouwkaarten</div>
                </div>
            </div>
            <div class="xs-6 xsm-6 sm-4 md-4 lg-4 thumbnail-button-right">
                <div class="thumbnail thumbnail-button" onclick="location.href = '/jubileumkaarten';">
                    <div class="thumbnail-imgbutton" style="background-image: url(/media/jubileumkaarten.jpg);">&nbsp;</div>
                    <div class="thumbnail-textbutton jubilee-bg-bright">Jubileumkaarten</div>
                </div>
            </div>
            <div class="xs-6 xsm-6 sm-4 md-4 lg-4 thumbnail-button-left">
                <div class="thumbnail thumbnail-button" onclick="location.href = '/uitnodiging-maken';">
                    <div class="thumbnail-imgbutton" style="background-image: url(/media/uitnodigingskaarten.jpg);">&nbsp;</div>
                    <div class="thumbnail-textbutton invitation-bg-bright">Uitnodigingskaarten</div>
                </div>
            </div>
            <div class="xs-6 xsm-6 sm-4 md-4 lg-4">
                <div class="thumbnail thumbnail-button" onclick="location.href = '/rouwkaarten';">
                    <div class="thumbnail-imgbutton" style="background-image: url(/media/rouwkaarten.jpg);">&nbsp;</div>
                    <div class="thumbnail-textbutton mourning-bg-bright">Rouwkaarten</div>
                </div>
            </div>
            <div class="xs-hide xsm-hide sm-4 md-4 lg-4 thumbnail-button-right">
                <div class="thumbnail thumbnail-button" onclick="location.href = '/wenskaarten';">
                    <div class="thumbnail-imgbutton" style="background-image: url(/media/wenskaarten.jpg);">&nbsp;</div>
                    <div class="thumbnail-textbutton wish-bg-bright">Wenskaarten</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fixed">
    <div class="home-usps"><img src="/img/logo.png" />
        <ul>
            <li>Klantwaardering 9,7!</li>
            <li>Klantenservice tot 21:00 uur</li>
            <li>Gratis verzending</li>
            <li>Voor 18.00 besteld, dezelfde dag gedrukt</li>
        </ul>
    </div>
</div>
<div class="cols">
    <div class="xs-12 sm-6 xsm-12 md-hide lg-hide">
        <div class="usp-block">
            <a href="" title="handgeschilderde illustraties">Handgeschilderde illustraties</a>
            <a href="" title="Klantwaardering 9,7">Klantwaardering 9,7</a>
            <a href="/contact" title="Telefonisch bereikbaar tot 21:00uur">Telefonisch bereikbaar tot 21:00 uur</a>
            <a href="" title="Direct verzending naar geadresseerden">Direct verzending naar geadresseerden</a>
            <a href="/proefdruk" title="Eerste 2 proefdrukken voor €1 per stuk">Eerste 2 proefdrukken voor &euro;1 per stuk</a>
            <a href="/enveloppen-info" title="22 kleuren enveloppen">22 kleuren enveloppen + 6 papiersoorten</a>
        </div>
    </div>
    <div class="container-fixed">
        <div class="cols">
            <div class="xs-12 xsm-12 sm-12 md-12 lg-0 welcome-header">
                <h1>Kaartjes maken doe je bij hipDesign!</h1>
            </div>
        </div>
        <div class="cols welkom welkom-new">
            <div class="xs-12 xsm-12 sm-5 md-6 welcome-text">
                <h1>Kaartjes maken doe je bij hipDesign!</h1>
                <p>De hipste online store op het gebied van kaarten, zoals geboortekaartjes, trouwkaarten, rouwkaarten, wenskaarten en uitnodigingen.&nbsp;Al onze hippe producten maak je zelf online in onze kaartenwinkel of met &eacute;&eacute;n van onze vormgevers.</p>
                <p>We horen graag van je!
                    <br /> Marleen, Loes, Evy, Ren&eacute;e, Marieke, Sanneke en Patricia</p>
                <a class="button" href="/over-ons">Meer over hipDesign
                    <i class="icon icon-chevron-right">&nbsp;</i>
                </a>
            </div>
            <div class="xs-12 xsm-12 sm-7 md-6 welcome-image">
                <p class="welkom-image">
                    <a href="/over-ons" title="Kaartjes maken doe je bij hipDesign!"><img alt="Kaartjes maken doe je bij hipDesign!" src="/media/07homehipdesignwelkom.jpg" /> </a>
                </p>
            </div>
        </div>
        <div class="cols">
            <div class="xs-12 welcome-streamer-tablet">
                <p class="streamer">Al onze hippe producten maak je zelf online in onze kaartenwinkel of met &eacute;&eacute;n van onze vormgevers.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="banner-create-together" style="background-image: url(/media/homehipdesign.jpg);">
            <div class="container-fixed">
                <div class="cols">
                    <div class="xs-hide xsm-hide md-6 lg-6">&nbsp;</div>
                    <div class="xs-hide xsm-hide md-6 lg-6">
                        <h2>Wij volgen alle trends! En vertalen dit door in unieke en hippe collecties</h2>
                        <img class="xs-hide xsm-hide" src="/media/homehipdesign.jpg" />
                        <p>Voor elk levensmoment een hippe kaart om met vrienden en familie bijzondere gebeurtenissen te vieren.</p>
                        <div class="cols">
                            <div class="xs-hide xsm-hide xsm-4 text-center">
                                <a class="button button-inline button-small invitation-bg-bright" href="/uitnodiging-maken">Uitnodigingen
                                    <i class="icon icon-chevron-right"> </i>
                                </a>
                            </div>
                            <div class="xs-hide xsm-hide xsm-4 text-center">
                                <a class="button button-inline button-small marriage-bg-bright" href="/trouwkaarten">Trouwkaarten
                                    <i class="icon icon-chevron-right"> </i>
                                </a>
                            </div>
                            <div class="xs-hide xsm-hide xsm-4 text-center">
                                <a class="button button-inline button-small birth-bg-bright" href="/geboortekaartjes">Geboortekaartjes
                                    <i class="icon icon-chevron-right"> </i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="page-menu xs-12 sm-hide md-hide lg-hide">
                        <h2>hipDesign collecties</h2>
                        <ul>
                            <li>
                                <a href="/geboortekaartjes">Geboortekaartjes</a>
                            </li>
                            <li>
                                <a href="/trouwkaarten">Trouwkaarten</a>
                            </li>
                            <li>
                                <a href="/uitnodiging-maken/uitnodigingen-verjaardag">Uitnodiging verjaardag</a>
                            </li>
                            <li>
                                <a href="/jubileumkaarten">Jubileumkaarten</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>