<!-- MOBILE HEADER HIGHLIGHT MENUS -->
<!-- 
    The default highlight menu is 'highlight'. 
    The default highlight menu for 'geboortekaartjes' would be 'highlight_geboortekaartjes'. 
    The page geboortekaartjes/geboortekaartjes-jongen' will also use this highlight menu 'highlight_geboortekaartjes'.
    Unless 'highlight_geboortekaartjes_geboortekaartjes-jongen' is defined as a menu.

    The naming uses _ instead of /
-->
<div class="js-highlight-menus" id="highlight-menus">
    <div class="hide" id="highlight"><span class="mobile-nav__highlight-item"><a href="/">Home</a></span></div>
    <div class="hide" id="highlight_geboortekaartjes"><span class="mobile-nav__highlight-item"><a href="/geboortekaartjes/geboortekaartjes-meisje">Meisjekaartjes</a></span><span class="mobile-nav__highlight-item"><a href="/geboortekaartjes/geboortekaartjes-jongen">Jongenskaartjes</a></span> <span class="mobile-nav__highlight-item"><a href="/geboortekaartjes/zelf-geboortekaartjes-maken">Zelf maken</a></span></div>
    <div class="hide" id="highlight_trouwkaarten"><span class="mobile-nav__highlight-item"><a href="/trouwkaarten/">Trouwkaarten</a></span> <span class="mobile-nav__highlight-item"><a href="/trouwkaarten/save-the-date-kaarten">Save the date</a></span> <span class="mobile-nav__highlight-item"><a href="/trouwkaarten/nieuwe-trouwkaarten">Nieuw</a></span></div>
    <div class="hide" id="highlight_uitnodiging-maken"><span class="mobile-nav__highlight-item"><a href="/uitnodiging-maken/">Uitnodiging</a></span> <span class="mobile-nav__highlight-item"><a href="/uitnodiging-maken/uitnodigingen-verjaardag">Verjaardag</a></span> <span class="mobile-nav__highlight-item"><a href="/jubileumkaarten">Jubileum</a></span></div>
    <div class="hide" id="highlight_jubileumkaarten"><span class="mobile-nav__highlight-item"><a href="/jubileumkaarten">Jubileum</a></span> <span class="mobile-nav__highlight-item"><a href="/jubileumkaarten/12-5-jaar-getrouwd">12,5</a></span> <span class="mobile-nav__highlight-item"><a href="/jubileumkaarten/25-jaar-getrouwd">25</a></span> <span class="mobile-nav__highlight-item"><a href="/jubileumkaarten/40-jaar-getrouwd">40</a></span> <span class="mobile-nav__highlight-item"><a href="/jubileumkaarten/50-jaar-getrouwd">50</a></span></div>
    <div class="hide" id="highlight_rouwkaarten"><span class="mobile-nav__highlight-item"><a href="/rouwkaarten">Rouwkaarten</a></span> <span class="mobile-nav__highlight-item"><a href="/rouwkaarten/rouwkaarten-met-foto">Met foto</a></span> <span class="mobile-nav__highlight-item"><a href="/contact">Hulp en info</a></span></div>
    <div class="hide" id="highlight_wenskaarten"><span class="mobile-nav__highlight-item"><a href="/wenskaarten">Wenskaarten</a></span> <span class="mobile-nav__highlight-item"><a href="/wenskaarten/verjaardagskaart">Verjaardag</a></span> <span class="mobile-nav__highlight-item"><a href="/wenskaarten/felicitatie-geboorte">Geboorte</a></span></div>
    <div class="hide" id="highlight_contact"><span class="mobile-nav__highlight-item"><a href="/contact">Contact</a></span></div>
</div>
<!-- SIDE MENUS -->
<div class="accordion hide menu-prijzen" id="prijzen-geboor"><a class="accordion-button" href="#"><span>Prijzen | Enveloppen | Bezorging</span> </a>
    <div class="accordion-body">
        <ul class="list list-vertical">
            <li><a href="/hoe-werkt-het">Hoe werkt het maken en bestellen?</a></li>
            <li><a href="/proefdruk">Proefdruk</a></li>
            <li><a href="/prijzen">Prijzen &amp; Betaling</a></li>
            <li><a href="/bezorging">Verzending &amp; Bezorging</a></li>
            <li><a href="/enveloppen-info">Enveloppen bestellen</a></li>
            <li><a href="/papiersoorten">Papiersoorten</a></li>
            <li><a href="/verzendservice">Sluitstickers &amp; Adreslabels</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide menu-prijzen" id="prijzen-trouw"><a class="accordion-button" href="#"><span>Prijzen | Enveloppen | Bezorging</span> </a>
    <div class="accordion-body">
        <ul class="list list-vertical">
            <li><a href="/hoe-werkt-het">Hoe werkt het maken en bestellen?</a></li>
            <li><a href="/proefdruk">Proefdruk</a></li>
            <li><a href="/prijzen">Prijzen &amp; Betaling</a></li>
            <li><a href="/bezorging">Verzending &amp; Bezorging</a></li>
            <li><a href="/enveloppen-info">Enveloppen bestellen</a></li>
            <li><a href="/papiersoorten">Papiersoorten</a></li>
            <li><a href="/verzendservice">Sluitstickers &amp; Adreslabels</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide menu-prijzen" id="prijzen-uitno"><a class="accordion-button" href="#"><span>Prijzen | Enveloppen | Bezorging</span> </a>
    <div class="accordion-body">
        <ul class="list list-vertical">
            <li><a href="/hoe-werkt-het">Hoe werkt het maken en bestellen?</a></li>
            <li><a href="/proefdruk">Proefdruk</a></li>
            <li><a href="/prijzen">Prijzen &amp; Betaling</a></li>
            <li><a href="/bezorging">Verzending &amp; Bezorging</a></li>
            <li><a href="/direct-verzenden">Direct verzenden</a></li>
            <li><a href="/enveloppen-info">Enveloppen bestellen</a></li>
            <li><a href="/papiersoorten">Papiersoorten</a></li>
            <li><a href="/verzendservice">Sluitstickers &amp; Adreslabels</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide menu-prijzen" id="prijzen-jubileum"><a class="accordion-button" href="#"><span>Prijzen | Enveloppen | Bezorging</span> </a>
    <div class="accordion-body">
        <ul class="list list-vertical">
            <li><a href="/hoe-werkt-het">Hoe werkt het maken en bestellen?</a></li>
            <li><a href="/proefdruk">Proefdruk</a></li>
            <li><a href="/prijzen">Prijzen &amp; Betaling</a></li>
            <li><a href="/bezorging">Verzending &amp; Bezorging</a></li>
            <li><a href="/direct-verzenden">Direct verzenden</a></li>
            <li><a href="/enveloppen-info">Enveloppen bestellen</a></li>
            <li><a href="/papiersoorten">Papiersoorten</a></li>
            <li><a href="/verzendservice">Sluitstickers &amp; Adreslabels</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide menu-prijzen" id="prijzen-rouw"><a class="accordion-button" href="#"><span>Prijzen | Rouwservice | Bezorging</span> </a>
    <div class="accordion-body">
        <ul class="list list-vertical">
            <li><a href="/hoe-werkt-het">Hoe werkt het maken en bestellen?</a></li>
            <li><a href="/enveloppen-rouw">Enveloppen bestellen</a></li>
            <li><a href="/proefdruk">Proefdruk</a></li>
            <li><a href="/prijzen">Prijzen &amp; Betaling</a></li>
            <li><a href="/papiersoorten">Papiersoorten</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide menu-prijzen" id="prijzen-wens"><a class="accordion-button" href="#"><span>Prijzen &amp; info</span> </a>
    <div class="accordion-body">
        <ul class="list list-vertical ">
            <li><a href="/wenskaarten/prijzen-info#prijzen">Prijzen</a></li>
            <li><a href="/wenskaarten/prijzen-info#hoe-werkt-het">Hoe werkt het</a></li>
            <li><a href="/wenskaarten/prijzen-info#betaling">Betaling</a></li>
            <li><a href="/wenskaarten/prijzen-info#bezorging">Bezorging</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide menu-prijzen" id="info-algemeen">
    <div class="accordion-body show">
        <ul class="list list-vertical">
            <li>&nbsp;</li>
            <li><a href="/hoe-werkt-het">Hoe werkt het maken en bestellen?</a></li>
            <li><a href="/proefdruk">Proefdruk</a></li>
            <li><a href="/prijzen">Prijzen &amp; Betaling</a></li>
            <li><a href="/bezorging">Verzending &amp; Bezorging</a></li>
            <li><a href="/direct-verzenden">Direct verzenden</a></li>
            <li><a href="/enveloppen-info">Enveloppen bestellen</a></li>
            <li><a href="/papiersoorten">Papiersoorten</a></li>
            <li><a href="/verzendservice">Sluitstickers &amp; Adreslabels</a></li>
            <li><a href="/tevreden">Niet tevreden</a></li>
        </ul>
        <div style="float: right; width: 100%"><a class="button" href="/contact" id="choose_preview" style="position: relative; bottom: 0; right: 0; margin: 10px 0;">Neem contact met ons op</a></div>
    </div>
</div>
<div class="accordion hide menu-prijzen" id="prijzen-jubi"><a class="accordion-button" href="#"><span>Prijzen &amp; info</span> </a>
    <div class="accordion-body">
        <ul class="list list-vertical">
            <li><a href="/jubileumkaarten/prijzen-info#prijzen">Prijzen</a></li>
            <li><a href="/jubileumkaarten/prijzen-info#papiersoorten">Papiersoorten</a></li>
            <li><a href="/verzendservice">Adreslabels</a></li>
            <li><a href="/jubileumkaarten/prijzen-info#enveloppen">Enveloppen</a></li>
            <li><a href="/verzendservice">Verzendservice</a></li>
            <li><a href="/jubileumkaarten/prijzen-info#hoe-werkt-het">Hoe werkt het</a></li>
            <li><a href="/jubileumkaarten/prijzen-info#tips-tricks">Tips &amp; tricks</a></li>
            <li><a href="/jubileumkaarten/prijzen-info#betaling">Betaling</a></li>
            <li><a href="/jubileumkaarten/prijzen-info#bezorging">Bezorging</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="cat-geboor"><a class="accordion-button active" href="#"><span>Categorie&euml;n</span> </a>
    <div class="accordion-body show">
        <ul class="list list-vertical list-collapse">
            <li><a href="/geboortekaartjes/alle-geboortekaartjes">Alle geboortekaartjes</a></li>
            <li><a href="/geboortekaartjes/geboortekaartjes-meisje">Meisje</a></li>
            <li><a href="/geboortekaartjes/geboortekaartjes-jongen">Jongen</a></li>
            <li><a href="https://hipdesign.nl/exclusief">Exclusieve collecties</a></li>
            <li><a href="/geboortekaartjes/hippe-geboortekaartjes">Hip</a></li>
            <li><a href="/geboortekaartjes/stoere-geboortekaartjes">Stoer</a></li>
            <li><a href="/geboortekaartjes/geboortekaartjes-met-foto">Met foto</a></li>
            <li><a href="/geboortekaartjes/originele-geboortekaartjes">Origineel</a></li>
            <li><a href="/geboortekaartjes/zelf-geboortekaartjes-maken">Zelf maken</a></li>
            <li><a href="/geboortekaartjes/nieuwe-geboortekaartjes">Nieuw</a></li>
            <li><a href="/geboortekaartjes/vintage-geboortekaartjes">Vintage</a></li>
            <li><a href="/geboortekaartjes/geboortekaartjes-silhouet">Silhouet</a></li>
            <li><a href="/geboortekaartjes/trendy-geboortekaartjes">Trend</a></li>
            <li><a href="/geboortekaartjes/simpele-geboortekaartjes">Simpel</a></li>
            <li><a href="/geboortekaartjes/klassieke-geboortekaartjes">Klassiek</a></li>
            <li><a href="/geboortekaartjes/lieve-geboortekaartjes">Lief</a></li>
            <li><a href="/geboortekaartjes/romantische-geboortekaartjes">Romantisch</a></li>
            <li><a href="/geboortekaartjes/vrolijke-geboortekaartjes">Vrolijk</a></li>
            <li><a href="/geboortekaartjes/retro-geboortekaartjes">Retro</a></li>
            <li><a href="/geboortekaartjes/hollandse-geboortekaartjes">Hollands</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="cat-trouw"><a class="accordion-button active" href="#"><span>Categorie&euml;n</span> </a>
    <div class="accordion-body show ">
        <ul class="list list-vertical list-collapse">
            <li><a href="/trouwkaarten">Trouwkaarten</a></li>
            <li><a href="/trouwkaarten/nieuwe-trouwkaarten">Nieuw</a></li>
            <li><a href="/trouwkaarten/stijlvolle-trouwkaarten">Stijlvol Hip</a></li>
            <li><a href="/trouwkaarten/klassieke-trouwkaarten">Klassiek en Hip</a></li>
            <li><a href="/trouwkaarten/trouwkaarten-strand">Strand</a></li>
            <li><a href="/trouwkaarten/vintage-trouwkaarten">Vintage</a></li>
            <li><a href="/trouwkaarten/typografie-trouwkaarten">Typografisch</a></li>
            <li><a href="/trouwkaarten/romantische-trouwkaarten">Romantisch</a></li>
            <li><a href="/trouwkaarten/design-trouwkaarten">Design</a></li>
            <li><a href="/trouwkaarten/chique-trouwkaarten">Chique</a></li>
            <li><a href="/trouwkaarten/save-the-date-kaarten">Save the date</a></li>
            <li><a href="/trouwkaarten/trouwstijl">Trouwstijl</a></li>
            <li><a href="/trouwkaarten/zelf-trouwkaarten-maken">Zelf maken</a></li>
            <li><a href="/trouwkaarten/ontwerp-samen">Ontwerp samen</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="trouw-stijlen"><a class="accordion-button active" href="#"><span>Collecties</span> </a>
    <div class="accordion-body show">
        <ul class="list list-vertical">
            <li><a href="/trouwkaarten/vintage-trouwkaarten">Vintage</a></li>
            <li><a href="/trouwkaarten/stijlvolle-trouwkaarten">Stijlvol &amp; hip</a></li>
            <li><a href="/trouwkaarten/typografie-trouwkaarten">Typografisch</a></li>
            <li><a href="/trouwkaarten/trouwkaarten-strand">Strand</a></li>
            <li><a href="/trouwkaarten/romantische-trouwkaarten">Romantisch</a></li>
            <li><a href="/trouwkaarten/chique-trouwkaarten">Chique</a></li>
            <li><a href="/trouwkaarten/klassieke-trouwkaarten">Klassiek</a></li>
            <li><a href="/trouwkaarten/design-trouwkaarten">Design</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="trouw-onze-coll"><a class="accordion-button active" href="#"><span>Ons aanbod</span> </a>
    <div class="accordion-body show">
        <ul class="list list-vertical">
            <li><a href="/trouwkaarten/alle-trouwkaarten-hipdesign">Alle trouwkaarten</a></li>
            <li><a href="/trouwkaarten/nieuwe-trouwkaarten">Nieuwe trouwkaarten</a></li>
            <li><a href="/trouwkaarten/save-the-date-kaarten">Save the date kaarten</a></li>
            <li><a href="/trouwkaarten/zelf-trouwkaarten-maken">Zelf maken</a></li>
            <li><a href="/trouwkaarten/ontwerp-samen">Ontwerp samen</a></li>
            <li><a href="/trouwkaarten/ontwerp-samen/uniek-op-maat">Ontwerp op maat</a></li>
            <li><a href="/trouwkaarten/trouwstijl-maken">Trouwhuisstijl</a></li>
            <li><a href="/exclusief">Exclusief bij hipDesign</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="trouw-stijlen-child"><a class="accordion-button active" href="#"><span>Collecties</span> </a>
    <div class="accordion-body show">
        <ul class="list list-vertical">
            <li><a href="/trouwkaarten/alle-save-the-date-kaarten">Alle save the date kaarten</a></li>
            <li><a href="/trouwkaarten/save-the-date-kaarten-fotokaart">Met foto</a></li>
            <li><a href="/trouwkaarten/vintage-save-the-date-kaarten">Vintage</a></li>
            <li><a href="/trouwkaarten/stijlvolle-save-the-date-kaarten">Stijlvol &amp; hip</a></li>
            <li><a href="/trouwkaarten/typografie-save-the-date-kaarten">Typografisch</a></li>
            <li><a href="/trouwkaarten/save-the-date-kaarten-strand">Strand</a></li>
            <li><a href="/trouwkaarten/romantische-save-the-date-kaarten">Romantisch</a></li>
            <li><a href="/trouwkaarten/chique-save-the-date-kaarten">Chique</a></li>
            <li><a href="/trouwkaarten/klassieke-save-the-date-kaarten">Klassiek</a></li>
            <li><a href="/trouwkaarten/design-save-the-date-kaarten">Design</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="ontw-samen"><a class="accordion-button active" href="#"><span>Ontwerp op maat</span> </a>
    <div class="accordion-body show">
        <ul class="list list-vertical">
            <li><a href="http://hipdesign.nl/geboortekaartjes/ontwerp-samen/illustratie-op-maat">Illustratie op maat</a></li>
            <li><a href="/geboortekaartjes/ontwerp-samen/geboorteservice">Geboorteservice</a></li>
            <li><a href="/geboortekaartjes/ontwerp-samen/mix-en-match">Mix &amp; Match</a></li>
            <li><a href="/geboortekaartjes/ontwerp-samen/uniek-op-maat">Uniek op maat</a></li>
            <li><a href="/geboortekaartjes/ontwerp-samen/labels">Labels</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="trouw-ontw-samen"><a class="accordion-button active" href="#"><span>Ontwerp op maat</span> </a>
    <div class="accordion-body show">
        <ul class="list list-vertical">
            <li><a href="/trouwkaarten/trouwstijl-maken">Trouwhuisstijl</a></li>
            <li><a href="/trouwkaarten/ontwerp-samen/label">Labels</a></li>
            <li><a href="/trouwkaarten/ontwerp-samen/mix-en-match">Mix &amp; Match</a></li>
            <li><a href="/trouwkaarten/ontwerp-samen/uniek-op-maat">Uniek op maat</a></li>
            <li><a href="/trouwkaarten/ontwerp-samen/met-velours-applicatie">Met velours</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="nav-blog"><a class="nav-normal" href="/blog/category/trouwen/" target="_blank"><span>Blog</span></a></div>
<div class="accordion hide" id="samen-ontw"><a class="accordion-button active" href="#"><span>Ontwerp op maat</span> </a>
    <div class="accordion-body show">
        <ul class="list list-vertical">
            <li><a href="/samen-ontwerpen">Samen</a></li>
            <li><a href="/samen-voorstel">Voorstel aanvragen</a></li>
            <li><a href="#">Uitleg</a></li>
            <li><a href="#">Prijzen</a></li>
            <li><a href="#">Leveringsvoorwaarden</a></li>
            <li><a href="#">Veelgestelde vragen</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="samen-insp"><a class="accordion-button active" href="#"><span>Inspiratie</span> </a>
    <div class="accordion-body show">
        <ul class="list list-vertical ">
            <li><a href="#">Geboortekaartjes</a></li>
            <li><a href="#">Trouwkaarten</a></li>
            <li><a href="#">Uitnodigingskaarten</a></li>
            <li><a href="#">Rouwkaarten</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="geboort-wat"><a class="accordion-button active" href="#"><span>Ons aanbod</span></a>
    <div class="accordion-body show">
        <ul class="list list-vertical">
            <li><a href="/geboortekaartjes/nieuwe-geboortekaartjes">Nieuwste</a></li>
            <li><a href="/geboortekaartjes/alle-geboortekaartjes">Alle geboortekaartjes</a></li>
            <li><a href="/geboortekaartjes/geboortekaartjes-meisje">Meisjes</a></li>
            <li><a href="/geboortekaartjes/geboortekaartjes-jongen">Jongens</a></li>
            <li><a href="https://hipdesign.nl/exclusief">Exclusieve collecties</a></li>
            <li><a href="https://hipdesign.nl/geboortekaartjes/geboortekaartjes-met-foto">Met foto</a></li>
            <li><a href="/geboortekaartjes/geboortekaartjes-tweeling">Tweeling</a></li>
            <li><a href="/geboortekaartjes/zelf-geboortekaartjes-maken">Zelf maken</a></li>
            <li><a href="https://hipdesign.nl/geboortekaartjes/ontwerp-samen">Ontwerp samen met ons</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="geboorte-meisje"><a class="accordion-button active" href="/geboortekaartjes/geboortekaartjes-meisje"><span>Geboortekaartjes meisje</span> </a>
    <div class="accordion-body show">
        <ul class="list list-vertical">
            <li><a href="https://hipdesign.nl/geboortekaartjes/geboortekaartjes-meisje/populaire-geboortekaartjes">Populairste</a></li>
            <li><a href="https://hipdesign.nl/geboortekaartjes/geboortekaartjes-meisje#alle-kaartjes">Alle meisjeskaartjes</a></li>
            <li><a href="https://hipdesign.nl/exclusief">Exclusief</a></li>
            <li><a href="/geboortekaartjes/zelf-geboortekaartjes-maken">Zelf kaart maken</a></li>
            <li><a href="/geboortekaartjes/ontwerp-samen">Ontwerp samen met ons</a></li>
            <li>
                <br /> Collecties
            </li>
            <li><a href="/geboortekaartjes/hippe-geboortekaartjes/meisje">Hip</a></li>
            <li><a href="/geboortekaartjes/lieve-geboortekaartjes/meisje">Lief</a></li>
            <li><a href="/geboortekaartjes/vintage-geboortekaartjes/meisje">Vintage</a></li>
            <li><a href="/geboortekaartjes/romantische-geboortekaartjes/meisje">Romantisch</a></li>
            <li><a href="/geboortekaartjes/klassieke-geboortekaartjes/meisje">Klassiek</a></li>
            <li><a href="/geboortekaartjes/simpele-geboortekaartjes/meisje">Simpel</a></li>
            <li><a href="/geboortekaartjes/stoere-geboortekaartjes/meisje">Stoer</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="geboorte-jongen"><a class="accordion-button active" href="#"><span>Geboortekaartjes jongen</span> </a>
    <div class="accordion-body show">
        <ul class="list list-vertical">
            <li><a href="https://hipdesign.nl//geboortekaartjes/geboortekaartjes-jongen/populaire-kaartjes">Populairste</a></li>
            <li><a href="https://hipdesign.nl/geboortekaartjes/geboortekaartjes-jongen#alle-kaartjes">Alle jongenskaartjes</a></li>
            <li><a href="https://hipdesign.nl/exclusief">Exclusief</a></li>
            <li><a href="/geboortekaartjes/zelf-geboortekaartjes-maken">Zelf kaart maken</a></li>
            <li><a href="/geboortekaartjes/ontwerp-samen">Ontwerp samen met ons</a></li>
            <li>
                <br /> Collecties
            </li>
            <li><a href="/geboortekaartjes/hippe-geboortekaartjes/jongen">Hip</a></li>
            <li><a href="/geboortekaartjes/stoere-geboortekaartjes/jongen">Stoer</a></li>
            <li><a href="/geboortekaartjes/vintage-geboortekaartjes/jongen">Vintage</a></li>
            <li><a href="/geboortekaartjes/klassieke-geboortekaartjes/jongen">Klassiek</a></li>
            <li><a href="/geboortekaartjes/lieve-geboortekaartjes/jongen">Lief</a></li>
            <li><a href="/geboortekaartjes/simpele-geboortekaartjes/jongen">Simpel</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="geboorte-anders"><a class="accordion-button active" href="#"><span>Liever iets anders?</span> </a>
    <div class="accordion-body show">
        <ul class="list list-vertical">
            <li><a href="/geboortekaartjes/alle-geboortekaartjes">Alle geboortekaartjes</a></li>
            <li><a href="/geboortekaartjes/zelf-geboortekaartjes-maken">Blanco kaart ontwerpen</a></li>
            <li><a href="/geboortekaartjes/ontwerp-samen">Ontwerp laten maken</a></li>
            <li><a href="/geboortekaartjes/geboortekaartjes-jongen">Geboortekaartje jongen</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="geboorte-anders-jongen"><a class="accordion-button active" href="#"><span>Liever iets anders?</span> </a>
    <div class="accordion-body show">
        <ul class="list list-vertical">
            <li><a href="/geboortekaartjes/alle-geboortekaartjes">Alle geboortekaartjes</a></li>
            <li><a href="/geboortekaartjes/zelf-geboortekaartjes-maken">Blanco kaart ontwerpen</a></li>
            <li><a href="/geboortekaartjes/ontwerp-samen">Ontwerp laten maken</a></li>
            <li><a href="/geboortekaartjes/geboortekaartjes-meisje">Geboortekaartjes meisje</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="geboorte-anders-meisje"><a class="accordion-button active" href="#"><span>Liever iets anders?</span> </a>
    <div class="accordion-body show">
        <ul class="list list-vertical">
            <li><a href="/geboortekaartjes/alle-geboortekaartjes">Alle geboortekaartjes</a></li>
            <li><a href="/geboortekaartjes/zelf-geboortekaartjes-maken">Blanco kaart ontwerpen</a></li>
            <li><a href="/geboortekaartjes/ontwerp-samen">Ontwerp laten maken</a></li>
            <li><a href="/geboortekaartjes/geboortekaartjes-jongen">Geboortekaartjes jongen</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="geboort-nieuw"><a class="accordion-button active" href="#"><span>Ons aanbod</span> </a>
    <div class="accordion-body show">
        <ul class="list list-vertical">
            <li><a href="/geboortekaartjes/alle-geboortekaartjes">Alle geboortekaartjes</a></li>
            <li><a href="/geboortekaartjes/geboortekaartjes-met-foto">Geboortekaartjes met foto</a></li>
            <li><a href="https://hipdesign.nl/exclusief">Exclusieve collecties</a></li>
            <li><a href="/geboortekaartjes/zelf-geboortekaartjes-maken">Zelf maken</a></li>
            <li><a href="/geboortekaartjes/ontwerp-samen">Ontwerp samen</a></li>
            <li><a href="/geboortekaartjes/ontwerp-samen">Ontwerp op maat</a></li>
            <li><a href="/geboortekaartjes/nieuwe-geboortekaartjes">Nieuw</a></li>
            <li><a href="/exclusief">Exclusief bij hipDesign</a></li>
            <li><a href="/kraamborrelkaartje">Kraamborrelkaartjes</a></li>
            <li><a href="/blog/category/geboorte/" target="_blank">Blog</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="geboort-zelf-maken"><a class="accordion-button active" href="#"><span>Zelf maken</span> </a>
    <div class="accordion-body show">
        <ul class="list list-vertical">
            <li><a href="/geboortekaartjes/zelf-geboortekaartjes-maken">Ontwerp je eigen kaart</a></li>
            <li><a href="/geboortekaartjes/zelf-kaartjes-maken/inspiratie">Trends &amp; Inspiratie</a></li>
            <li><a href="/geboortekaartjes/zelf-kaartjes-maken/hoe-werkt-het">Ontwerptoolkit</a></li>
            <li><a href="/geboortekaartjes/zelf-kaartjes-maken/eigen-ontwerp">Made by me</a></li>
            <li><a href="/geboortekaartjes/zelf-kaartjes-maken/papierkeuze">Enveloppen &amp; Papiersoorten</a></li>
            <li><a href="/blog/" target="_blank">Blog</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="geboort-stijl"><a class="accordion-button active" href="#"><span>Stijl</span> </a>
    <div class="accordion-body show">
        <ul class="list list-vertical">
            <li><a href="/geboortekaartjes/hippe-geboortekaartjes">Hip</a></li>
            <li><a href="/geboortekaartjes/stoere-geboortekaartjes">Stoer</a></li>
            <li><a href="/geboortekaartjes/vintage-geboortekaartjes">Vintage</a></li>
            <li><a href="/geboortekaartjes/klassieke-geboortekaartjes">Klassiek</a></li>
            <li><a href="/geboortekaartjes/simpele-geboortekaartjes">Simpel</a></li>
            <li><a href="/geboortekaartjes/lieve-geboortekaartjes">Lief</a></li>
            <li><a href="/geboortekaartjes/romantische-geboortekaartjes">Romantisch</a></li>
            <li><a href="/geboortekaartjes/vrolijke-geboortekaartjes">Vrolijk</a></li>
            <li><a href="/geboortekaartjes/retro-geboortekaartjes">Retro</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="geboort-extra"><a class="accordion-button active" href="#"><span>Extra&#39;s</span> </a>
    <div class="accordion-body show">
        <ul class="list list-vertical ">
            <li><a href="/canvas">Canvas</a></li>
            <li><a href="/slinger">Slinger</a></li>
            <li><a href="/geboortekaartjes/geboortebord">Geboortebord</a></li>
            <li><a href="/geboortekaartjes/jongensnamen">Jongensnamen</a></li>
            <li><a href="/geboortekaartjes/meisjesnamen">Meisjesnamen</a></li>
            <li><a href="/geboortekaartjes/tekst-geboortekaartje">Tekst geboortekaartje</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="trouw-soort"><a class="accordion-button active" href="#"><span>Trouwkaarten</span> </a>
    <div class="accordion-body show">
        <ul class="list list-vertical">
            <li><a href="/trouwkaarten/alle-trouwkaarten-hipdesign">Alle trouwkaarten</a></li>
            <li><a href="/trouwkaarten/nieuwe-trouwkaarten">Nieuwe trouwkaarten</a></li>
            <li><a href="/trouwkaarten/stijlvolle-trouwkaarten">Stijlvol Hip</a></li>
            <li><a href="/trouwkaarten/klassieke-trouwkaarten">Klassiek en Hip</a></li>
            <li><a href="/trouwkaarten/trouwkaarten-strand">Strand</a></li>
            <li><a href="/trouwkaarten/vintage-trouwkaarten">Vintage</a></li>
            <li><a href="/trouwkaarten/typografie-trouwkaarten">Typografisch</a></li>
            <li><a href="/trouwkaarten/romantische-trouwkaarten">Romantisch</a></li>
            <li><a href="/trouwkaarten/design-trouwkaarten">Design</a></li>
            <li><a href="/trouwkaarten/chique-trouwkaarten">Chique</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="trouw-std"><a class="accordion-button active" href="#"><span>Trouwkaarten</span> </a>
    <div class="accordion-body show">
        <ul class="list list-vertical">
            <li><a href="/trouwkaarten">Collectie 2016/2017</a></li>
            <li><a href="/trouwkaarten/nieuwe-trouwkaarten">Nieuw</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="trouw-exclusief"><a class="accordion-button active" href="#"><span>Exclusief</span> </a>
    <div class="accordion-body show">
        <ul class="list list-vertical">
            <li><a href="/trouwkaarten/trouwstijl-maken">Trouwhuisstijl</a></li>
            <li><a href="/trouwkaarten/ontwerp-samen">Ontwerp samen</a></li>
            <li><a href="/trouwkaarten/ontwerp-samen/uniek-op-maat">Ontwerp op maat</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="trouw-diy"><a class="accordion-button active" href="#"><span>Diy</span> </a>
    <div class="accordion-body show">
        <ul class="list list-vertical">
            <li><a href="/trouwkaarten/zelf-trouwkaarten-maken">Zelf maken</a></li>
            <li><a href="/blog/category/trouwen/" target="_blank">Blog</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="trouw-extra"><a class="accordion-button active" href="#"><span>Extra&#39;s</span></a>
    <div class="accordion-body show">
        <ul class="list list-vertical ">
            <li><a href="/verzendservice">Adresstickers</a></li>
            <li><a href="/verzendservice">Verzendservice</a></li>
            <li><a href="/canvas">Canvas</a></li>
            <li><a href="/slinger">Slinger</a></li>
            <li><a href="/trouwkaarten/tekst-trouwkaart">Tekst trouwkaart</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="uitnodigingen"><a class="accordion-button active" href="#"><span>Uitnodigingen</span> </a>
    <div class="accordion-body show">
        <ul class="list list-vertical">
            <li><a href="/uitnodiging-maken/uitnodigingen-verjaardag">Alle verjaardagskaarten</a></li>
            <li><a href="https://hipdesign.nl/uitnodiging-maken/uitnodiging-30-jaar">Verjaardag 30 jaar</a></li>
            <li><a href="https://hipdesign.nl/uitnodiging-maken/uitnodiging-40-jaar">Verjaardag 40 jaar</a></li>
            <li><a href="https://hipdesign.nl/uitnodiging-maken/uitnodiging-50-jaar">Verjaardag 50 jaar</a></li>
            <li><a href="https://hipdesign.nl/uitnodiging-maken/uitnodiging-65-jaar">Verjaardag 60/65 jaar</a></li>
            <li><a href="https://hipdesign.nl/jubileumkaarten">Jubileumkaarten</a></li>
            <li><a href="https://hipdesign.nl/trouwkaarten">Trouwkaarten</a></li>
            <li><a href="/uitnodiging-maken/uitnodigingen-housewarming">Housewarming</a></li>
            <li><a href="/uitnodiging-maken/communie-vormsel">Communie / Vormsel</a></li>
            <li><a href="https://hipdesign.nl/uitnodiging-maken/doop">Doop/opdragen</a></li>
            <li><a href="https://hipdesign.nl/uitnodiging-maken/uitnodiging-kinderfeestje">Kinderfeestjes</a></li>
            <li><a href="/uitnodiging-maken/zelf-uitnodigingen-maken">Zelf maken</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="jubileum"><a class="accordion-button active" href="#"><span>Jubileumkaarten</span> </a>
    <div class="accordion-body show">
        <ul class="list list-vertical">
            <li><a href="/jubileumkaarten">Alle jubileumkaarten</a></li>
            <li><a href="/jubileumkaarten/12-5-jaar-getrouwd">12,5 jaar getrouwd</a></li>
            <li><a href="/jubileumkaarten/25-jaar-getrouwd">25 jaar getrouwd</a></li>
            <li><a href="/jubileumkaarten/40-jaar-getrouwd">40 jaar getrouwd</a></li>
            <li><a href="/jubileumkaarten/50-jaar-getrouwd">50 jaar getrouwd</a></li>
            <li><a href="/jubileumkaarten/60-jaar-getrouwd">60 jaar getrouwd</a></li>
            <li><a href="/jubileumkaarten/jubileum-uitnodigingen">Jubileum uitnodigingen</a></li>
            <li><a href="https://hipdesign.nl/jubileumkaarten/zelf-jubileumkaarten-maken">Zelf maken</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="uitno-extra"><a class="accordion-button active" href="#"><span>Extra&#39;s</span> </a>
    <div class="accordion-body show">
        <ul class="list list-vertical">
            <li><a href="/samen">Ontwerp samen</a></li>
            <li><a href="/exclusief">Exclusief bij hipDesign</a></li>
            <li><a href="/blog/" target="_blank">Blog</a></li>
            <li><a href="/uitnodiging-maken/tekst-uitnodiging">Tekst uitnodiging</a></li>
            <li><a href="/canvas">Canvas</a></li>
            <li><a href="/slinger">Slinger</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="rouwkaarten"><a class="accordion-button active" href="#"><span>Rouwkaarten</span> </a>
    <div class="accordion-body show">
        <ul class="list list-vertical">
            <li><a href="/rouwkaarten/rouwkaarten-met-foto">Rouwkaarten met foto</a></li>
            <li><a href="/rouwkaarten/rouwkaarten-natuur">Rouwkaarten thema natuur</a></li>
            <li><a href="/rouwkaarten/bijzondere-rouwkaarten">Bijzondere rouwkaarten</a></li>
            <li><a href="/rouwkaarten/kleurrijke-rouwkaarten">Kleurrijke rouwkaarten</a></li>
            <li><a href="/rouwkaarten/stijlvolle-rouwkaarten">Stijlvolle rouwkaarten</a></li>
            <li><a href="/rouwkaarten/rouwkaarten-baby">Rouwkaarten baby</a></li>
            <li><a href="/rouwkaarten/rouwkaarten-kind">Rouwkaarten kind</a></li>
            <li><a href="/rouwkaarten/bidprentjes">Gedachtenisprentje</a></li>
            <li><a href="/rouwkaarten/bedankkaarten">Bedankkaart</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="rouw-service"><a class="accordion-button active" href="#"><span>Service</span> </a>
    <div class="accordion-body show">
        <ul class="list list-vertical">
            <li><a href="/rouwkaarten/service">Service</a></li>
            <li><a href="/rouwkaarten/rouwteksten">Rouwteksten</a></li>
            <li><a href="/enveloppen-rouw">Enveloppen bestellen</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="rouw-extra"><a class="accordion-button active" href="#"><span>Extra&#39;s</span> </a>
    <div class="accordion-body show">
        <ul class="list list-vertical">
            <li><a href="/verzendservice">Verzendservice</a></li>
            <li><a href="/blog/" target="_blank">Blog</a></li>
        </ul>
    </div>
</div>
<!-- ready -->
<div class="accordion hide" id="wenskaarten"><a class="accordion-button active" href="#"><span>Wenskaarten</span> </a>
    <div class="accordion-body show">
        <ul class="list list-vertical">
            <li><a href="/wenskaarten/bedankt-kaartje">Bedankt</a></li>
            <li><a href="/wenskaarten/beterschap-kaart">Beterschap</a></li>
            <li><a href="/wenskaarten/bloemenkaarten">Bloemen</a></li>
            <li><a href="/wenskaarten/felicitatie-communie-vormsel">Communie / Vormsel</a></li>
            <li><a href="/wenskaarten/condoleancekaart">Condoleance</a></li>
            <li><a href="/wenskaarten/felicitatie-geboorte">Geboorte</a></li>
            <li><a href="/wenskaarten/goede-doelen-kaartjes">Goed doel</a></li>
            <li><a href="/wenskaarten/felicitatie-huwelijk">Huwelijk</a></li>
            <li><a href="/wenskaarten/felicitatie-jubileum">Jubileum</a></li>
            <li><a href="/wenskaarten/felicitatie-jubileum-huwelijk">Jubileum huwelijk</a></li>
            <li><a href="/wenskaarten/leeftijd-kaarten">Leeftijd</a></li>
            <li><a href="/wenskaarten/liefde-kaart">Liefde</a></li>
            <li><a href="/wenskaarten/moederdag-kaart">Moederdag</a></li>
            <li><a href="/wenskaarten/felicitatie-nieuwe-woning">Nieuwe woning / Verhuisd</a></li>
            <li><a href="/wenskaarten/felicitatie-opa-oma">Opa &amp; oma</a></li>
            <li><a href="/wenskaarten/sterkte-kaart">Sterkte</a></li>
            <li><a href="/wenskaarten/vaderdagkaart">Vaderdag</a></li>
            <li><a href="/wenskaarten/verjaardagskaart">Verjaardag</a></li>
            <li><a href="/wenskaarten/verjaardagskaart-kinderen">Verjaardag kinderen</a></li>
            <li><a href="/wenskaarten/felicitatie-verloving">Verloving</a></li>
            <li><a href="/wenskaarten/felicitatie-zwangerschap">Zwangerschap</a></li>
        </ul>
    </div>
</div>
<div class="accordion hide" id="service"><a class="accordion-button active" href="#"><span>Menu</span> </a>
    <div class="accordion-body show">
        <ul class="list list-vertical">
            <li><a href="/contact">Contact</a></li>
            <li><a href="http://hipdesign.nl/schrijftips">Schrijftips</a></li>
            <li><a href="/nieuwsbrief">Nieuwsbrief</a></li>
            <li><a href="/garantie">Garantie</a></li>
            <li><a href="/faq">Veelgestelde vragen</a></li>
            <li><a href="/algemene_voorwaarden">Leveringsvoorwaarden</a></li>
        </ul>
    </div>
</div>
<div class="hide" id="photo">
    <div class="thumbnail thumbnail-button tb-small" onclick="location.href = '/geboortekaartjes';"><img alt="img" class="img" src="/img/sidebar/Overons_Geboortekaartjes.png" /> <a class="thumbnail-button-button bt01"> Geboortekaartjes &gt;</a></div>
    <div class="thumbnail thumbnail-button tb-small" onclick="location.href = '/trouwkaarten';"><img alt="img" class="img" src="/img/sidebar/Overons_Trouwkaarten.png" /> <a class="thumbnail-button-button bt02"> Trouwkaarten &gt;</a></div>
    <div class="thumbnail thumbnail-button tb-small" onclick="location.href = '/rouwkaarten';"><img alt="img" class="img" src="/img/sidebar/Overons_Rouwkaarten.png" /> <a class="thumbnail-button-button bt04"> Rouwkaarten &gt;</a></div>
    <div class="thumbnail thumbnail-button tb-small" onclick="location.href = '/uitnodiging-maken';"><img alt="img" class="img" src="/img/sidebar/Overons_Uitnodigingskaarten.png" /> <a class="thumbnail-button-button bt03"> Uitnodigingskaarten &gt;</a></div>
    <div class="thumbnail thumbnail-button tb-small" onclick="location.href = '/wenskaarten';"><img alt="img" class="img" src="/img/sidebar/Overons_Wenskaarten.png" /> <a class="thumbnail-button-button bt05"> Wenskaarten &gt;</a></div>
</div>