<link href="css/custom_three_column.css" rel="stylesheet" type="text/css" />
<div class="three-column-overview three-column-overview--medium newborn-fotografen" id="template-fluid">
    <div class="hide" data-sidebar="all">&nbsp;</div>
    <p class="three-column__introduction">Wat een prachtig moment om vanaf het begin de newborn baby vast te leggen. Wij zijn trots op onze newborn geboortekaartjes collectie. Maar het belangrijkste van het ontwerp is de foto. Er zijn zoveel persoonlijke stylen newborn fotografie. Hieronder onze favorieten per provincie.</p>
    <div class="three-column__introduction-buttons">
        <div class="newborn-fotografen__region-select">
            <select class="field-input js-scroll-on-select" data-scroll-on-select-offset="50">
                <option value="">Selecteer een provincie</option>
                <option value="gelderland">Gelderland</option>
                <option value="noordholland">Noord-Holland</option>
                <option value="overijssel">Overijssel</option>
                <option value="brabant">Brabant</option>
                <option value="drenthe">Drenthe</option>
                <option value="flevoland">Flevoland</option>
                <option value="friesland">Friesland</option>
                <option value="groningen">Groningen</option>
                <option value="limburg">Limburg</option>
                <option value="utrecht">Utrecht</option>
                <option value="zeeland">Zeeland</option>
                <option value="zuidholland">Zuid-Holland</option>
            </select> <i class="icon icon-chevron-down">&nbsp;</i></div>
        <a class="button button-inline button-small birth-bg-bright newborn-fotografen__to-newborn" href="/geboortekaartjes">Geboortekaartjes <i class="icon icon-chevron-right">&nbsp;</i> </a></div>
    <div class="hide" data-sidebar="all">&nbsp;</div>
    &nbsp;
    <div class="cols three-column__items">
        <div class="xs-12 xsm-6 sm-4 three-column__item" id="gelderland">
            <!-- GEEF EERSTE ITEM VAN EEN PROVINCIE EEN ID -->
            <div class="three-column__item-thumbnail"><img alt="Ilse Hetterscheid fotografie" src="/media/Newborn6.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">Ilse Hetterscheid fotografie</h3>
                <h5 class="three-column__item-location">Omgeving Gelderland</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@ilsehetterscheid.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://www.ilsehetterscheid.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item">
            <div class="three-column__item-thumbnail"><img alt="Lynn Vriesen fotografie" src="/media/Newborn5.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">Lynn Vriesen fotografie</h3>
                <h5 class="three-column__item-location">Omgeving Gelderland</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@lynnvriesenfotografie.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://lynnvriesenfotografie.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item">
            <div class="three-column__item-thumbnail"><img alt="Newbornstyle" src="/media/Newborn4.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">Newbornstyle</h3>
                <h5 class="three-column__item-location">Omgeving Gelderland</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@newbornstyle.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://www.newbornstyle.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item" id="noordholland">
            <!-- GEEF EERSTE ITEM VAN EEN PROVINCIE EEN ID -->
            <div class="three-column__item-thumbnail"><img alt="Love &amp; Little Fotografie" src="/media/Newborn3.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">Love &amp; Little Fotografie</h3>
                <h5 class="three-column__item-location">Omgeving Noord-Holland</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@loveandlittle.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://www.loveandlittle.nl//" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item">
            <div class="three-column__item-thumbnail"><img alt="Chantal Schuddemat" src="/media/Newborn2.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">Chantal Schuddemat</h3>
                <h5 class="three-column__item-location">Omgeving Noord-Holland</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@chantalschuddemat.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="https://chantalschuddemat.com" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item">
            <div class="three-column__item-thumbnail"><img alt="FocusPocus Fotografie" src="/media/Newborn1.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">FocusPocus Fotografie</h3>
                <h5 class="three-column__item-location">Omgeving Noord-Holland</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:ingeberken@ziggo.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://www.focus-pocus.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item" id="overijssel">
            <!-- GEEF EERSTE ITEM VAN EEN PROVINCIE EEN ID -->
            <div class="three-column__item-thumbnail"><img alt="Lisette Lubbers Fotografie" src="/media/Newborn6.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">Lisette Lubbers Fotografie</h3>
                <h5 class="three-column__item-location">Omgeving Overijssel</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@lisettelubbersfotografie.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://www.lisettelubbersfotografie.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item">
            <div class="three-column__item-thumbnail"><img alt="Moniek Aansorgh Fotografie" src="/media/Newborn5.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">Moniek Aansorgh Fotografie</h3>
                <h5 class="three-column__item-location">Omgeving Overijssel</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@moniekaansorgh.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://www.moniekaansorgh.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item">
            <div class="three-column__item-thumbnail"><img alt="Christie Agema Fotografie" src="/media/Newborn4.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">Christie Agema Fotografie</h3>
                <h5 class="three-column__item-location">Omgeving Overijssel</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@cbaphotography.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://www.cbaphotography.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item" id="brabant">
            <div class="three-column__item-thumbnail"><img alt="Izzy Fotografie" src="/media/Newborn3.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">Izzy Fotografie</h3>
                <h5 class="three-column__item-location">Omgeving Brabant</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:iza@izzyfotografie.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://izzyfotografie.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item">
            <div class="three-column__item-thumbnail"><img alt="BabiesbyBien" src="/media/Newborn2.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">BabiesbyBien</h3>
                <h5 class="three-column__item-location">Omgeving Brabant</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@babiesbybien.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://www.babiesbybien.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item">
            <div class="three-column__item-thumbnail"><img alt="Linda Ringelberg Fotografie" src="/media/Newborn1.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">Linda Ringelberg Fotografie</h3>
                <h5 class="three-column__item-location">Omgeving Brabant</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@ringelbergfotografie.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://www.ringelbergfotografie.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item" id="drenthe">
            <div class="three-column__item-thumbnail"><img alt="Elena Jongman Fotografie" src="/media/Newborn6.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">Elena Jongman Fotografie</h3>
                <h5 class="three-column__item-location">Omgeving Drenthe</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:elenajongmanfotografie@gmail.com">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://www.elenajongmanfotografie.com/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item">
            <div class="three-column__item-thumbnail"><img alt="MIR Fotografie" src="/media/Newborn5.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">MIR Fotografie</h3>
                <h5 class="three-column__item-location">Omgeving Drenthe</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@mirfotografie.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://www.mirfotografie.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item">
            <div class="three-column__item-thumbnail"><img alt="Foto Franka" src="/media/Newborn4.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">Foto Franka</h3>
                <h5 class="three-column__item-location">Omgeving Drenthe</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@fotofranka.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://www.fotofranka.nl/levi-newborn-friesland/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item" id="flevoland">
            <div class="three-column__item-thumbnail"><img alt="Wonder Fotografie" src="/media/Newborn3.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">Wonder Fotografie</h3>
                <h5 class="three-column__item-location">Omgeving Flevoland</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:fenna@wonder-fotografie.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="https://www.wonder-fotografie.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item">
            <div class="three-column__item-thumbnail"><img alt="Het Fotohuisje.nl" src="/media/Newborn2.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">Het Fotohuisje.nl</h3>
                <h5 class="three-column__item-location">Omgeving Flevoland</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@hetfotohuisje.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://www.hetfotohuisje.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item">
            <div class="three-column__item-thumbnail"><img alt="CaWe Fotografie" src="/media/Newborn1.jpg" style="transform: translate(0px, -39%);" />
                <!-- STANDARD IS -50%, USE TO BETTER CROP PHOTO -->
            </div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">CaWe Fotografie</h3>
                <h5 class="three-column__item-location">Omgeving Flevoland</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:carissa@cawefotografie.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://cawefotografie.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item" id="friesland">
            <div class="three-column__item-thumbnail"><img alt="Anneke Hoekstra-de Vries portretfotografie" src="/media/Newborn6.jpg" style="transform: translate(0px, -39%);" />
                <!-- STANDARD IS -50%, USE TO BETTER CROP PHOTO -->
            </div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">Anneke Hoekstra-de Vries portretfotografie</h3>
                <h5 class="three-column__item-location">Omgeving Friesland</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@annekehoekstra.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="https://www.annekehoekstra.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item">
            <div class="three-column__item-thumbnail"><img alt="Elisabeth Fotografie" src="/media/Newborn5.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">Elisabeth Fotografie</h3>
                <h5 class="three-column__item-location">Omgeving Friesland</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@elisabethfotografie.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://www.elisabethfotografie.nl/newborn/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item">
            <div class="three-column__item-thumbnail"><img alt="Captured by Eef" src="/media/Newborn4.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">Captured by Eef</h3>
                <h5 class="three-column__item-location">Omgeving Zuid-Holland</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:eef@capturedbyeef.com">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://www.capturedbyeef.com/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item" id="groningen">
            <div class="three-column__item-thumbnail"><img alt="Fotoshoot 4 You | newborn" src="/media/Newborn3.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">Fotoshoot 4 You</h3>
                <h5 class="three-column__item-location">Omgeving Groningen</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@fotoshoot4you.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://www.fotoshoot4you.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item">
            <div class="three-column__item-thumbnail"><img alt="Marjowsfotografie" src="/media/Newborn2.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">Marjowsfotografie</h3>
                <h5 class="three-column__item-location">Omgeving Groningen</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@marjowsfotografie.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://marjowsfotografie.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item">
            <div class="three-column__item-thumbnail"><img alt="Modellicious" src="/media/Newborn1.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">Modellicious</h3>
                <h5 class="three-column__item-location">Omgeving Groningen</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:wendy@modellicious.info">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://www.wendywoldendorp.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item" id="limburg">
            <div class="three-column__item-thumbnail"><img alt="MOODZ fotografie" src="/media/Newborn6.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">MOODZ fotografie</h3>
                <h5 class="three-column__item-location">Omgeving Limburg</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@moodzfotografie.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://www.moodzfotografie.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item">
            <div class="three-column__item-thumbnail"><img alt="Sjurlie (Bruids) Fotografie" src="/media/Newborn5.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">Sjurlie (Bruids) Fotografie</h3>
                <h5 class="three-column__item-location">Omgeving Limburg</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@sjurlie.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://www.sjurlie.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item">
            <div class="three-column__item-thumbnail"><img alt="SweetToday" src="/media/Newborn4.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">SweetToday</h3>
                <h5 class="three-column__item-location">Omgeving Limburg</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@sweettoday.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://www.sweettoday.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item" id="utrecht">
            <div class="three-column__item-thumbnail"><img alt="Anoek van Duin Fotografie" src="/media/Newborn3.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">Anoek van Duin Fotografie</h3>
                <h5 class="three-column__item-location">Omgeving Utrecht</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@anoekvanduinfotografie.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://www.anoekvanduinfotografie.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item">
            <div class="three-column__item-thumbnail"><img alt="For all Moments" src="/media/Newborn2.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">For all Moments</h3>
                <h5 class="three-column__item-location">Omgeving Utrecht</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@forallmoments.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://www.forallmoments.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item">
            <div class="three-column__item-thumbnail"><img alt="Patricia van den Bogaart" src="/media/Newborn1.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">Patricia van den Bogaart</h3>
                <h5 class="three-column__item-location">Omgeving Utrecht</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@patriciavandenbogaart.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://www.patriciavandenbogaart.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item" id="zeeland">
            <div class="three-column__item-thumbnail"><img alt="Andrea Labeur" src="/media/Newborn6.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">Andrea Labeur</h3>
                <h5 class="three-column__item-location">Omgeving Zeeland</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@andrealabeur.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://www.andrealabeur.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item">
            <div class="three-column__item-thumbnail"><img alt="Alies de Jonge" src="/media/Newborn5.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">Alies de Jonge</h3>
                <h5 class="three-column__item-location">Omgeving Zeeland</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@aliesdejonge.com">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="https://www.aliesdejonge.com/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item">
            <div class="three-column__item-thumbnail"><img alt="Esther Schog Fotografie" src="/media/Newborn4.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">Esther Schog Fotografie</h3>
                <h5 class="three-column__item-location">Omgeving Zeeland</h5>
                <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@estherschogfotografie.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://www.estherschogfotografie.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
            </div>
        </div>
	    <div class="xs-12 xsm-6 sm-4 three-column__item" >
	        <div class="three-column__item-thumbnail"><img alt="Andrea Labeur" src="/media/Newborn3.jpg" /></div>
	        <div class="three-column__item-content">
	            <h3 class="three-column__item-name">Andrea Labeur</h3>
	            <h5 class="three-column__item-location">Omgeving Zeeland</h5>
	        </div>
	        <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@andrealabeur.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://www.andrealabeur.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
	    </div>
	    <div class="xs-12 xsm-6 sm-4 three-column__item"  id="zuidholland">
	        <div class="three-column__item-thumbnail"><img alt="Fermont Fotografie" src="/media/Newborn2.jpg" /></div>
	        <div class="three-column__item-content">
	            <h3 class="three-column__item-name">Fermont Fotografie</h3>
	            <h5 class="three-column__item-location">Omgeving Zuid-Holland</h5>
	        </div>
	        <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:marry@fermontfotografie.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="https://fermontfotografie.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
	    </div>
	    <div class="xs-12 xsm-6 sm-4 three-column__item" >
	        <div class="three-column__item-thumbnail"><img alt="NTB" src="/media/Newborn1.jpg" /></div>
	        <div class="three-column__item-content">
	            <h3 class="three-column__item-name">NTB</h3>
	            <h5 class="three-column__item-location">Omgeving Zuid-Holland</h5>
	        </div>
	        <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@lerafotografie.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="https://www.lerafotografie.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
	    </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item">
            <div class="three-column__item-thumbnail"><img alt="Fotostudio Kinderkoppies" src="/media/Newborn3.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">Fotostudio Kinderkoppies</h3>
                <h5 class="three-column__item-location">Omgeving Zuid-Holland</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@kinderkoppies.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://www.kinderkoppies.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item">
            <div class="three-column__item-thumbnail"><img alt="Memories for life fotografie" src="/media/Newborn2.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">Memories for life fotografie</h3>
                <h5 class="three-column__item-location">Omgeving Zuid-Holland</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@memoriesforlife.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="http://www.memoriesforlife.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
        <div class="xs-12 xsm-6 sm-4 three-column__item">
            <div class="three-column__item-thumbnail"><img alt="Lera Fotografie" src="/media/Newborn1.jpg" /></div>
            <div class="three-column__item-content">
                <h3 class="three-column__item-name">Lera Fotografie</h3>
                <h5 class="three-column__item-location">Omgeving Zuid-Holland</h5>
            </div>
            <div class="three-column__item-footer three-column__item-footer-spread"><a class="three-column__item-email three-column__item-button button button-small" href="mailto:info@lerafotografie.nl">Email <i class="icon icon-chevron-right">&nbsp;</i></a> <a class="three-column__item-website three-column__item-button button button-small" href="https://www.lerafotografie.nl/" target="_blank">Website<i class="icon icon-chevron-right">&nbsp;</i></a></div>
        </div>
    </div>
</div>
