<style type="text/css">// REPLACE WITH PAGE SHORT NAME

	#body_oma-meijel-breit #categories {
		display: none;
	}

	#body_oma-meijel-breit #mid {
		width: 100%;
		padding: 0px;
		margin-top: 46px; 
	}

	@media only screen and (min-width: 992px){
		#body_oma-meijel-breit #mid {
			margin-top: 130px; 
		}
	}

	#body_oma-meijel-breit #crumbs {
		display: none;
	}

	#body_oma-meijel-breit #pagecontent {
		width: 100%;

	}

	#body_oma-meijel-breit #header {
		height: 0;
	}

	#body_oma-meijel-breit #pagebody  {
		margin-top: 0px; 
	}

	#body_oma-meijel-breit #pagebody > h1 {
		display: none;
	}


	/* ADJUST IMAGES FOR HEADERS */

	#premium-page  .premium-page__category-geboorte .category-intro::after {
		background-image: url(/img/premium/oma-meijel-breit/oma-meijel-breit-goededoelen_2@2x.jpg);
		z-index: 1;
	}
	#premium-page  .premium-page__category-trouwen .category-intro::after {
		background-image: url(/img/premium/oma-meijel-breit/oma-meijel-breit-dromen_2@2x.jpg);
	}
	#premium-page  .premium-page__category-uitnodigingen .category-intro::after {
		background-image: url(/img/premium/oma-meijel-breit/oma-meijel-breit-geboorte_2@2x.jpg);
	}

</style>
<div class="hide" id="t-hide-sidebar">&nbsp;</div>

<div id="premium-page">
	<div class="premium-page-header cols">
		<div class="premium-page-header__image sm-12 md-6" style="background-image: url('/img/premium/oma-meijel-breit/Exclusief_Oma-Meijel36.jpg'); background-position: right;">&nbsp;</div>

		<div class="premium-page-header__title-mobile">
			<h4>Exclusief</h4>

			<h1>By Moniek</h1>
		</div>

		<ul class="premium-page-header__menu sm-12">
			<li class="js-scroll-to premium-page__scroll-to" data-scroll-to-link="#premium-exclusief_by_moniek">Exclusief by Moniek</li>
			<li class="js-scroll-to premium-page__scroll-to" data-scroll-to-link="#premium-de-collectie">Collectie</li>
			<li class="js-scroll-to premium-page__scroll-to" data-scroll-to-link="#premium-verhaal-van-moniek">Het verhaal van Moniek</li>
			<li class="js-scroll-to premium-page__scroll-to" data-scroll-to-link="#premium-ome-meijel-breit">Oma Meijel breit</li>
			<li class="js-scroll-to premium-page__scroll-to" data-scroll-to-link="#premium-hoe-werkt-het-voor-jou">Hoe werkt het vor jou?</li>
		</ul>

		<div class="premium-page-header__content sm-12 md-6" id="premium-exclusief_by_moniek">
			<div class="premium-page-header__title-desktop">
				<h4 style="	color: #5c9192 !important;">Exclusief</h4>

				<h1>By Moniek</h1>
			</div>

			<h2>Never stop dreaming!</h2>

			<p>Samen met Moniek hebben we een bijzondere collectie <strong>geboortekaartjes</strong> gemaakt om het goede doel <a href="http://www.omameijelbreit.nl/">Oma Meijel Breit</a> te steunen. Kies een uniek geboortekaartje uit deze <strong>goede doelen collectie</strong> en je krijgt daarbij een paar babyslofjes van zachte merinowol voor je eigen kindje. Een ander paar komt bij een baby&rsquo;tje in het Wilhelmina Kinderziekenhuis. Uit jouw naam steun je een baby&rsquo;tje met liefde en warmte die een moeilijke start heeft. Inmiddels heeft Oma Meijel Breit al 300 paar slofjes kunnen schenken. Alles draait om <em>liefde, hoop, doorzettingsvermogen en dromen</em> werkelijkheid laten worden.</p>
		</div>
	</div>

	<div class="premium-page__category premium-page__category-geboorte" id="premium-de-collectie">
		<div class="category-intro">
			<div class="category-intro__content xs-12 sm-8 md-6">
				<h4 style="	color: #5c9192 !important;">De collectie</h4>

				<h2>Bijzondere samenwerking</h2>

				<p>Er is een unieke <strong>geboortekaartjes</strong> lijn ontstaan uit de samenwerking tussen <strong>Oma Meijel Breit</strong> en <strong>hipDesign</strong>. Zachte tinten, mooie vormen en lieve diertjes. Speciaal voor dat bijzondere moment, de <strong>geboorte</strong> van je kindje. Het gevoel wat je zo graag wilt delen met de mensen om je heen.</p>
			</div>

			<div class="category-intro__image  xs-12 sm-8 md-6"><img alt="Moniek Hanssen met haar gezin" src="/media/ExclusiefOmaMeijel01.jpg" /></div>
		</div>

		<div class="category-content">
			<div class="category-items cols">
				<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/geboortekaartje-maken-lief-uiltje-boom-ster"><img alt="De collectie geboortekaartjes van Oma Meijel Breit" src="/media/ExclusiefOmaMeijel20.jpg" /></a></div>

				<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/origineel-geboortekaartje-maken-uiltje-vogetje-ster"><img alt="De collectie geboortekaartjes van Oma Meijel Breit" src="/media/ExclusiefOmaMeijel21.jpg" /></a></div>

				<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/geboortekaartjes-lief-meisje-uil-sterretjes-boom"><img alt="De collectie geboortekaartjes van Oma Meijel Breit" src="/media/ExclusiefOmaMeijel22.jpg" /></a></div>

				<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/lief-regenboog-geboortekaartje-foto-vogeltje-boom"><img alt="De collectie geboortekaartjes van Oma Meijel Breit" src="/media/ExclusiefOmaMeijel23.jpg" /></a></div>

				<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/lief-regenboog-geboortekaartje-jongen-foto-uiltje-vogeltje"><img alt="De collectie geboortekaartjes van Oma Meijel Breit" src="/media/ExclusiefOmaMeijel24.jpg" /></a></div>

				<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/lief-geboortekaartje-jongens-vogeltje-kinderwagen-sterretjes"><img alt="De collectie geboortekaartjes van Oma Meijel Breit" src="/media/ExclusiefOmaMeijel25.jpg" /></a></div>

				<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/origineel-geboortekaartje-jongen-maken-boom-uiltje-sterretjes"><img alt="De collectie geboortekaartjes van Oma Meijel Breit" src="/media/ExclusiefOmaMeijel26.jpg" /></a></div>

				<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/lief-enkel-geboortekaartje-maken-uil-ster-boom"><img alt="De collectie geboortekaartjes van Oma Meijel Breit" src="/media/ExclusiefOmaMeijel27.jpg" /></a></div>
			</div>
		</div>

		<div class="premium-page__category premium-page__category-trouwen" id="premium-verhaal-van-moniek">
			<div class="category-intro">
				<div class="category-intro__content xs-12 sm-8 md-6">
					<h4 style="	color: #5c9192 !important;">Het verhaal van Moniek</h4>

					<h2>In &eacute;&eacute;n klap was ze alles kwijt...</h2>

					<p>In mei 2013 verloor Moniek haar beide ouders en haar dochtertje Ize (2 jaar) met een verschrikkelijk ongeluk. In &eacute;&eacute;n klap was ze alles kwijt, in &eacute;&eacute;n klap stond haar leven stil en was alles zwart. De zon scheen, maar ze voelde de warmte niet. De regen viel, maar ze voelde geen druppels. Ze raakte een stuk van zichzelf kwijt... Haar houvast; <em>zolang er nog dromen zijn, is er nog hoop en toekomst</em>.</p>
				</div>

				<div class="category-intro__image  xs-12 sm-8 md-6"><img alt="Oma Meijel met Ize" src="/media/ExclusiefOmaMeijel29.jpg" /></div>
			</div>

			<div class="category-content">
				<div class="category-items cols">
					<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/lief-geboortekaartje-meisje-konijn-hartjes-foto"><img alt="De collectie geboortekaartjes van Oma Meijel Breit" src="/media/ExclusiefOmaMeijel11.jpg" /></a></div>

					<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/schattig-geboortekaartje-meisje-konijntje-hartjes"><img alt="De collectie geboortekaartjes van Oma Meijel Breit" src="/media/ExclusiefOmaMeijel12.jpg" /></a></div>

					<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/originele-geboortekaart-meisjes-hertje-hartjes-ster"><img alt="De collectie geboortekaartjes van Oma Meijel Breit" src="/media/ExclusiefOmaMeijel13.jpg" /></a></div>

					<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/lief-geboortekaartje-meisjes-hartjes-vosje-ster"><img alt="De collectie geboortekaartjes van Oma Meijel Breit" src="/media/ExclusiefOmaMeijel14.jpg" /></a></div>

					<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/origneel-geboortekaartje-jongens-aapje-sterretjes"><img alt="De collectie geboortekaartjes van Oma Meijel Breit" src="/media/ExclusiefOmaMeijel15.jpg" /></a></div>

					<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/geboortekaartje-lief-diertje-hartjes-sterretjes"><img alt="De collectie geboortekaartjes van Oma Meijel Breit" src="/media/ExclusiefOmaMeijel16.jpg" /></a></div>

					<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/originele-geboortekaart-jongen-beer-hartjes-foto"><img alt="De collectie geboortekaartjes van Oma Meijel Breit" src="/media/ExclusiefOmaMeijel18.jpg" /></a></div>

					<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/lief-geboortekaartje-maken-jongens-konijn-ster-foto"><img alt="De collectie geboortekaartjes van Oma Meijel Breit" src="/media/ExclusiefOmaMeijel17.jpg" /></a></div>
				</div>
			</div>

			<div class="premium-page__category premium-page__category-uitnodigingen" id="premium-moniek-over-geboorte">
				<div class="category-intro">
					<div class="category-intro__content xs-12 sm-8 md-6">
						<h4 style="	color: #5c9192 !important;">Moniek over geboorte</h4>

						<h2>Nieuw leven geeft weer hoop</h2>

						<p><strong>De geboorte van Flo was magisch.</strong> Even alleen dat kleine lieve meisje en wij. Nieuw leven geeft hoop en licht..&eacute;n maakte ons leven ook wat lichter. Belangrijk was dat de boodschap verpakt kon worden in het <strong>geboortekaartje</strong>. Geel en groen voor nieuw leven, het grote hart voor liefde en het kleine hartje als teken van niet vergeten. Op de binnenzijde staat de zin: <em>&ldquo;The future belongs to those who believe in the beauty of their dreams.&rdquo;</em> Dit citaat omvatte alles voor ons.</p>
					</div>

					<div class="category-intro__image  xs-12 sm-8 md-6"><img alt="De slofjes gebreid door de oma's van Oma Meijel Breit" src="/media/ExclusiefOmaMeijel30.jpg" /></div>
				</div>

				<div class="category-content">
					<div class="category-items cols">
						<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/origineel-geboortekaart-meisjes-hart-regenboog-roze"><img alt="De collectie geboortekaartjes van Oma Meijel Breit" src="/media/ExclusiefOmaMeijel06.jpg" /></a></div>

						<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/lief-geboortekaartje-maken-meisje-bloem-hart-ster"><img alt="De collectie geboortekaartjes van Oma Meijel Breit" src="/media/ExclusiefOmaMeijel07.jpg" /></a></div>

						<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/schattig-kaartje-geboorte-meisje-maan-hart-foto"><img alt="De collectie geboortekaartjes van Oma Meijel Breit" src="/media/ExclusiefOmaMeijel08.jpg" /></a></div>

						<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/lief-geboortekaartje-meisjes-hartjes-foto-ster"><img alt="De collectie geboortekaartjes van Oma Meijel Breit" src="/media/ExclusiefOmaMeijel09.jpg" /></a></div>

						<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/lief-geboortekaartje-maken-jongens-wolk-hart-ster-foto"><img alt="De collectie geboortekaartjes van Oma Meijel Breit" src="/media/ExclusiefOmaMeijel02.jpg" /></a></div>

						<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/origineel-geboortekaart-jongen-maan-hart-ster"><img alt="De collectie geboortekaartjes van Oma Meijel Breit" src="/media/ExclusiefOmaMeijel03.jpg" /></a></div>

						<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/lief-geboortekaartje-jongen-ster-regenboog-foto"><img alt="De collectie geboortekaartjes van Oma Meijel Breit" src="/media/ExclusiefOmaMeijel04.jpg" /></a></div>

						<div class="category-items__item xs-6 xsm-4 sm-3"><a href="/choose_card/schattig-geboortekaartje-jongen-hart-sterretjes"><img alt="De collectie geboortekaartjes van Oma Meijel Breit" src="/media/ExclusiefOmaMeijel05.jpg" /></a></div>
					</div>
				</div>

				<div class="premium-page__about" id="premium-over-moniek-hanssen">
					<div class="premium-page__about-header">
						<h4>Over Moniek Hanssen</h4>
					</div>

					<div class="premium-page__about-item cols">
						<div class="about-item__image xs-12 sm-6"><img src="/media/ExclusiefOmaMeijel31.jpg" /></div>

						<div class="about-item__content  xs-12 sm-6" id="premium-ome-meijel-breit">
							<h2>Oma Meijel Breit</h2>

							<h3>Slofjes schenken aan een babyt&rsquo;je in het WKZ</h3>

							<p>Oma Meijel Breit is ontstaan vanuit een bijzondere droom van een lieve brei-oma, mijn moeder. Ze had de droom om iets moois te kunnen doen voor kindjes in een ziekenhuis. Deze droom maken wij waar door babyslofjes te breien. En bij elk paar slofjes die we verkopen schenken wij &eacute;&eacute;n paar slofjes aan een babyt&rsquo;je in het Wilhelmina Kinderziekenhuis. Daar staat liefde en warmte voor! De reacties van de ouders zijn erg positief. Ze zijn verrast door het mooie gebaar en de gedachte die erachter zit. Daar doen we het voor, hiermee maken we de droom van mijn moeder werkelijkheid.</p>
						</div>
					</div>

					<div class="premium-page__about-item cols">
						<div class="about-item__image  xs-12 sm-6"><img src="/media/ExclusiefOmaMeijel32.jpg" /></div>

						<div class="about-item__content  xs-12 sm-6">
							<h2>Brei oma&#39;s</h2>

							<h3>Zorg voor elkaar</h3>

							<p>Een positief neveneffect van dit initiatief is dat we de eenzaamheid onder de ouderen aanpakken. Met het breien van de babyslofjes hebben deze brei-oma&rsquo;s nieuwe contacten opgedaan en ervaren ze de brei-caf&eacute;&rsquo;s als gezellige en sociale momenten. Ook het feit dat ze iets kunnen betekenen voor het nieuwe leven geeft ze een positief gevoel. Ze hebben weer een nieuw doel in hun leven, het breien van babyslofjes.</p>

							<p>&nbsp;</p>
						</div>
					</div>

					<div class="premium-page__about-item cols">
						<div class="about-item__image  xs-12 sm-6"><img src="/media/ExclusiefOmaMeijel33.jpg" /></div>

						<div class="about-item__content  xs-12 sm-6" id="premium-hoe-werkt-het-voor-jou">
							<h2>Hoe werkt het voor jou?</h2>
							Vraag je unieke code aan bij Oma Meijel Breit

							<p>Bij elk design (in een minimale oplage van 50 kaartjes) kun je met behulp van je ordernummer een unieke code opvragen bij Oma Meijel Breit. Met deze code kun je in de shop van Moniek een paar slofjes bestellen voor je kleine uk. Aan elk paar slofjes is een tweede paar &lsquo;gekoppeld&rsquo;, slofjes voor prematuur kindjes of voor baby&rsquo;s die om welke medische reden dan ook na de geboorte in het ziekenhuis moeten verblijven. Uit naam van jouw kindje krijgt een ander een steuntje in de rug. Moniek weet als geen ander hoe warmte en steun nodig kan zijn.</p>
							<a class="about-item__content-btn btn" href="http://www.omameijelbreit.nl/" target="_blank">Naar de website van Oma Meijel Breit</a></div>
						</div>
					</div>
				</div>

				<div class="premium-page__footer">
					<h4 class="premium-page__footer-signature">Liefs Moniek</h4>
					<img class="premium-page__footer-logo" src="/media/ExclusiefOmaMeijel35.jpg" /></div>

					<div class="premium-page__to-top js-scroll-to" data-scroll-to-link="#wrapper">TOP</div>
				</div>
			</div>
		</div>
