<div id="premium-page">
	<div class="premium-page-header cols"> 
		<div class="premium-page-header__image sm-12 md-6"></div>
		<div class="premium-page-header__title-mobile">
			<h4>Exclusief</h4>
			<h1>By Hanneke</h1>
		</div>
		<ul class="premium-page-header__menu sm-12">
			<li class="js-scroll-to premium-page__scroll-to" data-scroll-to-link="#premium-exclusief_by_hanneke">Exclusief by Hanneke<i class="icon icon-chevron-down"></i></li>
			<li class="js-scroll-to premium-page__scroll-to" data-scroll-to-link="#premium-geboortekaartjes">Geboortekaartjes<i class="icon icon-chevron-down"></i></li>
			<li class="js-scroll-to premium-page__scroll-to" data-scroll-to-link="#premium-trouwkaartjes">Trouwkaartjes<i class="icon icon-chevron-down"></i></li>
			<li class="js-scroll-to premium-page__scroll-to" data-scroll-to-link="#premium-uitnodigingen">Uitnodigingen<i class="icon icon-chevron-down"></i></li>
			<li class="js-scroll-to premium-page__scroll-to" data-scroll-to-link="#premium-over-hanneke-verstegen">Over Hanneke Verstegen<i class="icon icon-chevron-down"></i></li>
		</ul>		
		<div class="premium-page-header__content sm-12 md-6" id="premium-exclusief_by_hanneke">
			<div class="premium-page-header__title-desktop">
				<h4>Exclusief</h4>
				<h1>By Hanneke</h1>
			</div>
			<h2>Tijdloze designs met liefde voor vormgeving</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut porta felis, non aliquet elit. Nulla non odio eu diam laoreet convallis sed quis dui. Pellentesque posuere tellus condimentum dui congue, non viverra tellus volutpat. Sed sagittis rhoncus libero ac faucibus. In facilisis velit a sem condimentum, facilisis efficitur leo sodales.</p>
			<p>
			Nunc convallis orci ac erat accumsan sagittis. Quisque quis iaculis justo. Donec ut mollis purus. Ut ultricies volutpat tincidunt. Nunc cursus aliquam nibh, vitae rhoncus sapien venenatis et.</p>
		</div>

	</div>

	<div class="premium-page__category premium-page__category-geboorte" id="premium-geboortekaartjes">
		<div class="category-intro">
			<div class="category-intro__content xs-12 sm-8 md-6">
				<h4>Hanneke over geboorte</h4>
				<h2>Trots, blijdschap, onvoorwaardelijke liefde</h2>
				<p>Oprecht de mooiste dag in mij leven, de dag dat onze dochter Chloé werd geboren. Trots, blijdschap, onvoorwaardelijke liefde. Zoveel emoties die je probeert in één kaart te vangen. Dat is voor mij een geboortekaart in het kort.</p>
			</div>
			<div class="category-intro__image  xs-12 sm-8 md-6">
				<img src="/img/premium/verstegen_geboorte_1.png"/>
			</div>
		</div>
		<div class="category-content">
			<h2>Geboortekaartjes</h2>
			<h3>Een tijdloos ontwerp: klassiek, eenvoudig maar modern</h3>
			<p>Een tijdloos ontwerp staat bij mij ook altijd voorop. Het moet over 10 of 20 jaar nog steeds mooi zijn, pas dan is ht in mijn ogen een geslaagd ontwerp. Vandaar dat ik altijd vertrouw op klassiek en eenvoudig, maar dan in een modern en persoonlijk jasje. OP deze manier sla je nooit de plank mis en kijk je jaren later nog tevreden terug naar een mooi geboorte kaartje</p>
		</div>
		<div class="category-items cols">
			<div class="category-items__item xs-6 xsm-4 sm-3"><img src="/img/premium/hanneke-geboorte1.png"/></div>
			<div class="category-items__item xs-6 xsm-4 sm-3"><img src="/img/premium/hanneke-geboorte2.png"/></div>
			<div class="category-items__item xs-6 xsm-4 sm-3"><img src="/img/premium/hanneke-geboorte3.png"/></div>
			<div class="category-items__item xs-6 xsm-4 sm-3"><img src="/img/premium/hanneke-geboorte4.png"/></div>
			<div class="category-items__item xs-6 xsm-4 sm-3"><img src="/img/premium/hanneke-geboorte2.png"/></div>
			<div class="category-items__item xs-6 xsm-4 sm-3"><img src="/img/premium/hanneke-geboorte1.png"/></div>
			<div class="category-items__item xs-6 xsm-4 sm-3"><img src="/img/premium/hanneke-geboorte4.png"/></div>
		</div>
	</div>

	<div class="premium-page__category premium-page__category-trouwen" id="premium-trouwkaartjes">
		<div class="category-intro">
			<div class="category-intro__content xs-12 sm-8 md-6">
				<h4>Hanneke over trouwen</h4>
				<h2>Het ultime moment om helemaal uit te pakken</h2>
				<p>Oprecht de mooiste dag in mij leven, de dag dat onze dochter Chloé werd geboren. Trots, blijdschap, onvoorwaardelijke liefde. Zoveel emoties die je probeert in één kaart te vangen. Dat is voor mij een geboortekaart in het kort.</p>
			</div>
			<div class="category-intro__image  xs-12 sm-8 md-6">
			</div>
		</div>
		<div class="category-content">
			<h2>Trouwkaarten</h2>
			<h3>De persoonlijkheid en smaak van bruid en bruidegom</h3>
			<p>Een tijdloos ontwerp staat bij mij ook altijd voorop. Het moet over 10 of 20 jaar nog steeds mooi zijn, pas dan is ht in mijn ogen een geslaagd ontwerp. Vandaar dat ik altijd vertrouw op klassiek en eenvoudig, maar dan in een modern en persoonlijk jasje. OP deze manier sla je nooit de plank mis en kijk je jaren later nog tevreden terug naar een mooi geboorte kaartje</p>
		</div>
		<div class="category-items cols">
			<div class="category-items__item xs-6 xsm-4 sm-3"><img src="/img/premium/hanneke-geboorte1.png"/></div>
			<div class="category-items__item xs-6 xsm-4 sm-3"><img src="/img/premium/hanneke-geboorte2.png"/></div>
			<div class="category-items__item xs-6 xsm-4 sm-3"><img src="/img/premium/hanneke-geboorte3.png"/></div>
			<div class="category-items__item xs-6 xsm-4 sm-3"><img src="/img/premium/hanneke-geboorte4.png"/></div>
			<div class="category-items__item xs-6 xsm-4 sm-3"><img src="/img/premium/hanneke-geboorte2.png"/></div>
			<div class="category-items__item xs-6 xsm-4 sm-3"><img src="/img/premium/hanneke-geboorte1.png"/></div>
			<div class="category-items__item xs-6 xsm-4 sm-3"><img src="/img/premium/hanneke-geboorte4.png"/></div>
			<div class="category-items__item category-items__item-wide xs-12"><img src="/img/premium/verstegen_trouwen2@2x.jpg"/></div>
		</div>
	</div>

	<div class="premium-page__category premium-page__category-uitnodigingen" id="premium-uitnodigingen">
		<div class="category-intro">
			<div class="category-intro__content xs-12 sm-8 md-6">
				<h4>Hanneke over feestjes</h4>
				<h2>Get begint al met de pret van het voorbereiden</h2>
				<p>Oprecht de mooiste dag in mij leven, de dag dat onze dochter Chloé werd geboren. Trots, blijdschap, onvoorwaardelijke liefde. Zoveel emoties die je probeert in één kaart te vangen. Dat is voor mij een geboortekaart in het kort.</p>
			</div>
			<div class="category-intro__image  xs-12 sm-8 md-6">
			</div>
		</div>
		<div class="category-content">
			<h2>Uitnodigingen</h2>
			<h3>Het leven is een feestje, je moet alleen zelf de slingers ophangen</h3>
			<p>Een tijdloos ontwerp staat bij mij ook altijd voorop. Het moet over 10 of 20 jaar nog steeds mooi zijn, pas dan is ht in mijn ogen een geslaagd ontwerp. Vandaar dat ik altijd vertrouw op klassiek en eenvoudig, maar dan in een modern en persoonlijk jasje. OP deze manier sla je nooit de plank mis en kijk je jaren later nog tevreden terug naar een mooi geboorte kaartje</p>
		</div>
		<div class="category-items cols">
			<div class="category-items__item xs-6 xsm-4 sm-3"><img src="/img/premium/hanneke-geboorte1.png"/></div>
			<div class="category-items__item xs-6 xsm-4 sm-3"><img src="/img/premium/hanneke-geboorte2.png"/></div>
			<div class="category-items__item xs-6 xsm-4 sm-3"><img src="/img/premium/hanneke-geboorte3.png"/></div>
			<div class="category-items__item xs-6 xsm-4 sm-3"><img src="/img/premium/hanneke-geboorte4.png"/></div>
			<div class="category-items__item xs-6 xsm-4 sm-3"><img src="/img/premium/hanneke-geboorte2.png"/></div>
			<div class="category-items__item xs-6 xsm-4 sm-3"><img src="/img/premium/hanneke-geboorte1.png"/></div>
			<div class="category-items__item xs-6 xsm-4 sm-3"><img src="/img/premium/hanneke-geboorte4.png"/></div>
			<div class="category-items__item category-items__item-wide xs-12"><img src="/img/premium/verstegen_uitnodigingen_2@2x.jpg"/></div>
		</div>
	</div>

	<div class="premium-page__about" id="premium-over-hanneke-verstegen">
		<div class="premium-page__about-header">
			<h4>Over Hanneke Verstegen</h4>
		</div>
		<div class="premium-page__about-item cols">
			<div class="about-item__image xs-12 sm-6"><img src="/img/premium/verstegen_over_1@2x.jpg"/></div>
			<div class="about-item__content  xs-12 sm-6">
				<h2>Hanneke in 't kort</h2>
				<h3>Altijd op zoek naar het perfecte plaatje</h3>
				<p>
					Welkom op mijn pagina. Mijn naam is Hanneke en ik ben de trotse mama van Chloé. Al sinds ik klein was ben ik gek op mode en alles wat daarbij komt kijken.
				</p>
				<p>
					en tijdloos ontwerp staat bij mij ook altijd voorop. Het moet over 10 of 20 jaar nog steeds mooi zijn, pas dan is ht in mijn ogen een geslaagd ontwerp. Vandaar dat ik altijd vertrouw op klassiek en eenvoudig, maar dan in een modern en persoonlijk jasje. OP deze manier sla je nooit de plank mis en kijk je jaren later nog tevreden terug naar een mooi geboorte kaartje.
				</p>
			</div>
		</div>	
		<div class="premium-page__about-item cols">
			<div class="about-item__image  xs-12 sm-6"><img src="/img/premium/verstegen_over_2@2x.jpg"/></div>
			<div class="about-item__content  xs-12 sm-6">
				<h2>Creatieve duizendpoot</h2>
				<h3>Een veelzijdige job</h3>
				<p>
					In 2006 ben ik afgestudeerd aan <a href="">Artemis modeacademie</a> te Rotterdam. Daarna ben ik als denim designer aan de slag gedaan in Duitsland bij een private label.
				</p>
				<p>
					en tijdloos ontwerp staat bij mij ook altijd voorop. Het moet over 10 of 20 jaar nog steeds mooi zijn, pas dan is ht in mijn ogen een geslaagd ontwerp. Vandaar dat ik altijd vertrouw op klassiek en eenvoudig, maar dan in een modern en persoonlijk jasje. OP deze manier sla je nooit de plank mis en kijk je jaren later nog tevreden terug naar een mooi geboorte kaartje.
				</p>
			</div>
		</div>	
		<div class="premium-page__about-item cols">
			<div class="about-item__image  xs-12 sm-6"><img src="/img/premium/verstegen_over_3@2x.jpg"/></div>
			<div class="about-item__content  xs-12 sm-6">
				<h2>Inspireren met bloggen</h2>
				<h3>Mijn eeuwige drang naar perfectie</h3>
				<p>
					In 2006 ben ik afgestudeerd aan <a href="">Artemis modeacademie</a> te Rotterdam. Daarna ben ik als denim designer aan de slag gedaan in Duitsland bij een private label.
				</p>
				<p>
					en tijdloos ontwerp staat bij mij ook altijd voorop. Het moet over 10 of 20 jaar nog steeds mooi zijn, pas dan is ht in mijn ogen een geslaagd ontwerp. Vandaar dat ik altijd vertrouw op klassiek en eenvoudig, maar dan in een modern en persoonlijk jasje. OP deze manier sla je nooit de plank mis en kijk je jaren later nog tevreden terug naar een mooi geboorte kaartje.
				</p>
				<a class="about-item__content-btn btn" href="">Naar de blog van Hanneke <i class="icon icon-chevron-right"></i></a>
			</div>
		</div>	
		<div class="premium-page__about-item cols">
			<div class="about-item__image  xs-12 sm-6"><img src="/img/premium/verstegen_over_4@2x.jpg"/></div>
			<div class="about-item__content  xs-12 sm-6">
				<h2>Hanneke in de spotlight</h2>
				<h3>Een uitdaging om mijzelf te blijven verbeteren</h3>
				<p>
					In 2006 ben ik afgestudeerd aan <a href="">Artemis modeacademie</a> te Rotterdam. Daarna ben ik als denim designer aan de slag gedaan in Duitsland bij een private label.
				</p>
				<p>
					en tijdloos ontwerp staat bij mij ook altijd voorop. Het moet over 10 of 20 jaar nog steeds mooi zijn, pas dan is ht in mijn ogen een geslaagd ontwerp. Vandaar dat ik altijd vertrouw op klassiek en eenvoudig, maar dan in een modern en persoonlijk jasje. OP deze manier sla je nooit de plank mis en kijk je jaren later nog tevreden terug naar een mooi geboorte kaartje.
				</p>
				<a class="about-item__content-btn about-item__content-btn-filled btn" href="">Bekijk de collectie <i class="icon icon-chevron-right"></i></a>
			</div>
		</div>	
		<div class="premium-page__about-item cols">
			<div class="about-item__image  xs-12 sm-6"><img src="/img/premium/verstegen_over_5@2x.jpg"/></div>
			<div class="about-item__content  xs-12 sm-6">
				<h4>Exlusief</h4>
				<h2>By Hanneke</h2>
				<h3>Mijn eigen collectie kaarten: Een mooie mijlpaal</h3>
				<p>
					In 2006 ben ik afgestudeerd aan <a href="">Artemis modeacademie</a> te Rotterdam. Daarna ben ik als denim designer aan de slag gedaan in Duitsland bij een private label.
				</p>
				<p>
					en tijdloos ontwerp staat bij mij ook altijd voorop. Het moet over 10 of 20 jaar nog steeds mooi zijn, pas dan is ht in mijn ogen een geslaagd ontwerp. Vandaar dat ik altijd vertrouw op klassiek en eenvoudig, maar dan in een modern en persoonlijk jasje. OP deze manier sla je nooit de plank mis en kijk je jaren later nog tevreden terug naar een mooi geboorte kaartje.
				</p>
				<a class="about-item__content-btn about-item__content-btn-filled btn" href="">Bekijk de collectie <i class="icon icon-chevron-right"></i></a>
			</div>
		</div>	
	</div>
	<div class="premium-page__footer">
		<h4 class="premium-page__footer-signature">Liefs Hanneke</h4>
		<img class="premium-page__footer-logo" src="/img/premium/verstegen_gouden_hartjes@2x.jpg"/>
	</div>
	<div class="premium-page__to-top js-scroll-to" data-scroll-to-link="#wrapper"><i class="icon icon-chevron-up"></i>TOP</div>
</div>