<div class="cols">
    <div class="xs-12 xsm-4 sm-4 md-4 lg-4">
        <div class="thumbnail thumbnail-button" onclick="location.href = '/rouwkaarten/bijzondere-rouwkaarten';"><img alt="Bijzondere rouwkaarten van hipDesign." class="img" src="/media/Rouw05.jpg" /> <a class="thumbnail-button-button bt06">Bijzondere rouwkaarten</a></div>
    </div>
    <div class="xs-12 xsm-4 sm-4 md-4 lg-4">
        <div class="thumbnail thumbnail-button" onclick="location.href = '/rouwkaarten/rouwkaarten-met-foto';"><img alt="Rouwkaarten met foto van hipDesign." class="img" src="/media/Rouw02.jpg" /> <a class="thumbnail-button-button bt06">Rouwkaart met foto</a></div>
    </div>
    <div class="xs-12 xsm-4 sm-4 md-4 lg-4">
        <div class="thumbnail thumbnail-button" onclick="location.href = '/rouwkaarten/rouwkaarten-kind';"><img alt="Rouwkaarten voor kinderen." class="img" src="/media/Rouw04.jpg" /> <a class="thumbnail-button-button bt06">Rouwkaarten kind</a></div>
    </div>
    <div class="xs-12 xsm-4 sm-4 md-4 lg-4">
        <div class="thumbnail thumbnail-button" onclick="location.href = '/contact';"><img alt="Contact." class="img" src="/media/Rouw06.jpg" /> <a class="thumbnail-button-button bt06">Contact</a></div>
    </div>
    <div class="xs-12 xsm-4 sm-4 md-4 lg-4">
        <div class="thumbnail thumbnail-button" onclick="location.href = '/verzendservice';"><img alt="Laat hipDesign de verzending van de kaarten regelen." class="img" src="/media/Rouw03.jpg" /> <a class="thumbnail-button-button bt06">Verzendservice</a></div>
    </div>
    <div class="xs-12 xsm-4 sm-4 md-4 lg-4">
        <div class="thumbnail thumbnail-button" onclick="location.href = '/rouwkaarten/rouwteksten';"><img alt="Teksten en gedichten voor op de rouwkaart." class="img" src="/media/Rouw01.jpg" /> <a class="thumbnail-button-button bt06">Teksten en gedichten</a></div>
    </div>
    <div class="xs-12 sm-hide md-hide lg-hide xl-hide">
        <div class="button-group button-group-vertical-wide"><a class="button button-grey button-lg-close" href="/contact">Persoonlijk contact &gt; </a> <a class="button button-grey button-lg-close" href="/rouwkaarten/bijzondere-rouwkaarten">Bijzondere rouwkaarten &gt;</a> <a class="button button-grey button-lg-close" href="/rouwkaarten/rouwteksten"> Teksten en gedichten &gt;</a> <a class="button button-grey button-lg-close" href="/samen">Laten ontwerpen &gt;</a> <a class="button button-grey button-lg-close" href="/rouwkaarten/prijzen-info#papiersoorten">Papiersoorten &gt;</a> <a class="button button-grey button-lg-close" href="/rouwkaarten/prijzen-info#enveloppen">Enveloppen &gt;</a></div>
    </div>
</div>
<div class="hide" data-sidebar="prijzen-rouw|rouwkaarten|rouw-service|rouw-extra">&nbsp;</div>
<div class="cols">
    <div class="topbanner-text md-9 sm-9 xsm-9">
        <h2 class="topbanner-title">Nieuwe stijl rouwkaarten van hipDesign</h2>
        <h2 class="topbanner-title-small">Rouwkaarten</h2>
        <p class="topbanner-p">Een persoonlijk ontwerp voor een rouwkaart willen wij graag met je maken, een kaart
            <br /> die laat zien wie jou zo dierbaar was. Onze vormgevers reiken je in de collectie mooie
            <br /> voorbeelden aan die je zelf kunt aanpassen naar eigen wensen.</p>
    </div>
</div>
<p class="xs-hide xsm-hide"><strong>Persoonlijke rouwkaarten</strong> voor een waardevol afscheid. Bij hipDesign bestel je eenvoudig en online rouwkaarten uit onze mooie collecties. Van sfeervol en fragiel tot stoer en strak. Een dierbare blijvende herinnering aan het afscheid van de overledene. Met eigen foto, kleurrijk en bijzonder. Dat is wat hipDesign laat zien.</p>
<p class="xs-hide xsm-hide">Vaak voel je je machteloos en erg verdrietig omdat je weet dat er een einde komt aan het leven.
    <br /> Of je wordt knock-out geslagen omdat heel onverwacht je partner overlijdt, je vader of een vriendin.
    <br /> Je voelt je verslagen. Afscheid nemen, definitief gedag zeggen...
    <br /> Dat doe je niet zomaar, dat wil je graag doen op een eigen persoonlijke manier.
    <br /> De rouwkaart is een uitnodiging om naar het afscheid te komen. Luisteren naar lieve verhalen, mooie <a href="/rouwkaarten/rouwteksten">rouwgedichten</a> maar ook om verdriet samen te delen. Afscheid nemen is een proces waaraan familie en vrienden samen deelnemen.
    <br /> Steun en kracht vinden bij elkaar door samen op zoek te gaan naar muziek, een kaart en rouwteksten die horen bij de overledene.
    <br /> Wij willen graag een bijdrage leveren aan dat rouwproces door een mooie bijzondere <strong>collectie rouwkaarten</strong> te laten zien. Kaarten die je laten zien hoe persoonlijk en eigentijds een rouwbrief kan zijn.
    <br /> Ontwerp online bij hipDesign of samen met &eacute;&eacute;n van onze vormgevers een <strong>bijzondere rouwkaart</strong>.</p>
<h2 class="cptitle">Kies een rouwkaart...</h2>
