<link href="css/custom_three_column.css" rel="stylesheet" type="text/css" />
<div class="three-column-overview trouwstijl" id="template-fluid">

	<img class="left-header-side" src="/img/left.png"/>
	<img class="right-header-side" src="/img/right.png"/>

	<p class="three-column__introduction">Kies een ontwerp uit onze collectie save the date kaarten of maak zelf je save the date kaart bij hipDesign. Uniek, makkelijk en supergaaf! Zo laat je op een persoonlijke en originele manier weten dat je gaat trouwen en dat het belangrijk is dat je dit samen met je gasten wilt vieren. Voeg eigen tekst en foto’s toe en gebruik onze hippe illustraties uit de bibliotheek van hipDesign.</p>

	<div class="three-column__links js-scroll-on-click"><span>Meer: </span><a href="#hoe-werkt-het">Hoe werkt het</a> | <a href="#tips-tricks">Tips &amp; Tricks</a> | <a href="#enveloppen">Enveloppen</a></div>

	<div class="cols three-column__items">
		<div class="xs-12 xsm-6 sm-4 three-column__item">
			<div class="three-column__item-thumbnail"><img alt="Freestylephoto" src="/img/trouwkaarten/home/Trouwen_Trouwhuisstijl_Stijlvol-hip3.png" /></div>

			<div class="three-column__item-content">
				<h3 class="three-column__item-name">Stijlvol hip met icoontjes</h3>

				<p class="three-column__item-text">Sfeervol om bij alle communicatie te werken met hetzelfde design op RSVP kaartjes, naamkaartjes en bijvoorbeeld menukaarten.</p>
			</div>

			<a class="three-column__item-link" href="/trouwkaarten/trouwstijl-maken/stijlvol-hip-icoontjes" target="_blank">
				Bekijk deze collectie<i class="icon icon-chevron-right">&nbsp;</i>
			</a>
		</div>

		<div class="xs-12 xsm-6 sm-4 three-column__item">
			<div class="three-column__item-thumbnail"><img alt="Freestylephoto" src="/img/trouwkaarten/home/Trouwen_Trouwhuisstijl_Stijlvol-hip1.png" /></div>

			<div class="three-column__item-content">
				<h3 class="three-column__item-name">Stijlvol hip met slinger</h3>

				<p class="three-column__item-text">De slinger geeft heel mooi de titel aan van de kaart. Subtiel en vrolijk past dit element perfect binnen alle trouwkaarten. </p>
			</div>
			<a class="three-column__item-link" href="/trouwkaarten/trouwstijl-maken/stijlvol-hip-icoontjes" target="_blank">
				Bekijk deze collectie<i class="icon icon-chevron-right">&nbsp;</i>
			</a>
		</div>

		<div class="xs-12 xsm-6 sm-4 three-column__item">
		<div class="three-column__item-thumbnail"><img alt="MIR Fotografie" src="/img/trouwkaarten/home/Trouwen_Trouwhuisstijl_Stijlvol-hip2.png" /></div>

			<div class="three-column__item-content">
				<h3 class="three-column__item-name">Stijlvol klassiek</h3>

				<p class="three-column__item-text">In deze trouwhuisstijl hebben wij gewerkt met jadegroen. In combinatie met donkergrijs is deze huwelijksuitnodiging hip en tijdloos.</p>
			</div>
			<a class="three-column__item-link" href="/trouwkaarten/trouwstijl-maken/stijlvol-hip-icoontjes" target="_blank">
				Bekijk deze collectie<i class="icon icon-chevron-right">&nbsp;</i>
			</a>
		</div>

		<div class="xs-12 xsm-6 sm-4 three-column__item">
			<div class="three-column__item-thumbnail"><img alt="Freestylephoto" src="/img/trouwkaarten/home/Trouwen_Trouwhuisstijl_Vintage2.png" /></div>

			<div class="three-column__item-content">
				<h3 class="three-column__item-name">Vintage met kant</h3>

				<p class="three-column__item-text">Voor wie van het klassieke Hollandse leven houdt, hebben wij een trouwstijl gemaakt rondom de vintage trouwkaart met kant. </p>
			</div>
			<a class="three-column__item-link" href="/trouwkaarten/trouwstijl-maken/stijlvol-hip-icoontjes" target="_blank">
				Bekijk deze collectie<i class="icon icon-chevron-right">&nbsp;</i>
			</a>
		</div>

		<div class="xs-12 xsm-6 sm-4 three-column__item">
			<div class="three-column__item-thumbnail"><img alt="Freestylephoto" src="/img/trouwkaarten/home/Trouwen_Trouwhuisstijl_Vintage1.png" /></div>

			<div class="three-column__item-content">
				<h3 class="three-column__item-name">Vintage met bloemen</h3>

				<p class="three-column__item-text">Deze vintage trouwstijl met bloemen en een hippe ruit is door ons uitgewerkt in het oud-hollands met een zilveren envelop.</p>
			</div>
			<a class="three-column__item-link" href="/trouwkaarten/trouwstijl-maken/stijlvol-hip-icoontjes" target="_blank">
				Bekijk deze collectie<i class="icon icon-chevron-right">&nbsp;</i>
			</a>
		</div>

		<div class="xs-12 xsm-6 sm-4 three-column__item">
			<div class="three-column__item-thumbnail"><img alt="MIR Fotografie" src="/img/trouwkaarten/home/Trouwen_Trouwhuisstijl_Vintage3.png" /></div>

			<div class="three-column__item-content">
				<h3 class="three-column__item-name">Vintage met slinger</h3>

				<p class="three-column__item-text">Bij deze trouwstijl is gekozen voor perkament papier met een hippe streep. De prachtige wijnrode kleur zorgt voor een mooi contrast.</p>
			</div>
			<a class="three-column__item-link" href="/trouwkaarten/trouwstijl-maken/stijlvol-hip-icoontjes" target="_blank">
				Bekijk deze collectie<i class="icon icon-chevron-right">&nbsp;</i>
			</a>
		</div>
	</div>

	<div class="cols design-together__info">
		<div class="xs-12" id="hoe-werkt-het">
			<h2>Hoe werkt het?</h2>

			<p>Vestibulum ornare, nisi eget sagittis fringilla, est enim pellentesque massa, vel consectetur risus leo in erat. Etiam non eleifend nunc, a accumsan justo. Sed vel ullamcorper nibh, a convallis neque. Vivamus finibus sodales quam vitae posuere. Fusce eu diam ullamcorper, ultricies turpis et, tristique mauris. Sed aliquam neque sit amet mi eleifend tincidunt. Nulla facilisi. Nunc magna enim, convallis nec mauris id, malesuada iaculis turpis. Curabitur ipsum magna, euismod vitae porttitor et, faucibus vel tellus. Vestibulum tincidunt odio a nisl lobortis, at faucibus est pretium. Aenean bibendum ornare pretium. Nam tincidunt volutpat mauris, non ullamcorper metus porttitor vitae. Cras mollis risus porta elit viverra, in dignissim tortor maximus. Etiam risus augue, dictum non vehicula mollis, luctus in dolor. Aenean eu tempor leo. Duis dolor magna, dignissim et cursus vel, sagittis vitae dolor. Donec leo mauris, tincidunt at quam mollis, faucibus dictum erat. Suspendisse eget ligula a nunc pharetra sollicitudin a vitae eros. Vestibulum convallis elit a nisl interdum tristique. In hac habitasse platea dictumst. Cras ultricies ex in dolor facilisis, in rhoncus ex faucibus. Suspendisse potenti. Phasellus aliquam nec dolor sit amet luctus. Quisque bibendum fermentum massa, eget venenatis lacus porta vel.</p>
		</div>

		<div class="xs-12 xsm-6 " id="tips-tricks">
			<h2>Tips &amp; Tricks</h2>

			<p>Aenean eu tempor leo. Duis dolor magna, dignissim et cursus vel, sagittis vitae dolor. Donec leo mauris, tincidunt at quam mollis, faucibus dictum erat. Suspendisse eget ligula a nunc pharetra sollicitudin a vitae eros. Vestibulum convallis elit a nisl interdum tristique. In hac habitasse platea dictumst. Cras ultricies ex in dolor facilisis, in rhoncus ex faucibus. Suspendisse potenti. Phasellus aliquam nec dolor sit amet luctus. Quisque bibendum fermentum massa, eget venenatis lacus porta vel.</p>
		</div>

		<div class="xs-12 xsm-6" id="enveloppen">
			<h2>Enveloppen</h2>

			<p>Vestibulum ornare, nisi eget sagittis fringilla, est enim pellentesque massa, vel consectetur risus leo in erat. Etiam non eleifend nunc, a accumsan justo. Sed vel ullamcorper nibh, a convallis neque. Vivamus finibus sodales quam vitae posuere. Fusce eu diam ullamcorper, ultricies turpis et, tristique mauris. Sed aliquam neque sit amet mi eleifend tincidunt. Nulla facilisi. Nunc magna enim, convallis nec mauris id, malesuada iaculis turpis. Curabitur ipsum magna, euismod vitae porttitor et, faucibus vel tellus. Vestibulum tincidunt odio a nisl lobortis, at faucibus est pretium. Aenean bibendum ornare pretium. Nam tincidunt volutpat mauris, non ullamcorper metus porttitor vitae. Cras mollis risus porta elit viverra, in dignissim tortor maximus. Etiam risus augue, dictum non vehicula mollis, luctus in dolor.</p>
		</div>
	</div>
</div>
