@font-face {
    font-family: 'GillSansMT';
    src: url('/css/fonts/gillsansmt.eot');
    src: url('/css/fonts/gillsansmt.eot') format('embedded-opentype'),
         url('/css/fonts/gillsansmt.woff') format('woff'),
         url('/css/fonts/gillsansmt.ttf') format('truetype'),
         url('/css/fonts/gillsansmt.svg#GillSansMT') format('svg');
}
.form-line-active,
.form-line-error{
	background:none;
}
.form-line-error .form-error-message,
.form-line-active input:focus,
.form-line-active textarea:focus{
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-submit-button,
.form-line-error .form-error-message {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
textarea,
input[type="text"]{
	border:1px solid #dbdbdb;
	box-shadow:inset 0 0 1px #dbdbdb;
	-moz-box-shadow:inset 0 0 1px #dbdbdb;
	-webkit-box-shadow:inset 0 0 1px #dbdbdb;
	color:#262626;
	font-family:"Trebuchet MS",Verdana;
	font-size:14px;
	padding:8px 1%;
	width:98%;
}
textarea{
	height:92px;
	overflow:auto;
	resize:none;
}
.form-line-active input:focus,
.form-line-active textarea:focus{
	border-color:#dbdbdb;
}
.form-line-error input:not(#coupon-input),
.form-line-error textarea{
	border-color:#ff0f0f;
	box-shadow:inset 0 0 1px #fd9a9a;
	-moz-box-shadow:inset 0 0 1px #fd9a9a;
	-webkit-box-shadow:inset 0 0 1px #fd9a9a;
}
.form-all{
	width:710px;
}
.form-section li{
	margin:0;
	padding:0 0 25px 0;
}
.form-label-left{
	width:115px !important;
	padding:0 10px 0 0;
	margin:0;
	line-height:33px;
	height:33px;
	font-family:"Trebuchet MS",Verdana;
	color:#262626 !important;
	font-size:13px;
	font-weight:normal;
}
.form-required{
	color:#262626;
	font-weight:normal;
	font-size:14px;
}
.form-input{
	position:relative;
	padding:0 132px 0 0;
	width:452px;
}
.form-error-arrow,
.form-error-message img{
	display:none;
}
.form-line-error .form-error-message{
	background:url(http://hipdesign.nl/img/bg-error-2.png) no-repeat 0 0;
	margin:0;
	font-family:"Trebuchet MS",Verdana;
	font-size:12px;
	height:33px;
	color:#fff;
	display:inline-block;
	padding:0 10px 0 14px;
	position:absolute;
	right:0;
	top:0;
	width:100px;
	line-height:33px;
}
.form-buttons-wrapper{
	padding-right:134px;
}
.form-submit-button{
	margin:0;
	background: #8ac0cf!important;
	line-height: 30px;
	width: auto;
	padding: 0 15px;
	color: #fff !important;
	font-size: 17px;
	font-family: 'GillSansMT';
	text-decoration:none!important;
	height: 35px !important;
	text-align: center;
	border:0;
	border-bottom:2px solid #759ba6;
	padding-top:2px;border-bottom:0
	cursor:pointer;
	text-shadow:none;
}
.form-submit-button:hover{
	background-color: #74adbd !important;
	text-decoration: none;
}
.form-submit-button:active{
	padding-top:2px;border-bottom:0
}