

.middlebar-menu-right .zoek {
    margin-top: -33px;
}




/* Font-reset ------------------------------------------------------------------------------------------------------- */
body,
h1,
h2,
h3,
h4,
h5,
.footer1 a,
.thumbnail-button .thumbnail-button-button,
body.category .accordion-button span,
#body_design .extra,
.navbar .middlebar ul.middlebar-menu-right>li>a,
body.geboortekaartjes h1,
body.geboortekaartjes h2,
body.uitnodiging-maken h1,
body.trouwkaarten h1,
body.jubileumkaarten h1,
body.rouwkaarten h1,
body.wenskaarten h1,
body.category h2,
body.subpage #service span,
body.trouwkaarten h3 {
    font-family: "proxima-nova" !important;
}

body.trouwkaarten h3 {
    font-size: 20px;
}

body,
h3,
.footer1 a,
.thumbnail-button .thumbnail-button-button,
body.category .accordion-button span,
#body_design .extra {
    font-size: 15px;
    line-height: 1.6em;
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font-size: 26px;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 1.6em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #575757 !important;
}

.welkom h3 {
    font-family: "proxima-nova"!important;
    font-weight: 700;
    font-size: 26px !important;
    margin-top: 24px;
    padding: 0px 0px 8px 0px;
    line-height: 30px;
}

.cptitle {
    text-align: left;
}

#body_edit #order_card {
    font-size: 16px;
}

/* New footer ------------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 992px) {
    #footer .content-wrapper {
        top: 0 !important;
    }
}

#footer {
    padding-top: 0;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

#footer,
#footer .footer2 {
    background-color: #f2f8fa;
}

#footer .footer-header {
    width: calc(100% + 20px);
    background-color: #fff;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer .footer-header .container {
    padding-left: 10px;
    padding-right: 10px;
}

#footer .footer-header p,
#footer .footer-header a {
    padding-top: 15px;
    color: #575757;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
    #footer .footer-header p {
        text-align: center;
    }
}

#footer .feedback-rating {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: #a2c2d0;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -5px;
    padding-top: 5px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

@media screen and (max-width: 480px) {
    #footer .rating {
        line-height: 30px;
    }

    #footer .feedback-rating {
        margin-left: 0;
        margin-top: -2px;
        padding-top: 2px;
    }
}

@media screen and (min-width: 481px) {
    #footer .rating br {
        display: none;
    }
}

#footer .logo-betalen-bezorgen {
    height: 28px;
    margin: 14px 8px;
}

#footer .logo-betalen-bezorgen.vs {
    padding: 5px 0;
}

@media screen and (max-width: 991px) {
    #footer .logo-betalen-bezorgen {
        height: 25px;
        margin: 14px 6px;
    }
}

@media screen and (max-width: 480px) {
    #footer .logo-betalen-bezorgen {
        margin: 6px 6px;
    }

    #footer .logo-betalen-bezorgen.tw {
        display: none;
    }

    #footer .logoos-betalen-bezorgen {
        display: none;
    }

    #footer .footer-header p {
        padding-top: 0;
    }
}

@media screen and (min-width: 481px) {
    #footer .logo-betalen-bezorgen.tw {
        display: inline-block;
        margin-left: 0;
    }

    #footer .logoos-betalen-bezorgen {
        display: inline-block;
    }
}

#footer .footer1 {
    padding-top: 48px;
    padding-bottom: 40px;
}

#footer .footer1 a,
#footer .footer1 p {
    font-size: 15px;
    line-height: 30px;
    color: #919191;
}

#footer .footer1 a:hover {
    color: #6aa6c9;
    text-decoration: none !important;
}

#footer .footer2 {
    padding-bottom: 20px;
    font-size: 15px;
    line-height: 30px;
    color: #919191;
}

#social-block {
    width: 100%;
}

@media screen and (max-width: 991px) {
    #social-block .social li {
        margin-bottom: 10px;
    }
}

#social-block .social .fb a,
#social-block .social .pt a,
#social-block .social .tt a,
#social-block .social .ig a {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-image: none;
    display: inline-block;
    text-indent: 0;
    margin-right: 15px;
}

@media screen and (max-width: 480px) {
    #social-block .social .fb a,
    #social-block .social .pt a,
    #social-block .social .tt a,
    #social-block .social .ig a {
        width: 36px;
        height: 36px;
        border-radius: 18px;
        margin-right: 8px;
    }
}

#social-block .social .fb a {
    background-color: #3b5998;
}

#social-block .social .pt a {
    background-color: #cb2027;
}

#social-block .social .tt a {
    background-color: #55acee;
}

#social-block .social .ig a {
    background-color: #125688;
}

#social-block .social .fb a:after,
#social-block .social .pt a:after,
#social-block .social .tt a:after,
#social-block .social .ig a:after {
    color: #fff;
    font-family: kcicons;
    font-size: 24px;
    display: inline-block;
    margin-left: 4px;
    margin-top: 8px;
}

#social-block .social .fb a:after,
#social-block .social .pt a:after,
#social-block .social .tt a:after,
#social-block .social .ig a:after {
    margin-left: 4px;
    margin-top: 5px;
}

#social-block .social .fb a:after {
    content: "\e016";
}

#social-block .social .pt a:after {
    content: "\e015";
}

#social-block .social .tt a:after {
    content: "\e017";
}

#social-block .social .ig a:after {
    content: "\e019";
}

.footer-logo {
    width: 70px;
    margin-right: 5px;
}






/** MOBILE FILTER FONT REPAIR **/

.mf *, .mf__main ul.mob-tag-group-ul h3 {
    font-family: "proxima-nova", Verdana !important;
    font-weight: 500;
}   



