.accordion {
    list-style-type: none;
    padding: 0px 0px 0px 0px;
    border: 1px solid #dbefed;
    background-color: @accordion-bg-color;
    margin-top:10px;
    > .active {
        color: @accordion-active-color!important;
    }
    .show {
        display: block!important;
    }
    &.small {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    > a {
        display: block;
        vertical-align: middle;
        background-color: @accordion-link-bg-color;
        padding: 10px 10px;
        //color: @accordion-link-color;
        > i {
            float: right;
            font-size: 12px;
            color: #dbefed;
        }
        > span {
            color: #df8070;
            font-size: 20px;
            line-height:20px;
        }
    }
    
    .accordion-button {
        &:hover{
            background-color:#f8f9f9;
            text-decoration:none;
        }
    }
   
    .accordion-body {
        display: none;
        padding: 5px;
        ul {
            margin-bottom: 0px;
            margin-top: 0px;
            li {
                a {
                      padding: 5px 0px 5px 5px;
                }
            }
        }
    }
    &.prijs {
        border-top:none;
        border-left:none;
        border-right:none;
    }
}