.address-list {
  input[type="text"] {
    border-radius: 0px !important;
  }
  > ul {
    max-height: 250px;
    padding: 0;
    margin: 0 0 15px 0;
    overflow-y: auto;
    overflow-x: hidden;
    border-left: 1px solid @address-list-border-color;
    border-right: 1px solid @address-list-border-color;
    > li {
      border-bottom: 1px solid @address-list-border-color;
      text-align: center;
      a {
        display: block;
        padding: 0;
      }
      > button {
        margin-bottom: 15px;
      }
    }
  }
}