

#topbanner {
    position:relative;
    padding-bottom:0px;
    .topbanner-title {
        @media only screen and (max-width : @xsm) {
            display:none;
        }
    }
    .topbanner-title-small {
            @media only screen and (min-width : (@xsm + 1)) {
            display:none;
        }
    }

    .topbanner-p {
        @media only screen and (max-width : @md) {
        display:none;
        }
    }

    .topbanner-text {
        position: absolute;
        top: 20%;
        left: 3%;
    }

}

.top-title-block {
    background: #f8f9f9 url(/img/bg_top_title.png) no-repeat;
    background-position-x:right !important;
    padding: 40px 0 4px 17px;
    height: 77px;
    margin-top: 20px;
    color:#8ac0cf;
    @media only screen and (max-width : @xsm) {
        font-size: 23px !important;
        padding-top:32px;
    }
    @media only screen and (max-width : 991px) {
        margin-top:10px;
        background-size: 100% 100% !important;
    }
}

@media only screen and (max-width: 480px) {
    body.trouwkaarten h1.top-title-block {
        font-size: 21px !important;
    }

    body.geboortekaartjes h1.top-title-block {
        font-size: 18px !important;
    }
}

@media only screen and (max-width: 480px) {
    body.trouwkaarten h1.top-title-block {
        font-size: 18px !important;
    }
}

@media only screen and (max-width: 320px) {
    body.trouwkaarten h1.top-title-block {
        font-size: 18px !important;
        padding-top: 33px !important;
    }
}