@media only screen and (max-width : @xs) {
    .content-wrapper {
        top: 10px;
        padding: 5px;
    }
    .xsm-hide, .xsm-hide, .md-hide, .lg-hide {
        display: block;
    }
    .xs-hide {
        display: none !important;
    }
}

@media only screen and (max-width:@xsm) and (min-width:@xs) {
    .content-wrapper {
        top:10px;
        padding: 5px;
    }
    .xs-hide, .sm-hide, .md-hide, .lg-hide {
        display: block;
    }
    .xsm-hide {
        display: none !important;
    }
}

@media only screen and (max-width:@sm) and (min-width:@xsm) {
    .content-wrapper {
        //top: 20px;
        padding: 5px;
    }
    .xs-hide, .xsm-hide, .md-hide, .lg-hide {
        display: block;
    }
    .sm-hide {
        display: none !important;
    }
}

@media only screen and (max-width:@md) and (min-width:@sm) {

    .content-wrapper {
        //top: 15px;
        padding: 10px;
    }
    .xs-hide, .xsm-hide, .sm-hide, .lg-hide {
        display: block;
    }
    .md-hide {
        display: none !important;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width:@lg) and (min-width:@md) {
    .content-wrapper {
        //top: 25px;
        padding: 0;
    }
    .xs-hide, .xsm-hide, .sm-hide, .md-hide {
        display: block;
    }
    .lg-hide {
        display: none !important;
    }
    .container {
        width: 960px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : @lg) {
    .content-wrapper {
        //top: 25px;
        padding: 0;
    }
    .container {
        width: 960px;
    }
    .xl-hide {
        display: none !important;
    }
}

.hide {
    display: none;
}

#headermenu {
    display: none!important;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    outline: none;
}
i {
    display: inline-block;
}

.sidebar-head {
    font-family: "Open Sans", Verdana;
    color: #45adba;
    font-size: 22px;
    margin-bottom: 20px;
}

body{
    color:#403c3d;
    font-size:13px;
    line-height:18px;
    font-family: "Open Sans", Verdana;
    padding: 0;
    margin: 0;
}

header, section, footer, aside, nav, main, article, figure {
    display: block;
}

.transition-ease {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.navbar:after .container:after, .cols:after, topbar:after, middlebar:after, .topbar-left:after, .topbar-right:after, topbar-menu:after {
    clear: both;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}

ul {
    padding: 0;
}

dl {
    margin-top: 0;
    margin-bottom: 20px;
}

dd, dt {
    line-height: 1.42857143;
}

p {
    margin-top: 0;
    margin-bottom: 15px;
    color: #262626;
    font-size: 13px;
    line-height: 22px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 100;
}

.navbar:after,
.navbar:before,
.container:after,
.container:before,
.cols:after,
.cols:before,
.form-horizontal .input-group:after,
.form-horizontal .input-group:before{
    display: table;
    content: " ";
}

ul {
    list-style: none;
}

a {
    color: #ed1c24;
    outline: none;
    text-decoration: none ;
    &:hover {
        text-decoration:underline;
    }
    &:active {
        color: @link-active-color;
    }
    &:focus {
        color: @link-focus-color;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Trebuchet MS','Verdana';
    font-weight:normal;
    color:#45adba;
    margin-bottom: 15px;
}

h1 {
    font-size:26px;
    color: @h1-color;
    margin-top: 5px;
    margin-bottom: 5px;

}

h2 {
    font-size:22px;
    color: @h2-color;
    line-height:27px;
}

h3 {
    line-height: 22px;
    margin: 0 0 8px;
    color: #262626;
    font-size: 21px;
    font-weight: normal;
    font-family: 'GillSansMT';
}

h4 {
    font-size:18px;
    color: @h4-color;
}

h5 {
    font-size:18px;
    color: @h5-color;
}

h6 {
    font-size:18px;
    color: @h6-color;
}

.container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    clear: both;
    height: 100%;
}

img {
    vertical-align: middle;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-center {
    display: block;
    margin: 0 auto;
}

.img-circle {
    border-radius: 50%!important;
}

.text-left {
    text-align: left!important;
}

.text-center {
    text-align: center!important;
}

.text-right {
    text-align: right!important;
}

.text-default {
    color: @text-default-color;
}
.text-primary {
    color: @text-primary-color;
}
.text-success {
    color: @text-success-color;
}
.text-warning {
    color: @text-warning-color;
}
.text-danger {
    color: @text-danger-color;
}
.text-info {
    color: @text-info-color;
}

.text-white {
    color: @text-white-color !important;
}

.text-xs {
    font-size: 0.6em!important;
}

.text-xsm {
    font-size: 0.8em!important;
}

.text-sm {
    font-size: 1.0em!important;
}

.text-md {
    font-size: 1.2em!important;
}

.text-lg {
    font-size: 1.4em!important;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.inverted-menu-item {
    background-color:#8AC0CF;
    color:#FFF !important;
    border: 1px solid black;
}

#rich-menu-content {
    border: 1px solid black;

}

#rich-menu-content:after {
    clear: both;
}

#rich-menu-content .rich-snippets {
    width: 100%;
    float: none;
}

#rich-menu-content span {
    display: inline!important;
}

#rich-menu-content .rich-snippets .btn-feedback {
	display: block;
	text-align: center;
	background: #00a0ba;
	color: #fff;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	margin-top: 8px;
        width: 100%;
        padding: 0 5px;
}

.home_item {
    border-top: 5px solid #e8f2f5;
    padding: 0 10px;
    > h3{
        padding: 12px 0 10px 0 !important;
    }
    a {
            color: #ed1c24;
            outline: none;
            text-decoration: underline !important;
            &:hover {
                text-decoration: none !important;
            }
    }

}

.welkom {
    h3 {
       font-family: 'Dawning of a New Day' !important;
       font-size: 38px !important;
           margin:30px 0px 7px 0px;
           padding: 0px 10px;
           line-height:45px;
    }

}

.cptitle {
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    @media only screen and (max-width : (@sm - 1px)) {
    text-align: center;
    }
}


.info {
    padding-left: 10px;
    padding-right:10px;
}

div.filCTAwrp {
    display: none;
}

@media @mid {
    div.filCTAwrp {
        position:fixed;
        bottom:0px;
        right:0px;
        left:0px;
        display:block;
        z-index:10000;
        font-size: 16px;
        line-height: 27px;
        &.active {
            a.filCTA {
                display:none;
            }
            div.filRes {
                background:#45adba;
                color:#fff;
                padding:7px 15px 5px 15px;
                min-height:40px;
                box-sizing:border-box;
                width:100%;
                text-align:center;
                display:block;
            }
        }
        div.filRes {
            display:none;
        }
        a.filCTA {
            display:inline-block;
            box-sizing:border-box;
            padding:5px 15px 5px 15px;
            color:#fff;
            background:#4ca18d;
            float:right;
            &:after {
                content:'Filter';
            }
            &:before {
                font-family:@iconFont;
                content:'v';
                padding-right:5px;
            }
        }
    }

    .mobFilter {
        overflow-y:auto;
        background:#fff;
        padding:25px;
        display:none;
        &.active {
            position:fixed;
            display:block;
            left:0px;
            top:0px;
            bottom:40px;
            right:0px;
            z-index:10000;
        }
        .envmenu {
            display:none;
        }
        h3.filtertop {
            display:none;
        }
        #filter_menu {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
        }
    }
}

.new-block {
    background-color: #f7f7f7;
    padding: 5px 17px;
}

.text-right{
    text-align: right;
    display: block;
}

.content-title {
    margin: 0 0 10px;
    line-height: normal;
}

.thumbnail-news {
    margin-bottom: 15px;
    h3 {
        font-family: "Trebuchet MS",Verdana !important;
        font-size: 13px;
        a {
            color: #262626;
        }
    }
}

body.geboortekaartjes {
    .content-title {
        color: #53a798;
    }
}

.hide-sidebar {
    #categories {
        display: none;
    }

    #pagecontent {
        width: 100%;
    }
}

.zelf {
    .top-title-block {
        background: url(images/Geboorte-Zelfmaken_15_Banner-smal.png);
    }

    .card-block {
        background-color: #e6ecec;

        .card-block-title,
        .card-block-footer {
            color: #595758;
        }
    }

    .main-block {
        img {
            float: right;
            margin-left: 35px;

            @media only screen and (max-width: 479px) {
                float: none;
                display: block;
                margin: 0 auto 15px;
            }
        }

        p {
            overflow: hidden;
        }

        @media only screen and (max-width: 768px) {
            p {
                overflow: visible;
            }
        }
    }

    .grid-masonry {
        margin: 0 -15px;

        .block-item {
            padding: 10px 15px 15px;
            border-bottom: 5px solid #e8f0f3;
        }

        .brt-0 {
            border-top: 0;
        }

        .brb-0 {
            border-bottom: 0;
        }

        .brt {
            border-top: 5px solid #e8f0f3;
        }

        .mt-15 {
            margin-top: 15px;
        }

        .mb-15 {
            margin-bottom: 15px;
        }

        ol,
        ul {
            list-style-position: inside;
            line-height: 22px;
        }
    }
}
.zelf .top-title-block {
    background-repeat: no-repeat;
}

// Advestive
#header {
    .top-ad {
        display: none;
    }
    &.has-ad {
        .top-ad {
            display: block;
            position: fixed;
            top: 0;
            line-height: 30px;
            width: 100%;
            min-height: 30px;
            text-align: center;
            padding-right: 30px;
            background: #ddd;
            border-bottom: 1px solid #aaa;
            a {
                display: inline-block;
            }
            .close {
                position: absolute;
                top: 0;
                right: 0;
                width: 30px;
                cursor: pointer;
                transform: rotate(45deg);
                font-size: 30px;
            }
        }
        #visual-content {
            margin-top: 148px;
        }
    }

}

@media only screen and (min-width: 768px) {
    #header.has-ad {
        .navbar {
            top: 30px;
        }
    }
}
@media only screen and (max-width: 767px) {

    #header.has-ad {
        .top-ad {
             top: 50px;
         }
        .middlebar {
            height: 0;
        }
        #visual-content {
            margin-top: 118px;
        }
    }
}
