/* BREADCRUMB */
#crumbs {
    margin-bottom: 5px;
    list-style: none;
    border-radius: 4px;
    font-size:11px;
    a{
        color: @breadcrumb-color;
    }
    li {
        display: inline-block;
        vertical-align: middle;
        &:after {
            display: inline-block;
            vertical-align: middle;
            text-align: right;
            padding: 0 5px;
            font-family: @iconFont;
            content: 'j';
            font-size: 0.5em;
        }
        &:last-child:after, &:only-child :after  {
            content: '';
        }
        a.active {
            color: #8ac0cf;
        }
        a {
            color: @breadcrumb-color;
            font-size:12px;
            &:hover {
                color: @breadcrumb-hover-color;
            }
            &:active {
                color: #8ac0cf;
            }
            &:focus {
                color: @breadcrumb-focus-color;
            }
        }
    }
}
/* END BREADCRUMB */