.card-block {
    position: relative;
    display: block;
    border: 1px solid @card-block-border-color;
    background-color: @card-block-bg-color;
    margin-bottom: 25px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 99;
    img {
        height: 150px; 
    }
    &:hover {
        > img {
            opacity: 0.8;
        }
        .card-block-title, .card-block-footer {
            opacity: 1;
        }
    }
    .card-block-title, .card-block-footer {
        display: block;
        text-align: center;
        padding: 10px;
        margin-bottom: 10px;
        opacity: 0.8;
    }
    .card-block-title {
        color: @card-block-title-color;
        font-size: 1.2em;
        font-weight: bold;
    }
    .card-block-footer {
        color: @card-block-footer-color;
        font-size: 15px;
        margin-top: 10px;
    }
}