/********************************************
/* H TAGS */
/********************************************/
@h1-color: #666666;
@h2-color: inherit;
@h3-color: inherit;
@h4-color: inherit;
@h5-color: inherit;
@h6-color: inherit;

/********************************************
/* TEXT */
/********************************************/
@text-default-color: #ccc;
@text-success-color: #F5871E;
@text-warning-color: #F6C61E;
@text-danger-color: #FA9485;
@text-info-color: #F5871E;
@text-primary-color: #6FD4CE;
@text-white-color: #FFF;

/********************************************
/* INPUT CHECKBOX */
/********************************************/
@checkbox-bg-color: #ccc;
@checkbox-border-color: #cacece;
@checkbox-checked-bg-color: #F78621;
@checkbox-checked-border-color: #adb8c0;
@checkbox-checked-color: #fff;


/********************************************
/* LINK */
/********************************************/
@link-color: #787878;
@link-hover-color: #787878;
@link-active-color: #787878;
@link-focus-color: #787878;

/********************************************
/* LOGO */
/********************************************/
@logo-link-color: #F38925;
@logo-link-hover-color: #F38925;
@logo-link-active-color: #F38925;
@logo-link-focus-color: #F38925;

/********************************************
/* NAVBAR */
/********************************************/

@navbar-bg-color: #FFFFFF;

/* search color */
@navbar-search-bg-color: #8AC0CF;

/* navbar li colors*/
@middlebar-list-hover-bg-color: #FFDEBD;
@middlebar-list-border-color: #fff;

/* link colors */
@middlebar-link-bg-color: inherit;
@middlebar-link-color: inherit;
@middlebar-link-hover-color: inherit;
@middlebar-link-active-color: inherit;
@middlebar-link-focus-color: inherit;

/* Dropdown */
@navbar-dropdown-hover-bg-color: #8AC0CF;

/* navbar li colors*/
@topbar-list-bg-color: transparent;
@topbar-list-hover-bg-color: #FFDEBD;

/* link colors */
@topbar-left-link-color: #8AC0CF;
@topbar-left-link-hover-color: #FFDEBD;
@topbar-left-link-active-color: #FFDEBD;
@topbar-left-link-focus-color: #FFDEBD;

@topbar-right-link-color: #8AC0CF;
@topbar-right-link-hover-color: #FAB568;
@topbar-right-link-active-color: #FAB568;
@topbar-right-link-focus-color: #FAB568;

/* Border color */
@topbar-list-border-color: #F1B988;


/********************************************
/* BUTTON-BLOCK */
/********************************************/
@button-block-bg-color: transparent;
@button-block-link-bg-color: #8AC0CF;
@button-block-link-hover-bg-color: #C4F0FC;
@button-block-link-active-bg-color: #C4F0FC;
@button-block-link-focus-bg-color: #C4F0FC;
@button-block-title-color: #ffffff;
@button-block-text-color: #666668;

/********************************************
/* CARDBLOCK */
/********************************************/
@card-block-bg-color: #FDF3E9;
@card-block-border-color: #e4e8e8;
@card-block-title-color: #F68620;
@card-block-footer-color: #F68620;


/********************************************
/* BUTTON-BLOCK-IMG */
/********************************************/
@button-block-img-bg-color: transparent;
@button-block-img-link-bg-color: transparent;
@button-block-img-link-hover-bg-color: transparent;
@button-block-img-link-active-bg-color: transparent;
@button-block-img-link-focus-bg-color: transparent;
@button-block-img-title-color: #fff;
@button-block-img-text-color: #fff;

/********************************************
/* LIST-HORIZONTAL */
/********************************************/

@button-horizontal-color: #DB965B;
@button-horizontal-hover-color: #575757;
@button-horizontal-active-color: #575757;
@button-horizontal-focus-color: #575757;
@button-horizontal-sub-color: #F8AB6B;

/********************************************
/* BREADCRUMB */
/********************************************/

@breadcrumb-color: #666666;
@breadcrumb-hover-color: #FFDDBF;
@breadcrumb-active-color: #FFDDBF;
@breadcrumb-focus-color: #FFDDBF;

/********************************************
/* THUMBNAILS */
/********************************************/
@thumbnail-bg-color: #fff;
@thumbnail-border-color: #DFE5E5;
@thumbnail-footer-bg-color: #fff;
@thumbnail-footer-h3-color: #F59A4B;
@thumbnail-footer-p-color: inherit;

@thumbnail-fluid-img-bg-color: #ccc;
@thumbnail-fluid-footer-bg-color: #8AC0CF;
@thumbnail-fluid-footer-h3-color: #F59A4B;
@thumbnail-fluid-footer-p-color: inherit;

@thumbnail-button-border-color: transparent;

/********************************************
/* BUTTON */
/********************************************/

@button-default-bg-color: #fff;
@button-success-bg-color: #F5871E;
@button-warning-bg-color: #F6C61E;
@button-danger-bg-color: #FA9485;
@button-info-bg-color: #F5871E;
@button-primary-bg-color: #6FD4CE;

@button-default-color: #333;
@button-success-color: #fff;
@button-warning-color: #fff;
@button-danger-color: #fff;
@button-info-color: #fff;
@button-primary-color: #fff;

@button-default-border-color: #ccc;
@button-success-border-color: #F6C61E;
@button-warning-border-color: #FA9485;
@button-danger-border-color: #FA9485;
@button-info-border-color: #F6871F;
@button-primary-border-color: #6FD4CE;

@button-default-hover-bg-color: #e6e6e6;
@button-success-hover-bg-color: #e6e6e6;
@button-warning-hover-bg-color: #e6e6e6;
@button-danger-hover-bg-color: #e6e6e6;
@button-info-hover-bg-color: #e6e6e6;
@button-primary-hover-bg-color: #e6e6e6;

@button-default-hover-color: #555;
@button-success-hover-color: #555;
@button-warning-hover-color: #555;
@button-danger-hover-color: #555;
@button-info-hover-color: #555;
@button-primary-hover-color: #555;

@button-default-hover-border-color: #adadad;
@button-success-hover-border-color: #adadad;
@button-warning-hover-border-color: #adadad;
@button-danger-hover-border-color: #adadad;
@button-info-hover-border-color: #adadad;
@button-primary-hover-border-color: #adadad;

/********************************************
/* FIELD */
/********************************************/

@field-input-bg-color: #fff;
@field-input-color: #555;
@field-input-border-color: #ccc;
@field-input-select-bg-color: #8AC0CF;

/********************************************
/* ACCORDION */
/********************************************/
@accordion-bg-color: transparent;
@accordion-active-color: #575757;
@accordion-border-bottom-color: #DFE5E5;

@accordion-link-bg-color: transparent;
@accordion-link-color: #db965b;

/********************************************
/* BOX */
/********************************************/
@box-bg-color: #fff;
@box-border-color: #E4E8E8;
@box-footer-border-top-color: #E4E8E8;

@box-default-body-bg-color: #fff;
@box-default-footer-bg-color: #fff;

@box-primary-body-bg-color: #fff;
@box-primary-footer-bg-color: #F2ECEC;

/********************************************
/* CAROUSEL */
/********************************************/
@carousel-bg-color: transparent;
@carousel-border-color: transparent;

/********************************************
/* LIST-VERTICAL */
/********************************************/
@list-vertical-link-color: #DB965B;
@list-vertical-link-active-color: #575757;
@list-vertical-link-hover-color: #575757;;
@list-vertical-link-focus-color: #575757;

@list-vertical-list-sub-border-left-color: #FBC095;
@list-vertical-link-sub-color: #DB965B;
@list-vertical-link-sub-active-color: #575757;
@list-vertical-link-sub-hover-color: #575757;;
@list-vertical-link-sub-focus-color: #575757;

/********************************************
/* PILLS */
/********************************************/

@pills-bg-color: transparent;
@pills-border-bottom-color: #ccc;
@pills-list-border-color: #ccc;

@pills-link-bg-color: #FFEACE;
@pills-link-color: #E0B592;

@pills-link-active-color: inherit;
@pills-link-hover-color: inherit;
@pills-link-focus-color: inherit;

@pills-link-active-bg-color: #FEDDBD;
@pills-link-hover-bg-color: #FEDDBD;
@pills-link-focus-bg-color: #FEDDBD;

/********************************************
/* TABLE */
/********************************************/
@table-bg-color: #fff;
@table-border-color: #ddd;
@table-thead-bg-color: #FBF7F8;

/********************************************
/* THUMBNAIL-CARD */
/********************************************/
@thumbnail-card-bg-color: #fff;
@thumbnail-card-border-color: transparent;
@thumbnail-card-label-bg-color: transparent;

/********************************************
/* THUMBNAIL-PEOPLE */
/********************************************/
@thumbnail-people-bg-color: transparent;
@thumbnail-people-border-color: transparent;
@thumbnail-people-h3-color: #f59a4b;
@thumbnail-people-p-color: inherit;

/********************************************
/* THUMBNAIL-SLIDER */
/********************************************/
@thumbnail-slider-bg-color: #FDF3E9;
@thumbnail-slider-border-color: #E4E8E8;

/********************************************
/* THUMBNAIL-SCROLLER */
/********************************************/
@thumbnail-scroller-bg-color: transparent;

/********************************************
/* VISUAL */
/********************************************/
@visual-bg-color: transparent;
@visual-border-bottom: #ccc;

/********************************************
/* ADDRESS-LIST */
/********************************************/
@address-list-border-color: #ccc;