.meer {
        //font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
        border-top: 2px solid #dbefed;
        margin-top: 5px;
}
.meer a {
        //color:#686973;
        display:block;
        padding:10px 30px 10px 5px;
        //font-size:20px;
        text-decoration:none !important;
        background:rgba(0, 0, 0, 0) url("/img/arrow.png") no-repeat scroll right 14px;
        h3 {
        margin:0px;
        }
}


.meer a.open{background:url(/img/arrow.png) no-repeat right -46px;}


#card_previews {
    margin-left:-8px;
    margin-right:-8px;
    img {
        @media only screen and (max-width : @xsm) {
            width:159px !important;
            height:auto !important;
        }
    }
}
#photo {
    margin-top:20px;
}

#login_nieuwbrief {
    font-size: 12px;
    margin-top: 9px;
    width: 295px !important;
}

#pw_recovery, #registreer, #login {
    display:inline-block;
    background: #fff;
    width: 340px;
    padding: 0;
    border: 1px solid #dbefed;
    margin: 0;
    height: auto;
    font-size: 14px;
    padding: 10px;
    line-height: 22px;
    margin-bottom: 20px;
    vertical-align:top;


    label {
        font-family: "Trebuchet MS",Verdana;
        font-weight: 200;
    }
}

#body_login #pagebody h2 {
    margin: 0;
    margin-bottom: 15px;
    padding: 10px 0 0 10px;
    color: #8ac0cf !important;
    font-size: 18px;
    font-family: 'GillSansMT';
}
#login {

}
/*
#registreer {
    float:right;
    @media only screen and (max-width : (@sm - 1px)) {
        float:left;
    }
}
#login {
    float:left;
}

#pw_recovery {
    float:left !important;
}
*/

#body_login #pagebody input[type="password"], #body_login #pagebody input[type="text"] {
    border-left: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    border-right: 1px solid #b4b4b4;
    border-top: 1px solid #b4b4b4;
    padding: 8px 5px;
    color: #262626;
    font-size: 14px;
    -moz-box-shadow: inset -1px 1px 0 0 #d9d9d9;
    -webkit-box-shadow: inset -1px 1px 0 0 #d9d9d9;
    box-shadow: inset -1px 1px 0 0 #d9d9d9;
    width: 177px;
}






#body_design .extra{background-color:#ecf0f0;padding:9px 10px 12px 20px;text-align:left;line-height:20px;font-family:Verdana, Geneva, sans-serif;}
#body_design .extra span{display:block;color:#898989;font-size:12px;}

#body_design .extra .ico-list{
	padding-top:15px;
	position:relative;
}
#body_design .extra .ico-list .tooltip{
	width:310px;
}
#body_design .extra .ico-list .tooltip span{
	padding: 0 13px;
	background:#d72a31;
	height:34px;
	line-height:34px;
	color:#fff !important;
	font-size:12px;
	display:inline-block;
}
#body_design .extra .ico-list i{
	background:url(/img/card-detail/ico-up.png) no-repeat 0 0;
	position:absolute;
	top:49px;
	width:16px;
	height:15px;
}
#body_design .extra .ico-list a{
	margin-right:10px;
}


#samen-form {
    background: #ebf4f6;
    padding: 32px 22px 0;
    h3 {
        color: #7dadba;
        font-size: 22px;
    }
}

.under-title {
    border-bottom: 1px solid #f0f2f2;
}

.usps {
    text-transform: uppercase;
    color: #999;
    font-size: 9px;
    text-align: right;
}

#pagebody {
    margin-top:10px;

}


@import url(http://fonts.googleapis.com/css?family=Pompiere:400normal|Open+Sans:400normal|Rouge+Script|The+Girl+Next+Door|Shadows+Into+Light|Neucha);
@font-face {
    font-family: 'GillSansMT';
    src: url('/css/fonts/gillsansmt.eot');
    src: url('/css/fonts/gillsansmt.eot') format('embedded-opentype'),
         url('/css/fonts/gillsansmt.woff') format('woff'),
         url('/css/fonts/gillsansmt.ttf') format('truetype'),
         url('/css/fonts/gillsansmt.svg#GillSansMT') format('svg');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}
@font-face {
  font-family: 'Coming Soon';
  font-style: normal;
  font-weight: 400;
  src: local('Coming Soon'), local('ComingSoon'), url(http://themes.googleusercontent.com/static/fonts/comingsoon/v4/myblyOycMnPMGjfPG-DzP4bN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Dawning of a New Day';
  font-style: normal;
  font-weight: 400;
  src: local('Dawning of a New Day'), local('DawningofaNewDay'), url(http://themes.googleusercontent.com/static/fonts/dawningofanewday/v5/JiDsRhiKZt8uz3NJ5xA06sI8uESXD0Pyby-WfK8NSPc.woff) format('woff');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(http://themes.googleusercontent.com/static/fonts/josefinsans/v5/xgzbb53t8j-Mo-vYa23n5nhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Sans Bold'), local('JosefinSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/josefinsans/v5/C6HYlRF50SGJq1XyXj04z3l4twXkwp3_u9ZoePkT564.woff) format('woff');
}
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(http://themes.googleusercontent.com/static/fonts/amaticsc/v4/DPPfSFKxRTXvae2bKDzp5D8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 700;
  src: local('Amatic SC Bold'), local('AmaticSC-Bold'), url(http://themes.googleusercontent.com/static/fonts/amaticsc/v4/IDnkRTPGcrSVo50UyYNK73hCUOGz7vYGh680lGh-uXM.woff) format('woff');
}


body {
    &.geboortekaartjes {
                h1 {
                    color: #919191;
                    font-size: 30px;
                    font-family: 'Shadows Into Light', cursive !important;
                }
                h3 {
                    font-family: "Shadows Into Light",cursive;
                    color: #65b9ae;
                }
                h2 {
                    font-size:20px;
                    color:#919191;
                    font-family: 'Shadows Into Light', cursive !important;
                }
                h4 {
                    font-size:16px;
                    font-family: 'Shadows Into Light', cursive;
                    color:#919191;
                }
                .thumbnail-button-button {
                    color: #65b9ae;
                    font-size:15px;
                }
                p {
                    a {
                        color: #65b9ae;
                        text-decoration:underline;
                        &:hover {
                            text-decoration:none;
                        }
                    }
                }
                .accordion-button {
                    span {
                        color: #686973;
                        text-transform: uppercase;
                        font-family: "Shadows Into Light",cursive;
                        font-size: 20px;
                    }
                }
                .accordion-body {
                    a {
                        color: #65b9ae;
                    }
                }
            .topbar {
                a, i, span {
                    color:#65b9ae !important;
                }
                #headerbasket {
                    background: #65b9ae !important;
                    a, i, span {
                        color:#fff !important;
                    }
                }
            }
            #topbanner {
                h2 {
                    font-family: 'Shadows Into Light', cursive;
                    font-size:25px;
                    margin: 0px;
                    color:#686973;

                    span {
                      color: #65b9ae;
                    }
                }
            }
    }
    &.trouwkaarten {
            h1 {
                color: #df8070;
                font-size: 32px;
                font-family: 'Josefin Sans';
            }
            h3 {
                line-height: 24px;
                font-size: 23px;
                font-family: 'Josefin Sans';
            }
            h2 {
                font-size:32px;
                color:#df8070;
                font-family: 'Rouge Script';
            }
            .thumbnail-button-button {
                color: #262626;
                font-family: 'Josefin Sans';
                font-size: 18px;
            }

            p {
                    a {
                        color: #f9bdb2;
                        text-decoration:underline;
                        &:hover {
                            text-decoration:none;
                        }
                    }
            }
            .accordion-button {
                    span {
                        color: #df8070;
                        font-family: 'Rouge Script';
                        font-size: 36px;
                    }
            }
            .topbar {
                a, i, span {
                    color:#f9bdb2 !important;
                }
                #headerbasket {
                    background: #f9bdb2  !important;
                    a, i, span {
                        color:#fff !important;
                    }
                }
            }
            #topbanner {
                h2 {
                    font-size: 40px;
                    font-family: 'Rouge Script';
                    color: #262626;
                    margin-bottom: 10px;

                    span {
                      color: #f0848d;
                    }
                }
            }
    }
    &.uitnodiging-maken {
            h1 {
                color: #808385;
                font-size: 38px;
                font-family: 'Amatic SC';
            }
            h3 {
                font-family: 'The Girl Next Door', cursive;
            }
            #topbanner {
                h2 {
                    font-size: 30px;
                    font-family:  'The Girl Next Door', cursive;
                    color: #777777;
                    margin-bottom: 10px;

                    span {
                      color: #87b1cd;
                    }
                }
            }
            .accordion-button {
                    span {
                        color: #87b1cd;
                        font-family: 'The Girl Next Door';
                        font-size: 23px;
                    }
            }
            p {
                    a {
                        color: #87b0cc;
                        text-decoration:underline;
                        &:hover {
                            text-decoration:none;
                        }
                    }
            }
            .thumbnail-button-button {
                color: #000;
                font-size: 15px;
            }
            h2 {
                font-size:21px;
                color:#87b1cd;
                font-family: 'The Girl Next Door';
            }
            .topbar {
                a, i, span {
                    color:#87b0cc !important;
                }
                #headerbasket {
                    background: #87b0cc  !important;
                    a, i, span {
                        color:#fff !important;
                    }
                }
            }
    }
    &.rouwkaarten {
        h1 {
                color: #b3b09f;
                font-size: 26px;
                font-family: 'Open Sans';
        }
            h2 {
                font-size:30px;
                color:#404040;
                font-family: 'Amatic SC';
            }
            .thumbnail-button-button {
                color: #6c6c6c;
                font-size: 15px;
                font-family: "Trebuchet MS",Verdana;
            }
            p {
                    a {
                        color: #b7ab9c;
                        text-decoration:underline;
                        &:hover {
                            text-decoration:none;
                        }
                    }
            }
            .accordion-button {
                    span {
                        color: #404040;
                        font-family:  'Amatic SC';
                        font-size: 30px;
                    }
            }
            .accordion-body {
                    a {
                        color: #b7ab9c;
                    }
            }
            #topbanner {
                h2 {
                    font-family: 'Amatic SC';
                    font-size: 50px;
                    color: #404040;
                    margin-top:5px;
                    margin-bottom: 10px;

                    span {
                      color: #87b1cd;
                    }
                }
            }
            .topbar {
                a, i, span {
                    color:#c8c5b5 !important ;
                }
                #headerbasket {
                    background: #c8c5b5  !important;
                    a, i, span {
                        color:#fff !important;
                    }
                }
            }
    }
    &.wenskaarten {
            h1 {
                color: #4ca986;
                font-size: 32px;
                font-family: 'Dawning of a New Day';
            }
            #topbanner {
                h2 {
                    font-family:  'Dawning of a New Day';
                    font-size: 42px;
                    color: #fff;
                    margin-top:5px;
                    margin-bottom: 10px;

                    span {
                      color: #87b1cd;
                    }
                }
                p {
                    color:#fff;
                }
            }
                .accordion-button {
                    span {
                        color: #e2aa26;
                        font-family:  'Shadows Into Light';
                        font-size: 24px;
                    }
                }
                p {
                    a {
                        color: #e2aa26;
                        text-decoration:underline;
                        &:hover {
                            text-decoration:none;
                        }
                    }
                }
                .thumbnail-button-button {
                    color: #404040;
                    font-size: 15px;
                    font-family: "Trebuchet MS",Verdana;
                }
                h2 {
                    font-size:24px;
                    color:#e2aa26;
                    font-family: 'Shadows Into Light';
                }
                .topbar {
                a, i, span {
                    color:#e2aa26 !important;
                }
                #headerbasket {
                    background: #e2aa26  !important;
                    a, i, span {
                        color:#fff !important;
                    }
                }
            }
    }
    &.subpage {
        #service {
            span {
                color: #ed1c24;
                font-family: Dawning of a New Day;
                font-size: 28px;
            }
        }

        .item {
            margin-top:10px;
            max-width:162px;
            margin-left:auto;
            margin-right:auto;
            h2 {
                margin:0px;
                padding: 0 0 0 5px;
                font-family: 'GillSansMT';
                font-size:17px;
                color: #fff !important;
                background-repeat: no-repeat;
                background-image: url(/img/bg-cat.png);


            }
           border:0px;
           ul {

                    border: 1px dashed #dbdbdb;
                    border-top: none;
                    padding: 10px 12px 13px;
                    min-height: 190px;
                li {
                    padding-bottom:5px;
                }
           }
            &.gebo h2 {
                background-position: 0 0;
            }
            &.trou h2 {
                background-position:0 -38px;
            }
            &.uitn h2 {
                background-position:0 -76px;
            }
            &.rouw h2 {
                background-position:0 -116px;
            }
            &.wens h2 {
                background-position:0 -154px;
            }
        }

    }

    #card_previews > div {
        display: inline;
        a {
            img {
                height: auto;
                width: auto;
            }
        }
    }
}

#header .topwarning {
    display: none;
}

#header.warningshow .topwarning {
    display: block;
    position: fixed;
    top: 0;
    line-height: 30px;
    width: 100%;
    min-height: 30px;
    text-align: center;
    padding-right: 30px;
    background: #ddd;
    border-bottom: 1px solid #aaa;
}

#header.warningshow #topbar {
    margin-top: 32px;
}

#header.warningshow .topwarning a {
    display: inline-block;
}

#header.warningshow .topwarning .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    cursor: pointer;
    transform: rotate(45deg);
    font-size: 30px;
}

#header.warningshow #visual-content #visual-content {
    margin-top: 148px;
}

@media only screen and (min-width: 768px) {
    #header.warningshow .navbar {
        top: 30px;
    }
}
@media only screen and (max-width: 679px) {
    #header.warningshow #topbar {
        margin-top: 0;
    }
}
@media only screen and (max-width: 767px) {
    #header.warningshow .topwarning {
         top: 50px;
    }

    #header.warningshow .middlebar {
        height: 0;
    }

    #header.warningshow #visual-content {
        margin-top: 80px;
    }
}