@mid:           ~"all and (max-width: 820px)";

#body_design #envelope {
display:none;
}

#body_design .accordion {
    border: none;
    margin: 0px 10px 0px 10px;
    border-bottom: solid 1px #dcdbd6 !important;
    box-sizing: border-box;
    border-left: none;
    border-right: none;
}

#body_design .accordion.first {
    border-top: solid 1px #dcdbd6;
    margin-top: 10px;
}

#body_design .accordion-button {
    width: 100%;
    text-transform: uppercase;
    position: relative;
    padding: 9px 0px 7px 0px;
    cursor: pointer;
    font-size: 14px;
    border: none;
    color: #403c3d;
}

#body_design .accordion-button i {
    display: none;
}

#body_design .accordion-button:after {
    content: '+';
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-size: 20px;
    color: #403c3d;
    font-weight: normal;
    margin-top: -8px;
    right: 5px;
    position: absolute;
    top: 50%;
}

#body_design .accordion-button.active:after {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    content: '-';
}

span.proefDrukPrijs {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding-top: 15px;
}

#body_design {

    #sidebar {
        width:0px;
        #leftnav {
            display:none;
        }
    }

    #pagebody {
        width:100%;
    }

    div.leftCol {
        width:68%;
        display:inline-block;
        vertical-align:top;
        position:relative;
        #voor_preview {
            img {
                @media only screen and (max-width : @sm) {
                    max-width:100% !important;
                    margin-left:auto;
                    margin-right:auto;
                }

                &:first-child {
                                max-width:39%;

                }
                                max-width:60%;

                &:hover {
                    opacity:0.6;
                    transition: all 0.3s ease-out;
                    cursor:pointer;
                }
            }
        }
        #prevWrap {
            position:relative;
            cursor:pointer;
            overflow:hidden;
            min-height:360px;
            @media @mid {
              min-height:260px;
            }
            #voor_preview, #binnen_preview {
                width:100%;
                text-align:center;
                img {
                    max-height:350px;
                    @media @mid {
                        max-height:250px;
                    }
                    width:auto;
                    height:auto;
                }
            }
            #voor_preview_envelop {

                width:100%;
                text-align:center;
                img {
                    width:50%;
                    height:auto;
                    position:relative;
                    z-index:5;
                }
            }
        }

        .select_preview {
            display:none;
            width:100%;
            text-align:center;
            span {
                vertical-align:top;
                display:inline-block;
                margin-right:25px;
                @media @mid {
                    margin-right:5px;
                }
                &:last-child {
                    img {
                        max-width:180px;
                        max-height:160px;
                    }
                }
            }
            img {
                max-width:120px;
                max-height:130px;
                height:auto;
                width:auto;
                cursor:pointer;
                &:hover {
                    opacity:0.7;
                }
            }
        }

        span.envview {
            display:inline-block;
            width:115px;
            position:relative;
            height:99px;
            img {
                position:absolute;
                top:0px;
                left:0px;
                z-index:1;
            }

            span.env {
                display:inline-block;
                width:75px;
                position:absolute;
                top:0px;
                right:-45px;
                height:75px;
                background:url(/img/envtransklein.png) no-repeat;
                background-size:55px 55px;
                background-color:#eeeded;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                transform: rotate(14deg) ;
                -webkit-transform: rotate(14deg) ;
                -moz-transform: rotate(14deg) ;
                -o-transform: rotate(14deg) ;
                -ms-transform: rotate(14deg) ;
            }
        }
        .envgroot {
            display:inline-block;
            width:200px;
            position:absolute;
            top:25px;
            right:75px;
            height:200px;
            background:url(/img/envtransklein.png) no-repeat;
            background-size:200px 200px;
            background-color:#eeeded;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            transform: rotate(14deg) ;
            -webkit-transform: rotate(14deg) ;
            -moz-transform: rotate(14deg) ;
            -o-transform: rotate(14deg) ;
            -ms-transform: rotate(14deg) ;
        }
    }

    #choose_preview {
        i {
            display: none;
        }
                height:45px;
                width:260px;;
                display:block;
                color: #fff!important;
                margin:0 auto;
                //font-family:@mainFont;
                box-sizing:border-box;
                background: url("/img/bg_step_forward.png") 100% 0 no-repeat!important;
                border:none;
                text-align:left;
                margin-top:15px;
                margin-bottom:5px;
                font-size:21px;
                padding-top:8px;
                padding-left:20px;
                border-radius: 0;
                &:hover{
                    background-position: 100% -52px !important;
                    padding-left: 20px;
                    padding-top: 8px;
                }
                &:active{
                    background-position: 100% -104px !important;
                }

            }

            #choose_preview2 {
                width:300px;
                font-family:@mainFont;
                height:56px;
                box-sizing:border-box;
                background:url(/img/bgmaken.png);
                border:none;
                display:block;
                margin:0 auto;
                margin-top:15px;
                margin-bottom:5px;
                font-size:22px;
                padding-top:4px;
            }

    div.rightCol {
        width:32%;
        display:inline-block;
        vertical-align:top;
        float:right;
        margin-bottom:10px;
        a.meerPrijsLink {
            display:block;
            float:right;
            color:#6e7277;
        }
        div.env {
            clear:both;
        }

        div.extra {

          padding-left:35px;
        }

        div.details {
            background:#f8f9f9;
            box-sizing:border-box;
            padding:15px 25px 20px 25px;

            .proefPrijs {
                color:#96989B;
                display:none;
                width:80px;
                font-size:14px;
                line-height:20px;
                margin-right:15px;
                margin-top:20px;
            }

            .tags {
                margin-bottom:20px;
            }

            .tags, .designer, .collectie, .prijsTab {
                font-size:14px;
                color:#96989B;
                span {
                    text-transform:uppercase;
                }
            }

            div.tags {
                padding-left:150px;
                position:relative;

                span {
                    position:absolute;
                    top:0px;
                    left:0px;
                }
            }

            div span {
                display:inline-block;
                width:150px;
                float:left;
            }
        }

        h1 {
            margin-bottom:20px;
            font-family:@mainFont;
            line-height:38px;
        }
    }
    table.prijsOf {
        .priceTd span {
            display:inline-block;
            width:auto;
            float:none;
            vertical-align:top;
            text-transform:lowercase !important;
        }
        td.sizeTd {
            padding-right:25px;
        }
        td.priceInfoTd {
            position:relative;
            width:25px;
            &:before {
                font-family:@iconFont;
                content:'k';
                cursor:pointer;
                padding-left:5px;
                font-size:16px;
            }
            &:hover {
                div.priceHover {
                    display:block;
                }
            }
            div.priceHover {
                display:none;
                z-index:500;
                padding:15px;
                background:#fff;
                position:absolute;
                top:15px;
                right:20px;
                width:270px;
                -webkit-box-shadow: 0 0 5px 0 #575757;
                box-shadow: 0 0 5px 0 #575757;
                table {
                    td.priceHoverName {
                        width:220px;
                    }
                    td.priceHoverPrice {
                        width:150px;
                        &:after {
                            content:' p/st';
                            vertical-align:top;
                        }
                    }
                }
            }
        }
    }

    a.meerPrijsLink {
        display: block;
        float: right;
        color: #6e7277;
    }

    div.box-body{
        background: #f8f9f9;
        box-sizing: border-box;
        padding: 15px 25px 20px 25px;
        border-radius: 0px;
    }
    div.box-primary {
        border-radius: 0px;
        border: none;
    }
    div.box-footer {
        padding:0;
    }

    /* tijdelijke oplossing */
    div.env {
    display:none;
    }

    a.save_user_design {
        float:none !important;
        display:block;
        margin-left:auto;
        margin-right:auto;
        letter-spacing:0.5px;
        text-transform:lowercase !important;
        text-align:center;
        font-size:14px;
        margin-top:5px;
        &:hover {
        text-decoration:none;
        }
        &:before {
            display:none;
            content:'u';
            font-size:24px;
            color:#f08288;
            padding-right:7px;
            vertical-align:middle;
            font-family:@iconFont;
        }

        &.save_user_design_added {
            letter-spacing:0.5px;
            &:before {
                content:'t';
                font-size:24px;
                padding-right:7px;
                vertical-align:middle;
                font-family:@iconFont;
            }
        }
    }

    #knav {
        width:100%;
        height:250px;
        position:relative;
        overflow:hidden;
        background: #f8f9f9;
        border-top: 3px solid #f0f2f2;
        padding-top:35px;
        margin-top:25px;
        white-space: nowrap;
    }

    .cardrail {
        width:100%;
        height:250px;
        position:relative;
        overflow:hidden;
        background: #f8f9f9;
        border-top: 3px solid #f0f2f2;
        padding-top:35px;
        margin-top:25px;
        white-space: nowrap;

        #card_previews_horizontal {
            width:auto;
            height:250px;
            overflow:hidden;
            position: relative;
            -webkit-mask-image: -webkit-linear-gradient( left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100% );
            mask: url(design_mask.svg#mask);
        }

        #inner {
            display:block;
            a {
                width:140px;
                display:inline-block;
                vertical-align:top;
                margin-right:45px;
                img {
                    &:hover {
                        opacity:0.6;
                        transition: all 0.3s ease-out;
                    }
                }

            }
        }

        #prev_page {
            background: #f8f9f9 url("/img/bg_next_prev.png") no-repeat!important;
            background-position: 4px 100px!important;
            width: 41px;
            height: 250px!important;
            position:absolute;
            top:0px;
            cursor:pointer;
            left:7px;
            font-size:28px;
            color:#2c8590;

        }

        #next_page {
            background: #f8f9f9 url("/img/bg_next_prev.png") no-repeat!important;
            background-position: -55px 100px!important;
            width: 41px;
            height: 250px!important;
            position:absolute;
            top: 0px;
            cursor:pointer;
            font-size:28px;
            right:7px;
            color:#2c8590;

        }
    }
    .accordion-body {
        padding-bottom: 15px;
        font-size: 12px;
    }
}

div.filCTAwrp {
  display: none;
}
@media all and (max-width: 820px) {
  div.filCTAwrp {
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: block;
    z-index: 10000;
  }
  div.filCTAwrp.active a.filCTA {
    display: none;
  }
  div.filCTAwrp.active div.filRes {
    background: #45adba;
    color: #fff;
    padding: 7px 15px 5px 15px;
    min-height: 40px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    display: block;
  }
  div.filCTAwrp div.filRes {
    display: none;
  }
  div.filCTAwrp a.filCTA {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px 15px 5px 15px;
    color: #fff;
    background: #4ca18d;
    float: right;
  }
  div.filCTAwrp a.filCTA:after {
    content: 'Filter';
  }
  div.filCTAwrp a.filCTA:before {
    font-family: 'kcicons';
    content: 'v';
    padding-right: 5px;
  }
  .mobFilter {
    overflow-y: auto;
    background: #fff;
    padding: 25px;
    display: none;
  }
  .mobFilter.active {
    position: fixed;
    display: block;
    left: 0px;
    top: 0px;
    bottom: 40px;
    right: 0px;
    z-index: 10000;
  }
  .mobFilter .envmenu {
    display: none;
  }
  .mobFilter h3.filtertop {
    display: none;
  }
  .mobFilter #filter_menu {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media @mid {
    #body_design {
        div.leftCol {
            width:100%;
        }

        a.mobLogo {
            display:none;
        }

        div.rightCol {
            width:100%;
            margin-top:35px;
            float:none;
        }

        span.proefPrijs {
            width:auto !important;
            margin-top:3px !important;
        }
        div.description {
            padding-top:25px;
        }
        .desUsp a {
        display:block;
        width:100%;
        }
        div.prijsTab>span {
        display:block !important;
        float:none !important;
        }

        table.prijsOf {
            width:100%;
        }

        .envgroot {
            display:inline-block;
            width:100px !important;
            position:absolute;
            top:25px;
            right:25px !important;
            height:100px !important;
            background:url(/img/envtransklein.png) no-repeat;
            background-size:100px 100px !important;
            background-color:#eeeded;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            transform: rotate(14deg) ;
            -webkit-transform: rotate(14deg) ;
            -moz-transform: rotate(14deg) ;
            -o-transform: rotate(14deg) ;
            -ms-transform: rotate(14deg) ;
        }
    }
}

#body_design {
    .top-title-block {
        background: none !important;
        line-height: 45px;
        margin-top: 10px;
        padding: 0 0 10px 0;
        height: auto;
    }
}