li.tag-li input{display:none;}
li.tag-li label{}
li.tag-li label span{background:#e4e4e4;display:inline-block !important;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;height:12px;width:12px;vertical-align:middle;margin:-3px 4px 0 0;}
li.tag-li label:hover span{background:#64b8ae;}



div#filter_menu .kleur ul{overflow:hidden;padding-right:25px;}
div#filter_menu .kleur ul li{float:left;width:18px;margin: 0 5px 0px 0 !important;}

#filter_menu {
    label {
    color:#919191;
    }
}



.kleur ul li input{display:none;}
.kleur ul li em{display:none;}
.kleur ul li label{display:block;height:18px;width:18px;font-size:0 !important;}
.kleur ul li label .custom_checkbox{display:block !important;height:18px !important;width:18px !important;background:none !important;margin:0;}
#filter_menu ul li input[type="checkbox"]:checked + label span.custom_checkbox{background:#e4e4e4 url("/img/ftcheck.png") no-repeat scroll center center / 12px 12px;}
#tagli-geel label{background:#fff100 !important;}
#tagli-goud label{background:#d6b571 !important;}
#tagli-oranje label{background:#f8712d !important;}
#tagli-wit label{background:#fff url(/img/colorful.png) no-repeat 0 -47px !important;}
#tagli-rood label{background:#f12f2b !important;}
#tagli-kleurrijk label{background:url(/img/colorful.png) no-repeat 0 0 !important;}
#tagli-blauw label{background:#009ad4 !important;}
#tagli-roze label{background:#f22c87 !important;}
#tagli-grijs label{background:#c9cfd1 !important;}
#tagli-groen label{background:#009c47 !important;}
#tagli-paars label{background:#87337c !important;}
#tagli-zwart label{background:#000 !important;}
#tagli-bruin label{background:#714427 !important;}

#filter_menu ul li.kleur label:hover .custom_checkbox,

#filter_menu ul .kleur ul li label:hover .custom_checkbox,
#filter_menu ul .kleur ul li input[type="checkbox"]:checked + label .custom_checkbox{background:url(/img/colorful.png) no-repeat 0 -22px !important;height:18px !important;width:18px !important;}