
#footer {
    padding-top:20px;
}

.footer1 {
    padding-bottom:20px;
    min-height:140px;
    padding-left:10px;
    padding-right:10px;
    a {
        line-height: 24px;
        color: #262626;
        font-size: 13px;
        font-family: "Open Sans",Verdana;
        text-decoration: none !important;
        &:hover {
            text-decoration: underline !important;
        }
    }
    .mobile-only{
        @media only screen and (max-width : @xsm) {
            display:block;

        }
        span {
         font-family: 'Dawning of a New Day';
         font-size:39px;
         line-height:65px;

        }
        p {
            font-size:17px;
        }
    }


}


.footer2 {


    background: #e8f2f5;
    text-align: center;
    .copyright {
        display: inline-block;
        line-height: 18px;
        margin-top: 14px;
        margin-bottom:14px;
        color: #8ac0cf;
        font-size: 12px;
        font-family: "Open Sans",Verdana;
    }
    @media only screen and (max-width:@md) {
    padding-bottom:40px;
    }
    .revTitle {
        font-family: "Open Sans",Verdana;
        font-size: 12px;
        margin: 0 0 10px 0 !important;
    }
    a {

        background: url(/img/line-topmenu.png) right top no-repeat;
        padding-left:6px;
        padding-right:8px;
        color:#8ac0cf;
        &:hover {
            text-decoration:underline;
            color:#8ac0cf;
        }
    }
    .mobile-only{
        @media only screen and (max-width : @xsm) {
            display:inline;
        }
    }
    .rating {
        padding-right:7px;
        color:grey;
        //background: url(/img/line-topmenu.png) right top no-repeat;

    }







}

#social-block {
    width:145px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    .label {
        display: block;
        background: url('/img/social-ico.png') no-repeat;
        height: 39px;
    }
    .social {
        height:38px;
        margin:8px 0 0;
        padding:0;
        li {
            list-style:none;
            float:left;
            margin:0;
            padding:0;
        }
    }
}

#social-block .social a{background:url(/img/social-ico.png) no-repeat;float:left;width:38px;height:38px;margin-right:9px;text-indent:-9999px}
#social-block .social .fb a{background-position:0 -47px}
#social-block .social .fb a:hover{background-position:0 -95px}
#social-block .social .pt a{background-position:-47px -47px}
#social-block .social .pt a:hover{background-position:-47px -95px}
#social-block .social .tt a{background-position:-93px -47px}
#social-block .social .tt a:hover{background-position:-93px -95px}