/* LIST-VERTICAL */ 
.list {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    .list-toggle .list-toggle-text{
        display: inline-block;
        vertical-align: middle;
        color: #555;
        font-weight: 600;
        padding-left: 5px;
        padding-right: 5px;
        .icon {
            display: inline-block;
            vertical-align: middle;
            font-size: 0.5em!important;
        }
    }
}

.list-vertical {
    li.active > a {
        color: @list-vertical-link-active-color;
    }
    li {
        a {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            padding: 5px;
            color: #404040;
            &:hover {
                text-decoration: underline !important;
            }
            &:active {
                color: @list-vertical-link-active-color;
            }
            &:focus {
                color: @list-vertical-link-focus-color;
            }
 
        }
        ul {
            margin: 0;
            border-left: 2px solid @list-vertical-list-sub-border-left-color;
            padding-left: 15px;
            margin-left: 5px;
            li {
                a {
                    color: @list-vertical-link-sub-color;
                    &:hover {
                        color: @list-vertical-link-sub-hover-color;
                    }
                    &:active {
                        color: @list-vertical-link-sub-active-color;
                    }
                    &:focus {
                        color: @list-vertical-link-sub-focus-color;
                    }
                }
            }

        }
    }
    > .list-toggle {
        a {
            //font-weight:bold !important;
        }
    }
}
/* END LIST-VERTICAL */ 

.list-decimal {
    list-style-type: decimal;
}