/* Define Size */
@xs: 320px;
@xsm: 480px;
@sm: 768px;
@md: 992px;
@lg: 1200px;

@mid:           ~"all and (max-width: 820px)";

/*@max-pixels: 1199px;
@mid-pixels: 820px;
@min-pixels: 679px;
@xmin-pixels: 450px;
@extra-pixels: 1000px;

 Define mediaqueries here 
@max:           ~"(max-width: 1199px)";
@mid:           ~"(max-width: 820px)";
@min:           ~"(max-width:@min-pixels)";
@xmin:			~"(max-width:@xmin-pixels)";
@extra:			~"all and (max-width:@extra-pixels)";*/