@media only screen and (max-width : (@sm - 1px)) {

    #visual-content {
        margin-top: 50px;
    }

    .navbar {
        position: fixed;
        width: 100%;
        top: 0px;
        left: 0px;
        height: 50px;
        z-index: 9999;
        background-color: @navbar-bg-color;
        .container {
            overflow: visible;
        }
        .navbar-hamburger {
            position: relative;
            display: block;
            cursor: pointer;
            float: left;
            height: 50px;
            background-color: transparent;
            background-image: none;
            border: 1px solid transparent;
            border-color: transparent;
            z-index: 5;

            &:hover,&:focus, &:active {
                background-color: #8AC0CF;
                outline:0;
                .icon-bar {
                    background-color: #FFF;
                }
            }

        }
        .navbar-hamburger .icon-bar {
            border-radius: 5px;
            display: block;
            margin: 4px 0px;
            width: 28px;
            height: 5px;
            background-color: #64686D;
        }
        .collapse {
            position: fixed;
            display: none;
            background: #8AC0CF;
            width: 80%;
            overflow-y: scroll;
            top: 50px;
            left: 0px;
            bottom: 0px;
            box-shadow-right: 4px 4px 4px black;

        }
        .topbar {
            background-color: @navbar-bg-color;
            height:50px;
            .topbar-menu-left {
                display: none;
                li {
                    padding: 0px 5px 0px 5px;
                    margin: 10px 0px 10px 0px;
                }
            }
            .topbar-menu-right, .topbar-menu-left {
                position: absolute;
                padding: 0px 0px 0px 0px;
                height: 100%;
                top: 0px;
                right: 0px;
                > ul {
                    height: 100%;
                    margin-bottom:0px;
                    > li {
                        display: inline-block;
                        vertical-align: middle;
                        border: 0px;
                        height:100%;
                        a {
                            display: block;
                            height: 100%;
                            color: @topbar-right-link-color;
                            padding: 14px 0px 10px 0px;
                            font-size: 12px;
                            height: 100%;
                            border: none;
                            margin: 0px 0px 0px 0px;
                            &:hover {
                                color: @topbar-right-link-hover-color;
                            }
                            &:active {
                                color: @topbar-right-link-active-color;
                            }
                            &:focus {
                                color: @topbar-right-link-focus-color;
                            }
                            > span {
                                display: none;
                            }
                            i {
                                display: inline-block;
                                vertical-align: middle;
                                font-size: 16px;
                            }
                        }
                    }
                    #headerbasket {
                        background-color:#8AC0CF;
                        color:#FFF !important;
                        padding-right: 5px;

                    }
                }

            }
            .dropdown {
                position: relative;

                &:hover {
                    border-left: 1px solid #E0E0E0;
                    border-right: 1px solid #E0E0E0;
                    background-color: #fff;
                    z-index: 999;
                    > ul {
                        visibility:visible;
                        opacity:1;
                    }
                    > a {
                        background-color: #fff;
                    }
                }
                > a {
                    position: relative;
                    display: block;
                    background-color: transparent;
                    z-index: 33;
                }
                > ul {
                    position: fixed;
                    visibility:hidden;
                    width: 100%;
                    opacity:1;
                    right: 0px;
                    left: 0px;
                    margin:-1px 0px 0px 0px;
                    background-color: #fff;
                    border-bottom: 1px solid #E0E0E0;
                    border-top:1px solid #E0E0E0;
                    > li {
                        display: block;
                        position: relative;
                        &:hover {
                            background-color: #6e7277;
                            a {
                                color: #fff;
                            }
                        }
                        > a {
                            display: block;
                            padding: 5px 10px 5px 10px;
                            text-align: left;
                            color: #6e7277;
                            font-size:14px;
                        }
                    }
                }
            }
        }
        .middlebar {
            background-color: transparent;
            height: 36px;
            .middlebar-menu-left, ul.middlebar-menu-right {
                padding: 15px 15px 0 15px;
                margin-bottom:50px;
                a {
                    color: #FFF;
                    display: block;
                    padding: 12px 0px 12px 10px;
                    margin-right: 0px;
                    font-size: 16px!important;
                    font-family:"Trebuchet MS",Verdana;
                    &:hover, &:focus, &:active {
                        border-radius: 5px;
                        background-color: #97CCCC;
                        text-decoration:none;
                    }
                }
                li {
                    border-bottom: 1px solid #E0E0E0;
                    margin: 0;
                }

                .dropdown-content {
                    a {
                        padding:5px 0px 5px 25px;
                        color:#E0E0E0;
                        margin-right: 0px;
                        &.list-toggle-text {
                            font-style: italic;
                            color:#959595;
                            font-size:14px !important;;
                        }

                    }
                    li {
                        border: 0px;
                        margin-bottom: 0px;
                        margin: 0px;
                        padding:0px;
                    }

                }


            }

            .navbar-search {
                display: none;
            }
            .navbar-search-field {
                position: fixed;
                display: block!important;
                background-color: @navbar-search-bg-color;
                top: 50px;
                border: 0px solid black;
                width: 100%;
                z-index: 89;
                overflow: hidden;
                padding: 5px 5px 5px 5px;
                .search-button-field {
                    float: right;
                    display: block;
                    border: none;
                    height: 30px;
                    width: auto;
                    padding: 0px 10px 0px 15px;
                    cursor: pointer;
                    background-color: transparent;
                }
                .search-input-field {
                    overflow: hidden;
                    input[type="text"] {
                        display: block;
                        border: none;
                        width: 100%;
                        height: 30px;
                        padding: 0px 10px 0px 10px;
                    }

                }
            }
        }
        .logo {
            display: none;

        }
        ul.middlebar-menu-right {
            li {
                a {
                    font-size: 12px;
                }
            }
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : @sm) {

    #visual-content {
        margin-top: 118px;
    }

    /* margin top visualcon */

    .navbar {
        position: absolute;
        width: 100%;
        top: 0px;
        left: 0px;
        z-index: 9999;
        background-color: #fff;
        height: 100px;

        .container {
            overflow: visible;
        }
        .navbar-hamburger {
            display: none;
        }
        .collapse {
            left: auto!important;
            display: block!important;
        }
        .topbar {
            border-bottom:1px solid #efefef;
            height: 36px;
            position: fixed;
            background:#fff;
            width: 100%;
            z-index: 9999;
            padding: 0px;

            .topbar-menu-left {
                position: absolute;
                a {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0px 5px 0px 5px;
                    margin: 0px;
                    padding: 5px 0px;
                    height: 100%;
                    font-size: 12px;
                    height: 100%;
                    color: black;
                    &:hover {
                        color: @topbar-left-link-hover-color;
                    }
                    &:active {
                        color: @topbar-left-link-active-color;
                    }
                    &:focus {
                        color: @topbar-left-link-focus-color;
                    }
                }

            }
            .topbar-menu-right {
                position: absolute;
                padding: 0px;
                height: 100%;
                right: 0px;
                > ul {
                    height: 100%;
                    margin: 0px;
                    > li {
                        height: 100%;
                        position: relative;
                        display: inline-block;
                        vertical-align: middle;
                        padding: 4px 2px;
                        border: 1px solid transparent;

                        > a {
                            &:first-child {
                                padding-left: 0px;
                            }
                            display: block;
                            font-size: 12px;
                            padding: 0px 5px 0px 5px;
                            margin: 3px 0px 0px 0px;
                            height: 100%;
                            color: @topbar-right-link-color;
                            border: 1px solid transparent;
                            &:hover {
                                text-decoration:underline;
                            }
                            &:active {
                                color: @topbar-right-link-active-color;
                            }
                            &:focus {
                                color: @topbar-right-link-focus-color;
                            }
                            > i {
                                display: inline-block;
                                vertical-align: middle;
                                padding-right: 5px;
                            }
                        }
                        .icon-chevron-down {
                            padding-left: 0px;
                            padding-right: 0px
                        }
                    }
                    #headerbasket {
                        background-color:#8AC0CF;
                        color:#FFF !important;
                        padding-left: 10px;
                        padding-right: 0;
                    }
                }

            }
            .dropdown {
                &:hover {
                    border-left: 1px solid #E0E0E0;
                    border-right: 1px solid #E0E0E0;
                    z-index: 999;
                    > ul {
                        visibility:visible;
                        opacity:1;
                    }
                }
                > a {
                    position: relative;
                    display: block;
                    background-color: #fff;
                    z-index: 33;
                }
                > ul {
                    position: absolute;
                    visibility:hidden;
                    width: 250px;
                    opacity:1;
                    right: -1px;
                    margin-top: -1px;
                    background-color: #fff;
                    border: 1px solid #E0E0E0;
                    > li {
                        display: block;
                        position: relative;

                        &:hover {
                            background-color: #8ac0cf;
                            a {
                                color: #fff;
                            }
                        }
                        > a {
                            display: block;
                            padding: 5px 10px;
                            text-align: left;
                            color: #8ac0cf;
                            font-size: 14px;
                        }
                    }
                }
            }
            .logosmall {
                display:none;
                float: left ;
                padding-top: 1px;
                max-width: 111px;
}
        }
        .middlebar {
            height: 75px;
            top:57px;
            height: 41px;
            position:absolute;
            width:100%;
            background-color: @navbar-bg-color;
            .dropdown {
                position:relative;
                &:hover {
                    ul {
                        visibility:visible;
                        opacity:1;
                        background-color: @navbar-dropdown-hover-bg-color;
                    }
                }
                ul {
                    position: absolute;
                    visibility:hidden;
                    opacity:0;
                    right: 0px;

                    li {
                        padding: 0;
                        margin: 0;
                        min-width: 250px;
                        width: 100%;
                        a {
                            display: block;
                            width: 100%;
                            padding: 10px;
                            &:hover {
                                background-color: @navbar-bg-color;
                            }
                        }
                    }

                }
            }
            .middlebar-menu {
                font-size: 12px;
            }
            ul.middlebar-menu-left {
                position: absolute;
                height: 100%;
                padding-left: 10px;
                min-width: 200px;
                li {
                    display: inline-block;
                    vertical-align: middle;
                    height: 75px;
                    font-size: 12px;
                    border: none;
                    a {
                        display: block;
                        height: 100%;
                        color: @topbar-right-link-color;
                        &:hover {
                            color: @topbar-right-link-hover-color;
                        }
                        &:active {
                            color: @topbar-right-link-active-color;
                        }
                        &:focus {
                            color: @topbar-right-link-focus-color;
                        }
                    }
                }

            }
            ul.middlebar-menu-right {
                position: absolute;
                top: 0px;
                right: 0px;
                height: 100%;
                padding: 0px 0px 0px 0px;
                margin: 0px 0px 0px 0px;
                > li {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    height: 100%;
                    &:first-child {
                        border-left: 1px solid @middlebar-list-border-color;
                    }
                    #trouwkaarten {
                        &:hover{border-bottom-color:#f9bdb2};
                        &.active {
                            background: #f9bdb2;
                            color: #262626;
                            border-bottom-color: #ec9283;
                        }
                    }
                    #geboortekaartjes {
                        &:hover{border-bottom-color:#419186};
                        &.active {
                            background: #65b9ae;
                            border-bottom-color: #419186;
                            color: #fff;
                        }
                    }
                    #uitnodiging-maken {
                        &:hover{border-bottom-color:#87b0cc};
                        &.active {
                            background: #87b0cc;
                            border-bottom-color: #6090b5;
                            color: #fff;
                        }
                    }
                    #rouwkaarten {
                        &:hover{border-bottom-color:#c8c5b5};
                        &.active {
                            background: #c8c5b5;
                            border-bottom-color: #afab96;
                            color: #fff;
                        }
                    }
                    #wenskaarten {
                        &:hover{border-bottom-color:#fee09b};
                        &.active {
                            background: #fee09b;
                            color: #262626;
                            border-bottom-color: #f1c55f;
                        }
                    }
                    > a {

                        position: relative;
                        display: inline-block;
                        vertical-align: middle;
                        height: 100%;
                        border-bottom:3px solid #e5e9e9;
                        color:#262626;
                        background-color:#f8f9f9;
                        overflow: hidden;
                        padding: 0px 13px 0px 13px;
                        line-height: 38px;
                        font-size: 16px;
                        font-family:"Open Sans",Verdana;
                        &:active {
                            color: @middlebar-link-active-color;
                        }
                        &:focus {
                            color: @middlebar-link-focus-color;
                        }
                        &:hover{
                            text-decoration:none;
                        }
                    }
                    > ul {
                        display:none;
                    }
                    i {
                        display: inline-block;
                        vertical-align: middle;
                        padding: 0px 5px;
                    }
                }
            }
            .navbar-search-field {
                position: absolute;
                background-color: @navbar-search-bg-color;
                top: 0px;
                right: 8px;
                width: 300px;
                z-index: 89;
                overflow: hidden;
                padding: 5px;
                .search-button-field {
                    float: right;
                    display: block;
                    height: 65px;
                    border: none;
                    width: auto;
                    padding: 0px 10px 0px 15px;
                    cursor: pointer;
                    background-color: transparent;
                }
                .search-input-field {
                    overflow: hidden;
                    input[type="text"] {
                        display: block;
                        border: none;
                        width: 100%;
                        height: 65px;
                        padding: 0px 10px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width : @md) {
    .logo {
        display:none;
    }
    .logosmall {
        display:block !important;
        max-height: 49px;
        max-width: 100% !important;
        padding-left:2px;
        padding-top:1px;
        padding-bottom:1px;
    }


}
@media only screen and (width : @xs) {

    .logosmall {
        max-height: 40px !important;
    }
}

@media only screen and (max-width : (@xs - 1)) {

    .logosmall {
        display:none !important;
    }
}





@media only screen and (min-width : @md) {
a.logo {
    position: absolute;
    display: block;
    height: 62px;
    top:-7px;
    left:0px;
    img {
        position: relative;
    }
    &:hover {
        opacity: 0.5;
        transition: all 0.3s ease-out;

    }
    &:active {
        color: @logo-link-active-color;
    }
    &:focus {
        color: @logo-link-focus-color;
    }
}


}

.navbar-fixed {
    position: fixed;
}

.sticky-link {
    display:block;
    position: fixed;
    width: 240px;
    height: 40px;
    bottom: 0%;
    right: 0%;
    color: #fff;
    background: url(/img/bt-banner-01.png) no-repeat;
    z-index: 9999;
    a {
        color: #fff;
        padding: 15px 10px 10px 6px;
        display: block;
        font-size: 12px;
        text-decoration: none !important;
    }
}

