ul.pills {
    padding-left: 0;
    margin-bottom: 10px;
    list-style: none;
    overflow: hidden;
    margin-bottom: 5px;
    border-bottom: 1px solid @pills-border-bottom-color;
    background-color: @pills-bg-color;
    > li {
        position: relative;
        display: block;
        float: left;
        margin-bottom: -1px;
        margin-right: 5px;
        border: 1px solid @pills-list-border-color;
        z-index: 999; 
        > a {
            position: relative;
            display: block;
            padding: 5px 10px;
            color: @pills-link-color;
            background-color: @pills-link-bg-color;
            &:hover {
                background-color: @pills-link-hover-bg-color;
                color: @pills-link-hover-color;
            }
            &:active {
                background-color: @pills-link-active-bg-color;
                color: @pills-link-active-color;
            }
            &:focus {
                background-color: @pills-link-focus-bg-color;
                color: @pills-link-focus-color;
            }
        }
    }
}