.thumbnail {
    position: relative;
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
    background-color: @thumbnail-bg-color;
    border: 1px solid @thumbnail-border-color;
    margin-bottom: 10px;
    text-align: left;
    cursor: pointer;
    &:hover {
        img {
            opacity: 0.5;
            transition: all 0.3s ease-out;

        }
        .thumbnail-footer {
            opacity: 1;
        }
    }
    img {
        width: 100%;
    }
    .thumbnail-footer {
        width: 100%;
        margin-top: 5px;
        padding: 5px;
        background-color: @thumbnail-footer-bg-color;
        opacity: 0.8;
        h3 {
            margin: 0 auto;
            color: @thumbnail-footer-h3-color;
        }
        p {
            color: @thumbnail-footer-p-color;
        }
    }
}


.thumbnail-fluid {
    padding: 0!important;
    .thumbnail-footer {
        margin-top: 0;
        background-color: @thumbnail-fluid-footer-bg-color;
        h3 {
            color: @thumbnail-fluid-footer-h3-color;
        }
        p {
            color: @thumbnail-fluid-footer-p-color;
        }
    }
    .thumbnail-img {
        background-color: @thumbnail-fluid-img-bg-color;
        border: none;
    }
}

.thumbnail-button {
    padding: 0!important;
    border-radius: 0px;
    border: 0px solid @thumbnail-button-border-color;
    width: 100%;
    height:100%;
    .thumbnail-button-button {
        opacity: 0.8;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: transparent;

        .bt02 {
            background: url('/img/bg-button/02.png') no-repeat;

        }
        //background-position: right bottom;
        color: #fff;
        padding: 15px 20px 0 20px;
        height: 45px;
        font-size:18px;
        font-family: "Open Sans", Verdana;

        @media only screen and (max-width: 635px) {
            font-size: 14px !important;
            padding: 15px 10px 0 15px !important;
        }
        @media only screen and (max-width: 480px) {
            font-size: 11px !important;
            background-size: cover !important;
            padding: 8px 7px 6px 10px !important;
            height: auto !important;
        }
    }
    .bt01 {
        background: url('/img/bg-button/01.png') no-repeat;
    }
    .bt04 {
        background: url('/img/bg-button/02.png') no-repeat;
    }
    .bt02 {
        background: url('/img/bg-button/03.png') no-repeat;
        color: #262626 !important;
    }
    .bt03 {
        background: url('/img/bg-button/04.png') no-repeat;
    }
    .bt05 {
        background: url('/img/bg-button/05.png') no-repeat;
        color: #262626 !important;
    }
    .bt06 {
        background: url('/img/bg-button/06.png') no-repeat;
        color: #262626;
        font-size: 13px;


    }



    @media only screen and (max-width : @sm) {
        height: 168px;
    }
     @media only screen and (max-width : 635px) {
        height: auto;
    }
    @media only screen and (max-width : @xsm) {
        max-height: 140px;
    }

    overflow:hidden;
    > img {
        display: block;
        margin: auto;
    }
    > .banner {
        width: auto;
        float: right;
    }
}

.tb-small {
            @media only screen and (max-width : @sm) and (min-width : @xsm) {
                max-height:115px;
                .thumbnail-button-button {
                    font-size: 12px;
                    padding: 10px 5px 0px 10px;
                    height:35px;
                }
            }
        }

.thumbnail-banner {
    margin-bottom:10px;
    position:relative;
    padding: 0!important;
    border-radius: 0px;
    border: 0px solid @thumbnail-button-border-color;
    width: 100%;
    height:259px;
    cursor: default;
    .thumbnail-banner-button {
        position: absolute;
        top: 156px;
        left: 485px;
        background-color: transparent;
        background: url('/img/bt-banner-01.png') no-repeat;
        //background-position: right bottom;
        color: #fff;
        padding: 12px 40px 0 13px;
        height: 45px;
        font-size:15px;
        width:233px;
        &:hover {
            background-position: 0 -55px;
        }
        &:active {
            background-position:0 -110px;
            line-height: 30px;
        }
        @media only screen and (max-width : @sm) {
            display:none !important;
        }

    }

    @media only screen and (max-width : @sm) {
        height: 220px;
    }
    @media only screen and (max-width : @xsm) {
        max-height: 140px;
    }

    overflow:hidden;
    > img {
        height: 100%;
        display: block;
        margin: auto;
        width: auto;
        float: right;

        @media only screen and (max-width : @xsm) {
            max-height: 140px;
        }

    }
}