.visual {
    position: relative;
    display: block;
    overflow: hidden;
    border-bottom: 1px solid @visual-border-bottom;
    background: url(https://hippe-geboortekaartjes.nl/img/bg-visual.png) repeat 0 0;
    background-color: @visual-bg-color;
    overflow: hidden;
    min-height: 50px;
    visual-content {
        position: relative;
        display: block;
        height: 100%;
        width: 100%;
    }

}

@media screen and (max-width: @xsm){
    .visual {
        display: none;
    }     
}

@media screen and (max-width: @md){
    .visual {
        .visual-content-left, .visual-content-right {
            display: none;
            img {
                margin-top: 0;
            }
        }
    }     
}

@media screen and (min-width: @md){
    .visual {
        .visual-content-left, .visual-content-right {
            display: block;
            img {
                margin-top: 100%;
            }
        }
    }     
}

.visual-background-1 {
    background: url(https://hippe-geboortekaartjes.nl/img/bg-visual.png) repeat 0 0;
}

.visual-background-2 {
    min-height: 400px;
    background: url(https://hippe-geboortekaartjes.nl/img/zmbanner.jpg) top center;
}